:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.z-tab-nav-panel {
  display: flex;
  flex: 1;
  flex-basis: 100%;
  flex-shrink: 1;
  max-height: calc(100% - 33px);
}

.pac-model-ql-lab__stats {
  padding: 5px;
  display: flex;
  align-items: center;
}

.pac-model-ql-lab__result {
  flex: 1;
  width: 100%;
  max-height: calc(100% - 33px);
}

.pac-model-sql-lab__editor-toolbar {
  padding: 5px;
}

.emoji-loader {
  position: absolute;
}
.emoji-loader::before {
  font-size: 2rem;
}

[z-button][data-icon-only],
z-button[data-icon-only] {
  .emoji-loader::before {
    font-size: .75rem;
    line-height: .75rem;
  }
}
