<div class="mb-3 flex justify-between items-center">
  <div class="h-[41px] flex items-center text-lg font-semibold text-gray-900">
    {{ 'PAC.Xpert.Logs' | translate: {Default: 'Logs'} }}
  </div>
</div>

<div class="w-full relative overflow-auto flex-1"
  waIntersectionObserver
  waIntersectionThreshold="0.5">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">Title</th>
        <th scope="col" class="px-6 py-3">Created By</th>
        <th scope="col" class="px-6 py-3">End User</th>
        <th scope="col" class="px-6 py-3">Updated At</th>
      </tr>
    </thead>
    <tbody>
      @for (conv of conversations(); track conv.id) {
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            {{conv.title}}
          </th>
          <td class="px-6 py-4">
            {{conv.createdById}}
          </td>
          <td class="px-6 py-4">
            {{conv.fromEndUserId}}
          </td>
          <td class="px-6 py-4">{{ conv.updatedAt | date: 'long' }}</td>
        </tr>
      }
    </tbody>
  </table>

  @if (loading()) {
    <div class="flex justify-center">
      <ngm-spin />
    </div>
  }

  @if (!done()) {
    <button (waIntersectionObservee)="onIntersection()" class="w-full flex justify-center p-2 cursor-pointer hover:bg-gray-100"
      [disabled]="loading()"
      (click)="onIntersection()"
    >
      <i class="ri-arrow-down-wide-line"></i>
    </button>
  }

</div>
