<div fNodeInput [fInputId]="node().key" fInputConnectableSide="left" class="left absolute"></div>

<div class="relative bg-zinc-50 flex items-center gap-1 rounded-lg px-2 py-1 text-sm text-text-placeholder">

  <div class="flex flex-col gap-1 overflow-hidden">
    <div class="flex items-center gap-2 overflow-hidden">
      <span class="text-xs text-zinc-400">输入</span>
      <span class="inline-flex items-center gap-1 rounded px-2 py-0.5 text-xs font-medium text-orange-500">
        <span class="h-4 w-4 shrink-0 rounded bg-orange-200"></span>
        <span class="text-primary-500 font-mono truncate text-left text-sm">
          {{ inputVariable() || 'unknown' }}
        </span>
      </span>
    </div>

    <div class="flex items-center gap-2">
      <span class="text-xs text-zinc-400">输出</span>
      <span class="inline-flex items-center gap-1 rounded bg-zinc-100 px-2 py-0.5 text-xs font-medium text-zinc-600">
        <span class="h-4 w-4 rounded bg-zinc-200"></span>
        <span>{{ 'output' }}</span>
      </span>
      <span class="text-[10px] text-zinc-400">
        {{ 'string' }}
      </span>
    </div>
  </div>

  <div fNodeOutput [fOutputId]="node().key + '/edge'" fOutputConnectableSide="right" class="right group" [fOutputMultiple]="true"
    [fCanBeConnectedInputs]="canBeConnectedInputs()">
    <div class="inner-dot cursor-crosshair">
      <ngm-plus-svg class="w-2 h-2 text-white" />
    </div>
  </div>
</div>
