<div class="relative flex h-[calc(100vh-56px)] w-full min-w-[1024px] overflow-x-auto">
  <div class="h-full min-w-0 flex-1">
    <div class="flex h-full flex-col px-14">
      <div class="relative flex flex-col gap-y-0.5 pb-2 pt-4">
        <div class="flex items-center gap-x-2">
          <span class="text-xs font-semibold uppercase bg-gradient-to-br from-[rgba(11,165,236,0.95)] to-[rgba(21,90,239,0.95)] bg-clip-text text-transparent"
            >添加文档</span
          ><span class="system-2xs-regular text-divider-regular">/</span>
          <div class="flex gap-x-1">
            <div class="h-1 rounded-lg w-2 bg-primary-600"></div>
            <div class="h-1 w-1 rounded-lg bg-divider-deep"></div>
            <div class="h-1 w-1 rounded-lg bg-divider-deep"></div>
          </div>
        </div>
        <div class="system-md-semibold text-text-primary">选择数据源</div>
        <a [routerLink]="['../']" class="cursor-pointer">
          <button
            type="button"
            class="btn disabled:btn-disabled btn-secondary-accent btn-medium absolute -left-11 top-3.5 size-9 rounded-full p-0"
          >
            <i class="ri-arrow-left-line"></i>
          </button></a>
        <div class="absolute size-[112px] rounded-full bg-util-colors-blue-brand-blue-brand-500 blur-[80px] left-8 top-[-34px] opacity-20"></div>
      </div>
      <div class="grow overflow-y-auto">
        <div class="flex flex-col gap-y-5 pt-4">
          <div class="grid w-full grid-cols-4 gap-1">
            @for (item of sourceStrategies(); track item.source.key) {
              <div class="flex cursor-pointer items-center gap-2 rounded-xl border p-3 shadow-sm
                border-gray-100 bg-components-card-bg ring-[0.5px] ring-inset ring-gray-50 hover:border-gray-200"
                [class.!border-primary-600]="selectedSource() && selectedSource().key === item.source.key"
                [class.!ring-primary-600]="selectedSource() && selectedSource().key === item.source.key"
                (click)="selectedSource.set(item.source)">
                <div
                  class="flex size-8 shrink-0 items-center justify-center rounded-lg border-[0.5px] border-components-panel-border bg-background-default-dodge p-1.5"
                >
                  <div class="flex items-center justify-center size-6 rounded-md shadow-xs">
                    <xp-custom-icon class="contents" [icon]="item.strategy.meta.icon" />
                  </div>
                </div>
                <div class="system-sm-medium line-clamp-2 grow text-text-primary" [title]="item.strategy.meta.label | i18n">
                  {{ item.strategy.meta.label | i18n }}
                </div>
              </div>
            }
          </div>
          <div class="flex flex-col">
            <div class="flex items-center justify-between gap-x-2">
              @if (integration(); as integration) {
                <div class="flex items-center gap-x-1 overflow-hidden">
                  <div class="grow overflow-hidden" data-state="closed">
                    <div class="flex cursor-pointer items-center gap-x-2 rounded-md p-1 pr-2 hover:bg-state-base-hover"
                      [cdkMenuTriggerFor]="integrationMenu">
                      <div
                        class="flex shrink-0 items-center justify-center rounded-md border border-divider-regular bg-components-icon-bg-orange-dark-solid"
                        style="width: 20px; height: 20px"
                      >
                        <span class="bg-gradient-to-b from-components-avatar-shape-fill-stop-0 to-components-avatar-shape-fill-stop-100 bg-clip-text text-[13px] font-semibold leading-[1.2] text-transparent opacity-90"
                          >D</span>
                      </div>
                      <div class="flex grow items-center gap-x-1 overflow-hidden">
                        <span class="system-md-semibold grow truncate text-text-secondary">{{integration.service}}</span
                        ><i class="ri-arrow-down-s-line"></i>
                      </div>
                    </div>
                  </div>
                  <div class="w-[1px] bg-divider-regular mx-1 h-3.5 shrink-0"></div>
                  <!-- <button
                    type="button"
                    class="btn disabled:btn-disabled btn-ghost btn-small size-6 shrink-0 px-1"
                  >
                    <i class="ri-equalizer-2-line"></i>
                  </button> -->
                </div>
              }
              <a
                class="system-xs-medium flex shrink-0 items-center gap-x-1 text-text-accent"
                target="_blank"
                rel="noopener noreferrer"
                ><i class="ri-book-open-line"></i>
                <span title="Docs">Docs</span>
              </a>
            </div>
            <div class="mt-2 rounded-xl border border-components-panel-border bg-background-default-subtle">
              <form class="w-full">
                <div class="flex items-center gap-x-1 px-4 py-2">
                  <div class="flex grow cursor-pointer select-none items-center gap-x-0.5">
                    <span class="system-sm-semibold-uppercase text-text-secondary">选项</span>
                    <i class="ri-arrow-down-s-fill shrink-0 text-text-quaternary"></i>
                  </div>
                  <button type="button" class="btn disabled:btn-disabled btn-primary btn-medium shrink-0 gap-x-0.5">
                    <i class="ri-play-line"></i>
                    <span class="px-0.5">运行</span>
                  </button>
                </div>
                <div class="flex flex-col gap-3 border-t border-divider-subtle px-4 py-3"></div>
              </form>
            </div>
          </div>
          <div class="flex items-center gap-x-2 overflow-hidden">
            <div class="flex grow items-center justify-end gap-x-2">
              <a 
                ><button type="button" class="btn disabled:btn-disabled btn-ghost btn-medium px-3 py-2">取消</button>
              </a>
              <button type="button" class="btn disabled:btn-disabled btn-primary btn-medium gap-x-0.5" disabled="">
                <span class="px-0.5">下一步</span><i class="ri-arrow-right-line"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="h-full min-w-0 flex-1"><div class="flex h-full flex-col pl-2 pt-2"></div></div>
</div>


<ng-template #integrationMenu >
  <div cdkMenu class="cdk-menu__large" >
    @for (option of integrations(); track option.value) {
      <div cdkMenuItem class="group/item overflow-hidden"
        [class.active]="option.value === integrationId()" (click)="integrationId.set(option.value)">
        <div class="relative flex items-start gap-2">
          @if (option.icon) {
            <img class="w-8 h-8 rounded-lg" [src]="'/assets/images/integrations/' + option.icon">
          }
          <div class="max-w-full flex flex-col items-start overflow-hidden">
            <div class="text-start">{{option.label | i18n}}</div>
            <div class="text-start text-sm whitespace-normal line-clamp-2 opacity-60 group-hover/item:opacity-80">{{option.description}}</div>
          </div>
        </div>
      </div>
    } @empty {
      <div class="p-4 text-center text-text-tertiary">
        {{ 'PAC.Knowledgebase.NoIntegrationYet' | translate: {Default: 'No knowledge base integration yet!'} }}
      </div>
    }
    <div class="border-t border-solid border-divider-regular my-1"></div>
    <div cdkMenuItem (click)="openIntegrations()">
      <i class="ri-add-line mr-1"></i>
      {{ 'PAC.Knowledgebase.CreateKBIntegration' | translate: {Default: 'Create knowledgebase integration'} }}
    </div>
  </div>
</ng-template>