@for (task of tasks(); track task.id) {
<div data-slot="accordion" data-orientation="vertical">
  <div data-state="open" data-orientation="vertical" data-slot="accordion-item" class="border-b last:border-b-0">
    <h3 data-orientation="vertical" data-state="open" class="flex">
      <button type="button" class="focus-visible:border-ring cursor-pointer focus-visible:ring-ring/50 flex-1 items-start gap-2 rounded-md text-left text-sm font-medium transition-all outline-none focus-visible:ring-[3px] disabled:pointer-events-none disabled:opacity-50 flex p-0 flex-row-reverse justify-between text-text-secondary"
        (click)="task.__expand__=!task.__expand__">
        <div class="break-all flex-1">
          <span class="text-base">{{task.name}}</span>
        </div>
        <i class="ri-arrow-down-s-line transition-transform" [class.rotate-180]="task.__expand__"></i>
      </button>
    </h3>
    @if (task.__expand__) {
      <div role="region" class="overflow-hidden text-sm">
        <div class="pt-0">
          @for (step of task.steps; track step.id) {
            <div class="flex items-center ml-4">
              <div class="font-semibold mr-2">
                {{step.stepIndex}}.
              </div>
              <div class="flex-1 inline-block rounded py-1 px-2 text-sm mr-2 truncate">
                {{step.description}}
              </div>
            </div>
          }
        </div>
      </div>
    }
  </div>
</div>
}