<div class="px-2 text-base font-medium">{{ 'PAC.Chat.Tasks' | translate: {Default: 'Tasks'} }}: </div>

@for (task of taskDetails(); track task.id) {
  <div class="task flex w-full rounded-2xl px-6 py-4 shadow-sm border-[0.5px] border-solid border-gray-300 hover:shadow-md"
    [class.deleted]="!!task.deletedAt"
    [matTooltip]="task.deletedAt ? ('PAC.Chat.TaskDeleted' | translate: {Default: 'The task has been deleted'}) : null "
    matTooltipPosition="above"
  >
    <div class="flex-1 flex flex-col justify-start items-start overflow-hidden">
      <div class="font-medium truncate">{{task.name}}</div>
      <div class="text-text-secondary truncate">{{task.schedule}}</div>
    </div>

    <div class="flex justify-center items-center rounded-full hover:bg-hover-bg"
      [cdkMenuTriggerFor]="menu"
      [cdkMenuTriggerData]="{task: task}"
    >
      <i class="ri-more-2-fill"></i>
    </div>
  </div>
} @empty {
  <div class="p-4 text-text-secondary">{{'PAC.Chat.NoTasksAvailable' | translate: {Default: 'No tasks available'} }}</div>
}

<ng-template #menu let-task="task">
  <div cdkMenu class="cdk-menu__large">
    <div cdkMenuItem (click)="editTask(task)">
      <i class="ri-edit-line mr-1"></i>
      {{ 'PAC.ACTIONS.Edit' | translate: { Default: 'Edit' } }}
    </div>
    @if (task.status === eXpertTaskStatus.RUNNING) {
      <div cdkMenuItem>
        <i class="ri-pause-circle-line mr-1"></i>
        {{ 'PAC.Chat.Pause' | translate: { Default: 'Pause' } }}
      </div>
    }
    <div class="border-b border-solid border-divider-regular my-1"></div>
    <div cdkMenuItem routerLink="/chat/tasks">
      <i class="ri-list-check-3 mr-1"></i>
      {{ 'PAC.Xpert.ViewAllTasks' | translate: { Default: 'View all tasks' } }}
    </div>
  </div>
</ng-template>