@use 'sass:map';
@use 'libs/material-theme/src/styles/theme-compat' as themeCompat;
@use './style/card-theme' as card;
@use './style/button-theme' as button-theme;
@use './style/density-theme' as mat-density;
@use './directives/appearance-theme' as appearance;
@use './directives/button-group-theme' as button-group;

@mixin color($config-or-theme) {
  $config: themeCompat.m2-get-color-config($config-or-theme);

  @include card.color($config-or-theme);
  @include button-theme.color($config-or-theme);
  @include appearance.color($config-or-theme);
  @include button-group.color($config-or-theme);
}

@mixin typography($config-or-theme) {
}

@mixin density($config-or-theme) {
  @include card.density($config-or-theme);
  @include button-theme.density($config-or-theme);
  @include mat-density.density($config-or-theme);
  @include appearance.density($config-or-theme);
  @include button-group.density($config-or-theme);
}

@mixin theme($theme) {
  $color: themeCompat.m2-get-color-config($theme);
  $density: themeCompat.m2-get-density-config($theme);
  $typography: themeCompat.m2-get-typography-config($theme);

  @if $color != null {
    @include color($color);
  }
  @if $density != null {
    @include density($density);
  }
  @if $typography != null {
    @include typography($typography);
  }
}
