@reference "../../../../../styles/tailwind-reference.css";
:host {
  @apply flex flex-col;
}

[z-input] {
  @apply w-12 text-xs bg-components-list-option-active-bg text-text-secondary border-2 border-solid border-divider-deep rounded focus:outline-none focus:bg-components-input-bg-active focus:border-slate-500 py-1 px-2;
}

.pac-widget-designer__color {
  @apply relative;

  [z-input] {
    @apply pr-8 w-full;
  }
  .ngm-color-input__trigger {
    @apply absolute right-0;
  }
}

.pac-image-tile.active {
  @apply outline-violet-500;
}
.pac-image-tile {
  .pac-image-tile__copy {
    @apply absolute;
  }
}

.ngm-select-element {
  [role='combobox'] {
    font-size: 10px;
    line-height: 12px;
    padding: 0 10px;
  }
}
