<div class="pac-page-header">
  <div class="pac-page-title">{{ 'PAC.MENU.MANAGE_TENANT' | translate: {Default: "Manage Tenant"} }}</div>
    
  <nav z-tab-nav-bar class="pac-tab-nav-bar" color="accent" alignTabs="start" stretchTabs="false" disableRipple
    [tabPanel]="tabPanel"
  >
    <span z-tab-link [routerLink]="['./settings']"
      routerLinkActive #rla="routerLinkActive"
      [routerLinkActiveOptions]="{exact: true}"
      [active]="rla.isActive"
    >
      <z-icon nxDensity="cosy" zType="room_preferences"></z-icon>
      {{ 'PAC.MENU.TENANT.SETTINGS' | translate: {Default: "Settings"} }}
    </span>

    <span z-tab-link [routerLink]="['./tags']"
      routerLinkActive #rla2="routerLinkActive"
      [routerLinkActiveOptions]="{exact: true}"
      [active]="rla2.isActive"
    >
      <z-icon zType="sell"></z-icon>
      {{ 'PAC.KEY_WORDS.Tags' | translate: {Default: "Tags"} }}
    </span>

    <!-- <span z-tab-link [routerLink]="['./demo']"
      routerLinkActive #rla2="routerLinkActive"
      [routerLinkActiveOptions]="{exact: true}"
      [active]="rla2.isActive"
    >
      <z-icon nxDensity="cosy" zType="history_edu"></z-icon>
      {{ 'PAC.MENU.TENANT.DEMO' | translate: {Default: "Demo"} }}
    </span> -->
  </nav>
</div>
<z-divider></z-divider>

<z-tab-nav-panel #tabPanel class="pac-page-body flex flex-col items-center"
  [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig.path">
  <router-outlet #o="outlet"></router-outlet>
</z-tab-nav-panel>