<header mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <h4 style="pointer-events: none;">Create a New Notification Destination</h4>
</header>

<div mat-dialog-content>
    <mat-horizontal-stepper [linear]="true" #stepper>
        <mat-step [stepControl]="typeFormGroup" >
            <form [formGroup]="typeFormGroup">
                <ng-template matStepLabel>Type Selection</ng-template>

                <ul formControlName="type" class="pac-connection-creation__type-selection ngm-cdk-listbox" cdkListbox
                    [cdkListboxMultiple]="false" [cdkListboxCompareWith]="compareWithType"
                    (cdkListboxValueChange)="stepper.next()">
                    @for (item of destinationTypesWithSelection$ | async; track item.type) {
                        <li [cdkOption]="item" class="ngm-cdk-option">
                            <div fxLayout="row" fxLayoutAlign="space-between center" >
                                <span>
                                    <img src="{{IMG_ROOT}}/{{item.type}}.png" width="32" height="32">
                                    {{item.name}}
                                </span>
                                <z-icon zType="navigate_next"></z-icon>
                            </div>
                        </li>
                    }
                </ul>
            </form>
        </mat-step>

        <mat-step [stepControl]="configurationFormGroup" label="Configuration">
            <form [formGroup]="configurationFormGroup" *ngIf="type" class="pac-connection-creation__configuration">
                <div class="pac-connection-creation__configuration-content">
                    <div fxLayout="row" fxLayoutAlign="center center" >
                        <img src="{{IMG_ROOT}}/{{type.type}}.png" width="64" height="64">
                        {{type.name}}
                    </div>
                    
                    <z-form-field appearance="fill">
                        <z-form-label>Name</z-form-label>
                        <input z-input formControlName="name" required>
                        <z-form-message zType="error" *ngIf="nameCtrl.invalid">Name required</z-form-message>
                    </z-form-field>

                    <formly-form
                        [form]="options"
                        [fields]="fields$ | async"
                        [model]="model"
                        >
                    </formly-form>
                </div>
            </form>
        </mat-step>

    </mat-horizontal-stepper>
</div>

<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">

    <button z-button zType="outline" [disabled]="configurationFormGroup.pristine" (click)="onReset()">Reset</button>

    <div>
        <button z-button zType="ghost" mat-dialog-close cdkFocusInitial>Cancel</button>

        <button z-button zType="default" color="accent" [disabled]="configurationFormGroup.invalid || creating" (click)="onSave()">Save</button>
    </div>
    
</div>
