<div class="blocks four">
  <div class="icon-form-field">
      <mat-icon color="primary">translate</mat-icon>
      <z-form-field>
      <z-form-label>{{'PAC.MENU.GENERAL.LANGUAGE' | translate: {Default: "Language"} }}</z-form-label>
        <ngm-select [placeholder]="'PAC.MENU.GENERAL.LANGUAGE_PLACEHOLDER' | translate: {Default: 'Select Language'} "
                    [ngModel]="preferredLanguage$ | async"
                    (ngModelChange)="onLanguageSelect({ value: $event })"
                    [selectOptions]="languages.map(l => ({ value: l.value, label: l.label }))"
                    name="language">
        </ngm-select>
      </z-form-field>
    </div>
  <div class="icon-form-field">
    <mat-icon color="primary">color_lens</mat-icon>
    <z-form-field>
      <z-form-label>{{'PAC.MENU.GENERAL.THEME' | translate: {Default: "Theme"} }}</z-form-label>
      <ngm-select [ngModel]="preferredTheme$()"
                  (ngModelChange)="onThemeSelect({ value: $event })"
                  [selectOptions]="themes.map(l => ({ value: l.value, label: l.label }))"
                  name="theme">
      </ngm-select>
    </z-form-field>
  </div>
</div>
