<div clas="flex flex-col">
  <label class="block p-2">{{ 'XP.Xpert.MemoryType' | translate: { Default: 'Memory Type' } }}</label>
  <!-- <xp-radio-select [options]="options()" [(ngModel)]="type" /> -->
</div>

<section class="memory-section">
  <z-checkbox class="memory-checkbox" [(ngModel)]="profileEnabled">
    {{ 'XP.Xpert.LongTermMemoryTypeEnum.UserProfile' | translate: { Default: 'User Profile' } }}
  </z-checkbox>
  @if (profileEnabled) {
    <div class="flex items-center px-2">
      <label>{{ 'XP.Xpert.AfterSeconds' | translate: { Default: 'After Seconds' } }}</label>

      <i
        class="ri-question-line mr-4 shrink-0 text-text-quaternary hover:text-text-tertiary"
        [zTooltip]="
          'XP.Xpert.AfterSecondsTooltip'
            | translate
              : {
                  Default:
                    'The number of seconds after the conversation ends to summarize, if there is no continuation of the conversation'
                }
        "
        zPosition="top"
      ></i>

      <z-slider
        class="grow"
        min="0"
        max="100"
        step="1"
        [showTickMarks]="true"
        [showValueLabel]="true"
        [formatValue]="formatLabel"
        [(ngModel)]="afterSeconds"
      ></z-slider>
    </div>

    <copilot-prompt-editor
      @heightChangeAnimation
      class="relative xp-card-border-gradient self-stretch"
      role="system"
      [tooltip]="
        'XP.Xpert.ProfileMemoryPromptTooltip'
          | translate: { Default: 'Prompt guide AI to extract user information through instructions and constraints' }
      "
      [(prompt)]="profilePrompt"
      initHeight="100"
    />
  }
</section>

<section class="memory-section">
  <z-checkbox class="memory-checkbox" [(ngModel)]="qaEnabled">
    {{ 'XP.Xpert.LongTermMemoryTypeEnum.QuestionAnswer' | translate: { Default: 'Question/Answer' } }}
  </z-checkbox>

  @if (qaEnabled) {
    <copilot-prompt-editor
      @heightChangeAnimation
      class="relative shadow-sm xp-card-border-gradient self-stretch"
      role="system"
      [tooltip]="
        'XP.Xpert.QAMemoryPromptTooltip'
          | translate
            : {
                Default:
                  'Prompt to use instructions and constraints to guide AI to summarize successful experiences of conversation question and answer'
              }
      "
      [(prompt)]="qaPrompt"
      initHeight="100"
    />
  }
</section>

<section class="memory-section" [xpTooltip]="customInDevelopment" [hideDelay]="100">
  <z-checkbox class="memory-checkbox" [zDisabled]="true">
    {{ 'XP.Xpert.LongTermMemoryTypeEnum.Custom' | translate: { Default: 'Custom' } }}
  </z-checkbox>
</section>

<ng-template #customInDevelopment>
  <xp-in-development @overlayAnimation1 feature="Custom Memory" class="w-80" />
</ng-template>
