@use 'sass:map';
@use 'sass:color';
@use 'libs/material-theme/src/styles/theme-compat' as themeCompat;
@use '../theming' as ocap;
@reference "../../../tailwind-workspace-reference.css";
@import 'tailwindcss';

// Define a theme.
$primary: themeCompat.m2-define-palette(themeCompat.$m2-blue-grey-palette, 600);
$accent: themeCompat.m2-define-palette(themeCompat.$m2-amber-palette, A700, A400, A200);

$light-theme: themeCompat.m2-define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent
    ),
    density: -1
  )
);

$dark-theme: themeCompat.m2-define-dark-theme(
  (
    color: (
      primary: $primary,
      accent: $accent
    )
  )
);

@include themeCompat.core();

@include themeCompat.all-component-themes($light-theme);
@include ocap.core-theme($light-theme);
@include ocap.analytical-grid-theme($light-theme);
@include ocap.breadcrumb-theme($light-theme);
@include ocap.controls-theme($light-theme);
@include ocap.entity-theme($light-theme);
@include ocap.common-color($light-theme);
@include ocap.common-density($light-theme);

$config: themeCompat.m2-get-color-config($light-theme);
$foreground: map.get($config, foreground);
html {
  font-size: 14px;
  --ngm-color-primary: #{themeCompat.m2-get-color-from-palette($primary)};
  --ngm-color-on-primary-container: #{darken(themeCompat.m2-get-color-from-palette($primary), 30%)};
  --ngm-color-primary-container: #{lighten(themeCompat.m2-get-color-from-palette($primary), 30%)};
  --ngm-color-primary-container-variant: #{color.change(themeCompat.m2-get-color-from-palette($primary), $alpha: 0.1)};
  --ngm-color-secondary: #{themeCompat.m2-get-color-from-palette($accent)};
  --ngm-color-secondary-container: #{lighten(themeCompat.m2-get-color-from-palette($accent), 30%)};
  --ngm-color-outline: #{map.get($foreground, divider)};

  --ngm-app-background-color: white;
  --ngm-color-main-container-background: white;
  --ngm-color-on-surface: #1f1f1f;
  --ngm-color-on-surface-variant: #444746;
  --ngm-divider-color-secondary: theme('colors.neutral.100');
  --ngm-color-surface: white;
  --ngm-color-surface-container-low: theme('colors.neutral.50');
  --ngm-color-surface-container: theme('colors.neutral.100');
  --ngm-color-surface-container-high: #f2f2f2;
  --ngm-color-surface-container-highest: #e5e5e5;
  --ngm-color-outline-variant: theme('colors.neutral.100');
  --ngm-copilot-bg-color: var(--ngm-color-surface-container);
}

html.dark {
  --ngm-color-primary: #{themeCompat.m2-get-color-from-palette($primary)};
  --ngm-color-on-primary-container: #{darken(themeCompat.m2-get-color-from-palette($primary), 30%)};
  --ngm-color-primary-container: #{lighten(themeCompat.m2-get-color-from-palette($primary), 30%)};
  --ngm-color-primary-container-variant: #{color.change(themeCompat.m2-get-color-from-palette($primary), $alpha: 0.1)};
  --ngm-color-secondary: #{themeCompat.m2-get-color-from-palette($accent)};
  --ngm-color-secondary-container: #{lighten(themeCompat.m2-get-color-from-palette($accent), 30%)};
  --ngm-color-outline: #{map.get($foreground, divider)};

  --ngm-app-background-color: #1e1f20;
  --ngm-color-main-container-background: #1e1f20;
  --ngm-color-on-surface: #e3e3e3;
  --ngm-color-on-surface-variant: #444746;
  --ngm-divider-color-secondary: theme('colors.neutral.900');
  --ngm-color-surface: #16181c;
  --ngm-color-surface-container-low: #62626210;
  --ngm-color-surface-container: black;
  --ngm-color-surface-container-high: #24292f;
  --ngm-color-surface-container-highest: #2f353c;
  --ngm-color-outline-variant: theme('colors.neutral.800');
  --ngm-copilot-bg-color: var(--ngm-color-surface-container);

  @include themeCompat.all-component-themes($dark-theme);
  @include ocap.core-theme($dark-theme);
  @include ocap.analytical-grid-theme($dark-theme);
  @include ocap.breadcrumb-theme($dark-theme);
  @include ocap.controls-theme($dark-theme);
  @include ocap.entity-theme($dark-theme);
  @include ocap.common-color($dark-theme);
  @include ocap.common-density($dark-theme);
}

body {
  @apply text-neutral-800 dark:bg-black dark:text-neutral-100;
}
