@reference "../../../../tailwind-workspace-reference.css";
:host {
  @apply flex-1 flex flex-col;
  --ngm-property-select-container-bg-color: var(--ngm-color-surface-container-high);
  --ngm-property-select-container-ring-offset-color: var(--ngm-color-surface-container);
}

.ngm-property-select__create-calculation {
  @apply flex justify-center items-center;
}

.select-container {
  background-color: var(--ngm-property-select-container-bg-color);
  &:hover {
    --tw-ring-offset-color: var(--ngm-property-select-container-ring-offset-color);
  }
}

.mat-error {
  color: var(--destructive);
}

::ng-deep {
  .ngm-checkbox__property {
    @apply block w-60;

    .z-checkbox__label {
      @apply flex-1 overflow-hidden;
    }
  }
}
