@reference "../../../../tailwind-workspace-reference.css";
:host {
  @apply flex-1 flex flex-col;
  --ngm-property-select-container-bg-color: var(--ngm-color-surface-container-high);
  --ngm-property-select-container-ring-offset-color: var(--ngm-color-surface-container);
}

.ngm-property-select__create-calculation {
  @apply flex justify-center items-center;
}

.select-container {
  background-color: var(--ngm-property-select-container-bg-color);
  &:hover {
    --tw-ring-offset-color: var(--ngm-property-select-container-ring-offset-color);
  }
}

.mat-error {
  color: var(--mat-form-field-error-text-color);
}

::ng-deep {
  .ngm-property-select__parameter-menu {
    .mat-mdc-menu-item .mat-mdc-menu-item-text {
      display: flex;
      align-items: center;
    }
  }

  .ngm-property-select__panel {
    .mat-mdc-option.ngm-option__dimension,
    .mat-mdc-option.ngm-option__hierarchy,
    .mat-mdc-option.ngm-option__measure {
      padding-left: 16px;
    }

    .ngm-option__hidden {
      display: none;
      visibility: hidden;
    }
  }
}
