@use 'sass:map';
@use 'sass:color';
@use 'libs/material-theme/src/styles/theme-compat' as themeCompat;
@use './dimension/dimension-theme' as dimension;


@mixin color($config-or-theme) {
  $config: themeCompat.m2-get-color-config($config-or-theme);
  $background: map.get($config, background);
  $foreground: map.get($config, foreground);
  $primary: map.get($config, primary);
  $accent: map.get($config, accent);

  @include dimension.color($config-or-theme);
  
  .pac-model-entity__cube {
    [data-slot='accordion-title'],
    [data-slot='accordion-description'] {
      margin-right: unset;
      white-space: nowrap;
    }

    [data-slot='accordion-description'] {
      justify-content: flex-end;
    }

    .ngm-list-item {
      height: 36px;
      font-size: 1rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

@mixin density($config-or-theme) {
  @include dimension.density($config-or-theme);
}
