:host {
  --mat-expansion-container-background-color: transparent;
  
  @apply relative h-full flex-1 flex flex-col w-full overflow-hidden;
  &.pac-fullscreen {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
  }
}

.mat-mdc-tab-header {
  --mdc-secondary-navigation-tab-container-height: 34px;
}

.pac-model-entity__workspace {
  @apply flex flex-col;
}

.pac-model-entity__workspace-router {
  @apply flex flex-col overflow-hidden mb-1 mr-1;
}

.ngm-property-modeling {
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
}

.pac-model-entity__search {
  margin: 5px 0;
}

.mat-drawer.mat-drawer-side {
  @apply border-0;
}
