<div fNodeInput [fInputId]="node().key" fInputConnectableSide="top" class="top absolute"></div>

<div class="node-output-bottom flex items-center gap-2 h-3 absolute -bottom-[8px] left-1/2 -ml-2">
  <div fNodeOutput [fOutputId]="node().key + '/agent'" fOutputConnectableSide="bottom" [fOutputMultiple]="true"
    [fCanBeConnectedInputs]="canBeConnectedInputs()">
    <div class="inner-dot cursor-crosshair" [matTooltip]="'PAC.Xpert.ConnectAgents' | translate: {Default: 'Connect Agents'}" matTooltipPosition="above">
      <i class="ri-add-line w-2 h-2 flex justify-center items-center text-white"></i>
    </div>
  </div>
</div>
  
<div class="flex flex-wrap items-center gap-1 py-2 text-left">
  @for (execution of executions(); track execution) {
    <div>
      @switch (execution.status) {
        @case ('running') {
          <ngm-spin class="shrink-0 scale-90 origin-center" small />
        }
        @case ('fail') {
          <div class="w-2 h-2 shrink-0 border border-solid rounded-[3px] bg-red-500 border-red-600 shadow-[0_0_5px_-3px_rgba(14,159,110,0.1),0.5px_0.5px_3px_rgba(14,159,110,0.3),inset_1.5px_1.5px_0px_rgba(255,255,255,0.2)]"
            [matTooltip]="execution.error"
            matTooltipPosition="above"
          ></div>
        }
        @case ('success') {
          <div class="w-2 h-2 shrink-0 border border-solid rounded-[3px] bg-[#31C48D] border-[#0E9F6E] shadow-[0_0_5px_-3px_rgba(14,159,110,0.1),0.5px_0.5px_3px_rgba(14,159,110,0.3),inset_1.5px_1.5px_0px_rgba(255,255,255,0.2)]"
            [floatUi]="popperContent"
            [appendTo]="'body'"
            [showTrigger]="eNgxFloatUiTriggers.hover"
            hideOnClickOutside
            [hideOnScroll]="true"
            [hideTimeout]="200"
          >
          </div>
        }
      }

      <float-ui-content #popperContent>
        <div class="text-sm text-left w-96 max-h-80 overflow-auto">
          <div class="px-2 py-1 font-semibold">{{ 'PAC.KEY_WORDS.Input' | translate: {Default: 'Input'} }}:</div>
          <ngx-json-viewer [json]="execution.input" class="font-mono whitespace-pre-wrap"/>
        </div>
      </float-ui-content>
    </div>
  }
</div>