<form [formGroup]="formGroup" class="flex flex-col space-y-2">
  <div>
    <div class="py-2 leading-5 font-medium">
      {{ 'PAC.KEY_WORDS.Name' | translate: {Default: 'Name'} }}
      <span class="ml-1 text-red-500">*</span>
    </div>
    <div class="flex items-center justify-between gap-3">
      <emoji-avatar class="rounded-lg overflow-hidden"
        [(avatar)]="avatar" editable />
      <input class="ngm-input h-10 px-3 text-base font-normal grow"
        [placeholder]="'PAC.Xpert.EnterToolsetName' | translate: {Default: 'Enter the toolset name'}"
        formControlName="name"
        [ngClass]="{error: name.invalid && (name.dirty || name.touched)}">
    </div>

    <textarea formControlName="description"
      class="w-full px-2 py-1 mt-2 text-sm outline-none rounded-lg border border-solid border-transparent active:border-divider-regular focus-within:border-divider-regular
        bg-gray-50 focus-within:bg-gray-100"
      [placeholder]="'PAC.Xpert.EnterToolsetDescription' | translate: {Default: 'Enter toolset description'} "
    ></textarea>
  </div>
  <div class="select-none relative">
    <div class="flex justify-between items-center">
      <div class="py-2 leading-5 font-medium">
        {{ 'PAC.Xpert.Schema' | translate: {Default: 'Schema'} }}
        <span class="ml-1 text-red-500">*</span>
      </div>
      <div class="mx-2 w-px h-3 bg-black/5"></div>
      <a href="https://modelcontextprotocol.io/introduction" target="_blank" rel="noopener noreferrer"
        class="group flex items-center h-[18px] space-x-1 text-[#155EEF] hover:text-primary-600">
        <div class="text-xs font-normal">{{ 'PAC.Xpert.ViewMCPSpec' | translate: {Default: 'View the MCP Specification'} }}</div>
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-3.5 h-3.5 transition-transform group-hover:translate-x-2">
          <g id="link-external-02">
            <path id="Icon" d="M10.5 4.5L10.5 1.5M10.5 1.5H7.49999M10.5 1.5L6 6M5 1.5H3.9C3.05992 1.5 2.63988 1.5 2.31901 1.66349C2.03677 1.8073 1.8073 2.03677 1.66349 2.31901C1.5 2.63988 1.5 3.05992 1.5 3.9V8.1C1.5 8.94008 1.5 9.36012 1.66349 9.68099C1.8073 9.96323 2.03677 10.1927 2.31901 10.3365C2.63988 10.5 3.05992 10.5 3.9 10.5H8.1C8.94008 10.5 9.36012 10.5 9.68099 10.3365C9.96323 10.1927 10.1927 9.96323 10.3365 9.68099C10.5 9.36012 10.5 8.94008 10.5 8.1V7" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
          </g>
        </svg>
      </a>

      <div class="flex-1"></div>

      <div class="relative">
        <button type="button" class="btn disabled:btn-disabled btn-secondary btn-small"
          (click)="setSample()">
          <i class="ri-database-line mr-1"></i>
          <div class="text-sm font-medium">{{ 'PAC.Xpert.Samples' | translate: {Default: 'Samples'} }}</div>
        </button>
      </div>
    </div>
    
    <textarea class="ngm-input w-full h-[240px] px-3 py-2 leading-5 text-sm font-normal rounded-lg overflow-y-auto
      text-gray-600 bg-gray-100"
      [placeholder]="'PAC.Xpert.EnterYourODataMetadata' | translate: {Default: 'Enter your OData metadata here'}"
      formControlName="schema"
      [ngClass]="{error: schema.invalid && (schema.dirty || schema.touched)}"
    ></textarea>

    @if (loading()) {
      <ngm-spin class="absolute top-0 left-0 w-full h-full" />
    }
  </div>

  <div class="flex items-center my-2">
    <button type="button" class="btn btn-primary disabled:btn-disabled btn-secondary btn-medium space-x-1"
      (click)="getMetadata()">
      <div class="text-sm font-medium text-zinc-700">
        {{ 'PAC.Xpert.LoadTools' | translate: {Default: 'Load Tools'} }}
      </div>
    </button>
  </div>

  @if (!toolset()) {
    <div>
      <div class="flex items-center gap-2 py-2 leading-5 text-base font-medium text-gray-900">
        {{ 'PAC.Xpert.AvailableTools' | translate: {Default: 'Available Tools'} }}

        <mat-slide-toggle class="text-sm" ngm-density small [formControl]="disableToolDefault">
          {{'PAC.Xpert.DisableToolDefault' | translate: {Default: 'Disable tools by default'} }}
        </mat-slide-toggle>
      </div>

      <xpert-tool-mcp-config-tools class="rounded-lg border border-gray-200 w-full overflow-x-auto" 
        formControlName="tools" 
        [toolset]="value"
        [disableToolDefault]="disableToolDefault.value"
      />
    </div>
  }

  <xpert-tool-authorization-input formControlName="credentials" />

  <div>
    <div class="py-2 leading-5 text-sm font-medium text-gray-900">
      {{'PAC.KEY_WORDS.Tags' | translate: {Default: 'Tags'} }}
    </div>
    <tag-select optional [category]="eTagCategoryEnum.TOOLSET" [formControl]="tags"></tag-select>
  </div>
  <div>
    <div class="py-2 leading-5 text-sm font-medium text-gray-900">
      {{'PAC.Xpert.PrivacyPolicy' | translate: {Default: 'Privacy Policy'} }}
    </div>
    <input matInput class="w-full h-10 px-3 text-sm font-normal bg-gray-100 rounded-lg grow"
      [placeholder]=" 'PAC.Xpert.EnterPrivacyPolicy' | translate: {Default: 'Please enter privacy policy'} "
      formControlName="privacyPolicy"
      >
  </div>
  <div>
    <div class="py-2 leading-5 text-sm font-medium text-gray-900">
      {{'PAC.Xpert.CustomDisclaimer' | translate: {Default: 'Custom Disclaimer'} }}
    </div>
    <input matInput class="w-full h-10 px-3 text-sm font-normal bg-gray-100 rounded-lg grow"
      [placeholder]=" 'PAC.Xpert.EnterCustomDisclaimer' | translate: {Default: 'Please enter custom disclaimer'} "
      formControlName="customDisclaimer"
      >
  </div>
</form>
