<form [formGroup]="formGroup" class="flex flex-col space-y-2">
  <div>
    <div class="py-2 leading-5 font-medium">
      {{ 'PAC.KEY_WORDS.Name' | translate: {Default: 'Name'} }}
      <span class="ml-1 text-red-500">*</span>
    </div>
    <div class="flex items-center justify-between gap-3">
      <emoji-avatar class="rounded-lg overflow-hidden"
        [(avatar)]="avatar" editable />
      <input class="ngm-input h-10 px-3 text-base font-normal grow"
        [placeholder]="'PAC.Xpert.EnterToolsetName' | translate: {Default: 'Enter the toolset name'}"
        formControlName="name"
        [ngClass]="{error: name.invalid && (name.dirty || name.touched)}">
    </div>

    <textarea formControlName="description"
      class="w-full px-2 py-1 mt-2 text-sm outline-none rounded-lg border border-solid border-transparent active:border-divider-regular focus-within:border-divider-regular
        bg-gray-50 focus-within:bg-gray-100"
      [placeholder]="'PAC.Xpert.EnterToolsetDescription' | translate: {Default: 'Enter toolset description'} "
    ></textarea>
  </div>
  


  <!-- <xpert-tool-authorization-input formControlName="credentials" /> -->

  <div>
    <div class="py-2 leading-5 text-sm font-medium text-gray-900">
      {{'PAC.KEY_WORDS.Tags' | translate: {Default: 'Tags'} }}
    </div>
    <tag-select optional [category]="eTagCategoryEnum.TOOLSET" [formControl]="tags" />
  </div>
  <div>
    <div class="py-2 leading-5 text-sm font-medium text-gray-900">
      {{'PAC.Xpert.PrivacyPolicy' | translate: {Default: 'Privacy Policy'} }}
    </div>
    <input matInput class="w-full h-10 px-3 text-sm font-normal bg-gray-100 rounded-lg grow"
      [placeholder]=" 'PAC.Xpert.EnterPrivacyPolicy' | translate: {Default: 'Please enter privacy policy'} "
      formControlName="privacyPolicy"
      >
  </div>
  <div>
    <div class="py-2 leading-5 text-sm font-medium text-gray-900">
      {{'PAC.Xpert.CustomDisclaimer' | translate: {Default: 'Custom Disclaimer'} }}
    </div>
    <input matInput class="w-full h-10 px-3 text-sm font-normal bg-gray-100 rounded-lg grow"
      [placeholder]=" 'PAC.Xpert.EnterCustomDisclaimer' | translate: {Default: 'Please enter custom disclaimer'} "
      formControlName="customDisclaimer"
      >
  </div>

  @if (loading()) {
    <ngm-spin class="absolute top-0 left-0 w-full h-full" />
  }

<div class="flex items-center my-2">
  <button type="button" class="btn btn-primary disabled:btn-disabled btn-secondary btn-medium space-x-1"
    (click)="getMetadata()">
    <div class="text-sm font-medium text-zinc-700">
      {{ 'PAC.Xpert.LoadTools' | translate: {Default: 'Load Tools'} }}
    </div>
  </button>
</div>

@if (!toolset()) {
  <div>
    <div class="flex items-center gap-2 py-2 leading-5 text-base font-medium text-gray-900">
      {{ 'PAC.Xpert.AvailableTools' | translate: {Default: 'Available Tools'} }}

      <mat-slide-toggle class="text-sm" ngm-density small [formControl]="disableToolDefault">
        {{'PAC.Xpert.DisableToolDefault' | translate: {Default: 'Disable tools by default'} }}
      </mat-slide-toggle>
    </div>

    <xpert-tool-mcp-config-tools class="rounded-lg border border-gray-200 w-full overflow-x-auto" 
      formControlName="tools" 
      [toolset]="value"
      [disableToolDefault]="disableToolDefault.value"
    />
  </div>
}
</form>