@reference "../../../../../../../styles/tailwind-reference.css";
:host {
  @apply w-full flex-1 overflow-auto flex flex-col max-h-full h-full;
}

// 成员不可见样式
.pac-model-access__hierarchy-hidden {
  [data-slot='accordion-title'] {
    text-decoration: line-through;
  }
}
.pac-model-access__member-hidden {
  text-decoration: line-through;
}

.pac-model-access__members {
  height: 200px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

label {
  margin-right: 1rem;
}

.pac-model-access-cube__hierarchy-list {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.pac-cdk-drop__list.pac-cdk-drop__area {
  background-color: var(--mdc-outlined-card-container-color);
  border-color: var(--border);
  color: var(--color-text-primary);
}
