<z-form-field class="flex-1" appearance="fill" [color]="color">
  <z-form-label>
    {{ 'PAC.KEY_WORDS.Tags' | translate: {Default: 'Tags'} }}
  </z-form-label>
  <z-tag-select
    mode="tags"
    [value]="tags()"
    [options]="selectOptions()"
    [zDisabled]="disabled"
    [allowCreate]="true"
    [enableSuggestions]="true"
    [searchable]="true"
    [compareWith]="compareTags"
    [createValueFromInput]="createTagFromInput"
    [displayWith]="displayTag"
    [placeholder]="'PAC.ACTIONS.NewTag' | translate: { Default: 'New tag' }"
    (valueChange)="onValueChange($event)"
    (zBlur)="onBlur()"
  />
</z-form-field>
