@layer utilities {
  .border-light {
    @apply border-[0.5px] border-solid border-gray-200 dark:border-neutral-600;
  }

  .system-sm-semibold-uppercase {
    @apply text-sm font-semibold uppercase;
  }

  .radius-md {
    @apply rounded-lg;
  }

  .system-xl-semibold {
    @apply text-xl font-semibold;
  }
  .system-sm-semibold {
    @apply text-sm font-semibold;
  }
  .system-sm-medium {
    @apply text-sm font-medium;
  }
  .system-sm-regular {
    @apply text-sm;
  }
  .system-xs-regular {
    @apply text-sm;
  }
  .system-xs-medium {
    @apply text-xs font-medium;
  }
  .system-kbd {
    @apply text-sm font-medium leading-4;
  }

  .body-xs-regular {
    @apply font-body text-sm font-normal leading-4;
  }

  .code-sm-semibold {
    font-size: 13px;
    font-weight: 600;
    line-height: 1.5
  }

  [class*=code-] {
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace
  }

  .size-1 {
    @apply w-1 h-1;
  }
  .size-2 {
    @apply w-2 h-2;
  }
  .size-3 {
    @apply w-3 h-3;
  }
  .size-4 {
    @apply w-4 h-4;
  }
  .size-5 {
    @apply w-5 h-5;
  }
  .size-6 {
    @apply w-6 h-6;
  }
  .size-7 {
    @apply w-7 h-7;
  }
  .size-8 {
    @apply w-8 h-8;
  }
  .size-9 {
    @apply w-9 h-9;
  }
  .size-10 {
    @apply w-10 h-10;
  }

  .badge {
    @apply inline-flex items-center justify-center border border-solid border-text-tertiary;
  }

  .badge-s {
    @apply rounded-md gap-0.5 min-w-[18px];
  }
}
