<z-layout class="flex-1 h-full"
  zDirection="horizontal"
>
  <z-sidebar class="pac-features__sidenav flex flex-col"
    [zWidth]="250"
    [zCollapsible]="true"
    [zCollapsed]="sidebarCollapsed()"
    [zCollapsedWidth]="70"
    (zCollapsedChange)="onCollapsedChange($event)"
    class="p-0!"
  >
    <nav class="h-full flex flex-col overflow-auto">
      <div class="flex items-center justify-between p-3">
        @if (sidebarCollapsed()) {
          <div></div>
        } @else {
          <div class="pac-home-title w-36 h-12 inline-block" routerLink="/home">
          </div>
        }
        <button type="button" z-button zType="ghost" zSize="lg" class="cursor-pointer" (click)="toggleSidebar()">
          <z-icon zType="panel-left" zSize="lg" />
        </button>
      </div>
      <div class="flex items-center">
        <pac-organization-selector class="overflow-hidden flex-1 flex justify-center items-center hover:text-yellow-600 transition-colors"
          [isCollapsed]="sidebarCollapsed()"
        />
      </div>

      <pac-menu class="flex-1 p-2 flex overflow-hidden hover:overflow-y-auto"
        [isCollapsed]="sidebarCollapsed()"
        [isMobile]="isMobile()"
        [menus]="menus()"
      >
        <div class="w-full flex flex-col" [class.items-end]="!sidebarCollapsed()">
          <pac-notification class="flex justify-center"/>
          <!-- <pac-tune class="flex justify-center"/> -->
        </div>
      </pac-menu>

      <div class="mt-auto">
        @if (isAuthenticated$ | async; as user) {
          <pac-header-user [user]="user" />
        }
      </div>
    </nav>
  </z-sidebar>

  <z-content class="max-h-full min-w-0 flex-1 overflow-auto" cdkDropListGroup>
    <!-- <mat-toolbar class="pac__shell-bar flex justify-between items-center md:gap-2">
      <div class="flex justify-start items-center gap-2">
        @if (navigation$ | async; as navigation) {
          <div class="flex items-center text-sm overflow-hidden">
            @if (appService.inProject()) {
              <pac-header-project class="h-full rounded-none"/>
            }

            @if (appService.inWorkspace()) {
              <pac-workspace-selector class="rounded-xl hover:bg-gray-50" />
            }
            <span class="font-bold flex items-center cursor-pointer
            text-neutral-600 hover:text-neutral-800 dark:text-neutral-300 dark:hover:text-neutral-200"
              (click)="navigate(navigation.catalog)">
              <z-icon zSize="sm" class="mx-1" [zType]="navigation.icon"></z-icon>
              @if (!isMobile()) {
                <span>{{ navigation.catalogName }}</span>
              }
            </span>
            @if(navigation.id && !isMobile()) {
              <span class="mx-1 font-bold">|</span>
              <span class="text-ellipsis overflow-hidden">{{ navigation.label }}</span>
            }
          </div>
        }
      </div>

      <div class="flex flex-1">
      </div>

      <div class="pac-toolbar-search relative w-32 hidden sm:flex md:w-80 items-center max-w-xs text-base">
        <svg xmlns="http://www.w3.org/2000/svg" class="absolute left-2 h-4 w-4 opacity-30" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
        </svg>
        <input #searchInput class="flex-1 max-w-full p-1.5 pl-8 rounded-xl outline-none placeholder:opacity-30 focus:placeholder:opacity-50 transition-all
          bg-black/5 hover:bg-black/10 focus:bg-black/10 dark:bg-white/5 dark:hover:bg-white/10 dark:focus:bg-white/10"
          type="text"
          [placeholder]=" ('PAC.ACTIONS.Search' | translate: {Default: 'Search'})+'...'"
          [matAutocomplete]="auto"
          z-input
          [(ngModel)]="assetsSearch"
        >
      </div>

      <mat-autocomplete #auto="matAutocomplete" class="pac-toolbar-search__autocomplete"
        (opened)="assetsInit=true"
      >
        @if (assetsInit) {
          <pac-assets [search]="assetsSearch" />
        }
        <mat-option class="h-0" style="height: 0; min-height: 0;"></mat-option>
      </mat-autocomplete>
      
      @if (isAuthenticated$ | async; as user) {
        <pac-header-user [user]="user" />
      }
    </mat-toolbar> -->

    <div class="min-h-full h-full flex-1 relative flex" [@routeAnimations]="o.isActivated && o.activatedRouteData?.title">
      <router-outlet #o="outlet"></router-outlet>
    </div>
  </z-content>
</z-layout>

@if (loading()) {
  <!-- <mat-progress-bar class="pac-router__progress-bar absolute top-0 left-0 w-full z-10"
    color="accent" mode="indeterminate" >
  </mat-progress-bar> -->
}
