<z-layout class="flex-1 h-full"
  zDirection="horizontal"
>
  <z-sidebar class="pac-features__sidenav flex flex-col"
    [zWidth]="250"
    [zCollapsible]="true"
    [zCollapsed]="sidebarCollapsed()"
    [zCollapsedWidth]="50"
    (zCollapsedChange)="onCollapsedChange($event)"
    class="p-0!"
  >
    <nav class="h-full flex flex-col overflow-auto">
      <div class="flex items-center p-3" [class.justify-center]="sidebarCollapsed()" [class.justify-between]="!sidebarCollapsed()">
        @if (!sidebarCollapsed()) {
          <div class="pac-home-title w-36 h-12 inline-block" routerLink="/home">
          </div>
        }
        <button
          type="button"
          z-button
          zType="ghost"
          zSize="icon"
          class="m-1.5 h-auto w-auto rounded-lg p-1.5 cursor-pointer"
          (click)="toggleSidebar()"
        >
          <z-icon zType="panel-left" zSize="lg" />
        </button>
      </div>
      <div class="flex items-center">
        <pac-organization-selector class="overflow-hidden flex-1 flex justify-center items-center hover:text-yellow-600 transition-colors"
          [isCollapsed]="sidebarCollapsed()"
        />
      </div>

      <pac-menu class="flex-1 flex overflow-hidden hover:overflow-y-auto"
        [class.p-0]="sidebarCollapsed()"
        [class.p-2]="!sidebarCollapsed()"
        [isCollapsed]="sidebarCollapsed()"
        [isMobile]="isMobile()"
        [menus]="menus()"
      >
        <div class="w-full flex flex-col" [class.items-end]="!sidebarCollapsed()">
          <pac-notification class="flex justify-center"/>
          <!-- <pac-tune class="flex justify-center"/> -->
        </div>
      </pac-menu>

      <div class="mt-auto flex" [class.justify-center]="sidebarCollapsed()">
        @if (isAuthenticated$ | async; as user) {
          <pac-header-user
            class="block pb-1"
            [class.w-full]="!sidebarCollapsed()"
            [class.px-1.5]="!sidebarCollapsed()"
            [user]="user"
            [compact]="sidebarCollapsed()"
            [fullWidth]="!sidebarCollapsed()"
          />
        }
      </div>
    </nav>
  </z-sidebar>

  <z-content class="max-h-full min-w-0 flex-1 overflow-auto" cdkDropListGroup>
    <!-- <header class="pac__shell-bar flex justify-between items-center md:gap-2">
      <div class="flex justify-start items-center gap-2">
        @if (navigation$ | async; as navigation) {
          <div class="flex items-center text-sm overflow-hidden">
            @if (appService.inProject()) {
              <pac-header-project class="h-full rounded-none"/>
            }

            @if (appService.inWorkspace()) {
              <pac-workspace-selector class="rounded-xl hover:bg-hover-bg" />
            }
            <span class="font-bold flex items-center cursor-pointer
            text-neutral-600 hover:text-neutral-800 dark:text-neutral-300 dark:hover:text-neutral-200"
              (click)="navigate(navigation.catalog)">
              <z-icon zSize="sm" class="mx-1" [zType]="navigation.icon"></z-icon>
              @if (!isMobile()) {
                <span>{{ navigation.catalogName }}</span>
              }
            </span>
            @if(navigation.id && !isMobile()) {
              <span class="mx-1 font-bold">|</span>
              <span class="text-ellipsis overflow-hidden">{{ navigation.label }}</span>
            }
          </div>
        }
      </div>

      <div class="flex flex-1">
      </div>

      @if (isAuthenticated$ | async; as user) {
        <pac-header-user [user]="user" />
      }
    </header> -->

    <div class="min-h-full h-full flex-1 relative flex flex-col" [@routeAnimations]="o.isActivated && o.activatedRouteData?.title">
      <div class="min-h-0 flex-1 relative flex">
        <router-outlet #o="outlet"></router-outlet>
      </div>
    </div>
  </z-content>
</z-layout>
