<div class="ngm-modal-sidenav ngm-theme-dark dark w-[300px] shrink-0 flex flex-col justify-start overflow-auto p-4 group">
  <div class="w-full flex justify-start items-center my-2 cursor-move" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <mat-icon displayDensity="cosy" class="-ml-2 opacity-0 group-hover:opacity-80">drag_indicator</mat-icon>
    <span class="text-xl pointer-events-none">
      {{ 'PAC.MODEL.CREATE_ENTITY.CREATE_ENTITY' | translate: { Default: 'Create Entity' } }}
    </span>
  </div>

  <form class="flex-1 flex flex-col justify-start items-stretch"
    [formGroup]="formGroup"
    (ngSubmit)="onSubmit($event)"
  >

    <div class="mx-2 my-4">
      <label for="entityType" class="mr-2">
        {{ 'PAC.MODEL.CREATE_ENTITY.TYPE' | translate: { Default: 'Type' } }}
      </label>
      <mat-button-toggle-group name="entityType" formControlName="type" ngmAppearance="outline" color="accent" displayDensity="compact">
        @for (type of types(); track type) {
          <mat-button-toggle [value]="type">
            {{ ('PAC.MODEL.CREATE_ENTITY.' + type) | translate: { Default: type } }}
          </mat-button-toggle>
        }
      </mat-button-toggle-group>
    </div>

    <mat-form-field appearance="fill" color="accent">
      <mat-label>{{ 'PAC.MODEL.CREATE_ENTITY.NAME' | translate: { Default: 'Name' } }}</mat-label>
      <input matInput formControlName="name"/>
      @if (name.invalid) {
        <mat-error>{{getErrorMessage() | translate}}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill" color="accent">
      <mat-label>{{ 'PAC.MODEL.CREATE_ENTITY.LABEL' | translate: { Default: 'Caption' } }}</mat-label>
      <input matInput formControlName="caption" />
    </mat-form-field>

    @if (expression) {
      <code>
        {{expression}}
      </code>
    }

    @if (!expression && !hiddenTable && type.value !== SemanticModelEntityType.VirtualCube) {
      <mat-form-field appearance="fill" color="accent">
        <mat-label>{{ 'PAC.MODEL.CREATE_ENTITY.TABLE' | translate: { Default: 'Table' } }}</mat-label>
        <input [placeholder]=" 'PAC.MODEL.CREATE_ENTITY.PICK_ONE_TABLE' | translate: { Default: 'pick one table' } "
              aria-label="Table"
              matInput
              [matAutocomplete]="auto"
              formControlName="table"
              >
        <mat-autocomplete #auto="matAutocomplete" displayDensity="compact" class="ngm-density__compact">
          <mat-option *ngFor="let option of filteredTables | async" [value]="option.name">
            <ngm-display-behaviour [option]="{value: option.name, label: option.label}" displayBehaviour="descriptionAndId"></ngm-display-behaviour>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    }

    @if (type.value === SemanticModelEntityType.DIMENSION && factFields()?.length) {
      <mat-form-field appearance="fill" color="accent">
        <mat-label>{{ 'PAC.MODEL.CREATE_ENTITY.ForeignKeyOfFact' | translate: { Default: 'Foreign key of fact table' } }}</mat-label>
        <input [placeholder]=" 'PAC.MODEL.CREATE_ENTITY.PickForeignKeyField' | translate: { Default: 'Pick foreign key field' } "
               matInput
               [matAutocomplete]="auto"
               formControlName="foreignKey"
               >
        <mat-autocomplete #auto="matAutocomplete" displayDensity="compact" class="ngm-density__compact">
          @for (option of factFields(); track option.value) {
            <mat-option [value]="option.value">
              <ngm-display-behaviour [option]="option" displayBehaviour="descriptionAndId" />
            </mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    }

    <button type="submit"></button>
  </form>

  <div class="w-full flex justify-end">
    <div ngmButtonGroup>
      <button mat-flat-button (click)="cancel()">
        {{ 'PAC.ACTIONS.CANCEL' | translate: { Default: 'Cancel' } }}
      </button>
      <button mat-raised-button color="accent" [disabled]="formGroup.invalid" (click)="apply()">
        {{ 'PAC.ACTIONS.APPLY' | translate: { Default: 'Apply' } }}
      </button>
    </div>
  </div>
  
</div>

<div class="min-w-[400px] relative flex flex-col">
  <div class="flex justify-start items-center gap-2 p-2">
    <div class="relative w-[160px]">
      <i class="ri-search-2-line flex justify-center items-center absolute left-2 top-1/2 h-4 w-4 -translate-y-1/2 text-components-input-text-placeholder"></i>
      <input class="w-full appearance-none border border-transparent bg-components-input-bg-normal py-1.5 text-components-input-text-filled caret-primary-600 outline-none placeholder:text-components-input-text-placeholder hover:border-components-input-border-hover hover:bg-components-input-bg-hover focus:border-components-input-border-active focus:bg-components-input-bg-active focus:shadow-xs px-3 radius-md system-sm-regular pl-[26px]"
        [placeholder]="'PAC.MODEL.Search' | translate: {Default: 'Search'}"
        [(ngModel)]="searchTerm"
      >
      @if (searchTerm()) {
        <i class="ri-close-circle-line cursor-pointer flex justify-center items-center absolute right-2 top-1/2 h-4 w-4 -translate-y-1/2 text-components-input-text-placeholder hover:text-text-primary"
          (click)="searchTerm.set('')"></i>
      }
    </div>
    <button type="button" class="btn btn-secondary btn-medium" (click)="clearSelection()">
      {{ 'PAC.ACTIONS.Clear' | translate: { Default: 'Clear' } }}
    </button>
  </div>
  @switch (type.value) {
    @case(SemanticModelEntityType.CUBE) {
      <div class="p-4 flex gap-4">
        <div class="flex-1">
          {{ 'PAC.MODEL.CREATE_ENTITY.Field' | translate: { Default: 'Field' } }}
        </div>
        <div class="w-10 overflow-hidden text-ellipsis">
          {{ 'PAC.MODEL.CREATE_ENTITY.Measure' | translate: { Default: 'Measure' } }}
        </div>
        <div class="w-10 overflow-hidden text-ellipsis">
          {{ 'PAC.MODEL.CREATE_ENTITY.Dimension' | translate: { Default: 'Dimension' } }}
        </div>
        <div class="" style="width: 150px;">
          {{ 'PAC.MODEL.CREATE_ENTITY.AssociatedDimension' | translate: { Default: 'Associated' } }}
        </div>
      </div>
      <mat-list role="list" class="block overflow-auto">
        @for (column of filteredColumns(); track column.name) {
          <mat-list-item role="listitem" class="group rounded-lg">
            <div class="flex items-center">
              <ngm-display-behaviour class="flex-1 ml-8" [option]="{key: column.name, caption: column.caption}" displayBehaviour="descriptionAndId" [highlight]="searchTerm()" />
              <div class="mx-4 w-10 shrink-0 flex justify-center">
                <mat-checkbox [(ngModel)]="column.isMeasure" (ngModelChange)="toggleMeasure($event, column)"/>
              </div>
              <div class="mx-4 w-10 shrink-0 flex justify-center">
                <mat-checkbox [(ngModel)]="column.isDimension" (ngModelChange)="toggleDimension($event, column)"/>
              </div>
              <div style="width: 140px;" class="shrink-0">
                @if (!column.isMeasure) {
                  <mat-select
                    class="ngm-density__compact p-1 rounded-md hover:bg-slate-500/10 dark:hover:bg-white/10 focus:bg-slate-500/20 dark:focus:bg-white/20 dark:caret-slate-100"
                    panelClass="ngm-select-panel ngm-density__compact"
                    [(ngModel)]="column.dimension"
                  >
                    <mat-select-trigger>
                      @if (column.dimension) {
                        <ngm-display-behaviour class="flex-1" [option]="{key: column.dimension.name, caption: column.dimension.caption}" />
                      } @else {
                        <span>
                          {{ 'PAC.MODEL.CREATE_ENTITY.AssociatedDimension' | translate: { Default: 'Dimension' } }}
                        </span>
                      }
                    </mat-select-trigger>
                    <mat-option [value]="null">
                      {{ 'PAC.KEY_WORDS.None' | translate: { Default: 'None' } }}
                    </mat-option>
                    @for (dimension of sharedDimensions(); track dimension.name) {
                      <mat-option [value]="dimension">
                        <ngm-display-behaviour class="flex-1" [option]="{key: dimension.name, caption: dimension.caption}" />
                      </mat-option>
                    }
                  </mat-select>
                }
              </div>
            </div>
          </mat-list-item>
        }
      </mat-list>
      @if (modelType === MODEL_TYPE.XMLA) {
        <div class="flex-1 w-full flex justify-center items-center gap-1">
          <i class="ri-information-2-line text-lg"></i>
          {{ 'PAC.MODEL.XmlaSyncInfo' | translate: {Default: 'Dimensions and measures are automatically synchronized after creation'} }}
        </div>
      }
    } @case(SemanticModelEntityType.DIMENSION) {
      <div class="p-4 flex gap-4">
        <span class="w-12 text-center">
          {{ 'PAC.MODEL.CREATE_ENTITY.PrimaryKey' | translate: { Default: 'Key' } }}
        </span>
        <span class="w-12">
          {{ 'PAC.MODEL.CREATE_ENTITY.Visible' | translate: { Default: 'Visible' } }}
        </span>
  
        <span class="flex-1">
          {{ 'PAC.MODEL.CREATE_ENTITY.Caption' | translate: { Default: 'Caption' } }}
        </span>
        <span class="w-12">
          {{ 'PAC.MODEL.CREATE_ENTITY.Field' | translate: { Default: 'Field' } }}
        </span>
      </div>
      <div class="overflow-auto">
        <mat-list role="list" cdkDropList (cdkDropListDropped)="drop($event)">
          @for (column of filteredColumns(); track column.name; let i = $index) {
            <mat-list-item cdkDrag cdkDragLockAxis="y"
              role="listitem" class="group rounded-lg">
              <div class="w-full h-full flex items-center">
                <div class="flex justify-center items-center w-12 h-full group-hover:opacity-100"
                  [class.opacity-0]="column.name !== primaryKey()">
                  <input id="default-radio-{{i}}" type="radio" class="w-5 h-5 cursor-pointer text-orange-600 bg-gray-100 border-gray-300 dark:focus:ring-orange-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600 outline-none"
                    [checked]="column.name === primaryKey()"
                    (change)="primaryKey.set($event ? column.name : null)"
                  >
                  <label for="default-radio-{{i}}" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"></label>
                </div>
          
                <mat-icon class="ml-6 cursor-pointer group-hover:opacity-100" [class.opacity-0]="!column.visible"
                  fontSet="material-icons-outlined"
                  (click)="column.visible=!column.visible"
                >
                  {{column.visible ? 'visibility' : 'visibility_off'}}
                </mat-icon>
                <ngm-display-behaviour class="flex-1 ml-8" [option]="{key: column.name, caption: column.caption}"
                  [highlight]="searchTerm()"
                  displayBehaviour="descriptionAndId"
                />
              </div>
            </mat-list-item>
          }
        </mat-list>
      </div>
    } @case(SemanticModelEntityType.VirtualCube) {
      <div class="px-4 overflow-auto">
        <mat-selection-list [compareWith]="compareWithCube" [(ngModel)]="cubes">
          @for (cube of cubes$ | async; track cube.name) {
            <mat-list-option class="rounded-lg" [value]="cube">
              <ngm-display-behaviour class="flex-1" [option]="{key: cube.name, caption: cube.caption}" displayBehaviour="descriptionAndId" />
            </mat-list-option>
          }
        </mat-selection-list>
      </div>
    }
  }

  @if (loading()) {
    <div class="absolute w-full h-full top-0 left-0 flex justify-center items-center cursor-none">
      <mat-spinner strokeWidth="1" diameter="30" />
    </div>
  }
</div>
