@reference "tailwindcss";
.pac-chat-button {
  @apply h-10 rounded-lg px-2 text-text-tertiary focus-visible:outline-0
     hover:bg-hover-bg dark:hover:bg-white/10;
}

.icon-md {
  flex-shrink: 0;
  height: 18px;
  width: 18px;

  stroke-width: 1.5;
}