@if (reasoning(); as reasoning) {
  <div class="relative group/reasoning w-full max-h-90 px-1 border-l-2 border-solid border-gray-200 overflow-auto">
    <div class="flex justify-between items-center">
      <div class="flex items-center cursor-pointer pressable rounded-md px-1 text-gray-500 hover:bg-hover-bg"
        (click)="expandReason.set(!expandReason())">
        @if (expandReason()) {
          <i class="ri-arrow-down-s-line"></i>
        } @else {
          <i class="ri-arrow-right-s-line"></i>
        }
        <div class="mr-1 leading-[18px] text-sm font-semibold uppercase">
          {{ 'PAC.Chat.Reasoning' | translate: {Default: 'Reasoning'} }}
        </div>
      </div>

      <copy2 #copy class="opacity-30 group-hover/reasoning:opacity-100"
        [content]="reasoningText()"
        [matTooltip]="copy.copied() ? ('PAC.Xpert.Copied' | translate: {Default: 'Copied'}) : ('PAC.Xpert.Copy' | translate: {Default: 'Copy'})"
        matTooltipPosition="above" />
    </div>
    @if (expandReason()) {
      @for (item of reasoning; track item.id) {
        <markdown class="ngm-copilot-markdown text-xs font-body text-zinc-500"
          lineNumbers
          [start]="5"
          [data]="item.text"
        />
      }
    }
  </div>
}

@for (chunk of contents(); track $index) {
  @switch(chunk.type) {
    @case ('text') {
      <markdown class="ngm-copilot-markdown text-sm"
        [disableSanitizer]="true"
        lineNumbers
        [start]="5"
        [data]="chunk.text"
      />
    }
    @default {
      <div class="group rounded-lg flex flex-col items-stretch max-h-48 hover:bg-gray-50 transition-all">
        <div class="flex justify-between items-center text-base p-2">
          <div>
            <span class="font-semibold shrink-0">{{'PAC.Xpert.Component' | translate: {Default: 'Component'} }}</span>
            <i class="ri-information-2-line ml-1 text-text-secondary hover:text-text-primary"
              [matTooltip]="'PAC.Chat.DisplayOnlyData' | translate: {Default: 'Only display component data'}"
              matTooltipPosition="above"
            ></i>
          </div>

          <copy2 #copy class="opacity-30 group-hover:opacity-100"
            [content]="chunk"
            [matTooltip]="copy.copied() ? ('PAC.Xpert.Copied' | translate: {Default: 'Copied'}) : ('PAC.Xpert.Copy' | translate: {Default: 'Copy'})"
            matTooltipPosition="above"
          />
        </div>
        <div class="flex-1 px-3 text-sm rounded-lg whitespace-normal overflow-auto">
          <ngx-json-viewer [json]="chunk" [depth]="1" />
        </div>
      </div>
    }
  }
}

@if (thirdPartyMessage()) {
  <div class="group rounded-lg flex flex-col items-stretch max-h-48 hover:bg-gray-50 transition-all">
    <div class="text-base font-semibold shrink-0 p-2">{{'PAC.Xpert.ThirdPartyMessage' | translate: {Default: 'Third-party platform message'} }}</div>
    <div class="flex-1 text-sm rounded-lg whitespace-normal overflow-auto">
      <p class="px-4 pb-4">{{thirdPartyMessage() | json}}</p>
    </div>
  </div>
}

@if (lastStep(); as step) {
  <div class="flex-1 min-w-0 cursor-pointer" (click)="toggleSteps()">
    <div [@listHeightStagger]="steps()"
      class="rounded-xl flex flex-col gap-2 p-1 border border-[var(--border-light)] bg-[var(--fill-tsp-gray-main)] max-w-full clickable hover:bg-[var(--fill-tsp-gray-dark)] dark:hover:bg-white/[0.02]"
    >
      @for (step of steps(); track step) {
        <div class="relative flex items-center p-1 py-0.5 rounded-lg group/item hover:bg-white">
          <div class="w-[16px] inline-flex items-center text-[var(--text-primary)]">
            @if (step.toolset) {
              <img src="/api/xpert-toolset/builtin-provider/{{step.toolset}}/icon" alt="{{step.toolset}}" class="rounded-md">
            }
          </div>
          <div class="flex-1 h-full min-w-0 flex">
            <div class="inline-flex items-center h-full rounded-full text-[14px] text-[var(--text-secondary)] max-w-[100%]">
              <div
                class="max-w-[100%] text-ellipsis overflow-hidden whitespace-nowrap text-[13px]"
                [title]="step.message || step.title"
              >
                @switch (step.type) {
                  @case (eChatMessageStepType.File) {
                    <div class="flex items-center">
                      <span class="mr-1">{{step.type}}: </span>
                      <a [href]="step.data" target="_blank" class="hover:underline hover:text-text-primary"
                        (click)="$event.stopPropagation()">{{step.data}}</a>
                    </div>
                  }
                  @default {
                    <div class="flex items-center">
                      <span
                        class="flex-1 min-w-0 rounded-[6px] px-1 ml-1 relative top-[0px] text-[12px] font-mono max-w-full text-ellipsis overflow-hidden whitespace-nowrap text-[var(--text-tertiary)]"
                        >
                        {{ step.message || step.title }}
                      </span>
                    </div>
                  }
                }
              </div>
            </div>
          </div>

          <div
            class="absolute -top-4 right-2 float-right transition text-xs text-text-tertiary hidden group-hover/item:block"
          >
            {{ step.created_date | relative }}
          </div>
        </div>
      }
    </div>
  </div>
}