:host {
  --mdc-list-list-item-one-line-container-height: 34px;
  
  @apply p-1;
}

.radio-item[aria-selected='true'] {
  input {
    @apply text-blue-600;
  }
}

.mat-mdc-slider {
  width: calc(100% - 30px);
  @apply block mx-auto;
}

.mat-mdc-slider-thumb-label-showing {
  &.mat-mdc-slider-horizontal {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  &.mat-mdc-slider-vertical {
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
