.ngm-select-form-field__viewport {
  min-height: 200px;
}

::ng-deep {
  .ngm-select__autocomplete-panel.mat-mdc-autocomplete-panel {
    &.multiple {
      .mat-mdc-option {
        padding: 0;
      }
      .mdc-list-item__primary-text {
        overflow: visible;
      }
    }
    .mdc-list-item__primary-text {
      width: 100%;

      z-checkbox {
        width: 100%;

        .z-checkbox__label {
          flex: 1;
          overflow: hidden;
        }
      }
    }
  }
}
