<nav class="cloud-sidebar" [class.is-collapsed]="collapsed()">
  <header class="cloud-sidebar__header">
    <xp-cloud-sidebar-identity
      [collapsed]="collapsed()"
      (collapsedChange)="collapsedChange.emit($event)"
      (brandClick)="brandClick.emit()"
    />
  </header>

  <div class="cloud-sidebar__scroll">
    <xp-cloud-sidebar-menu
      [collapsed]="collapsed()"
      [isMobile]="isMobile()"
      [menus]="menus()"
      (clicked)="collapsedChange.emit(isMobile() ? true : collapsed())"
    />
  </div>

  <footer class="cloud-sidebar__footer">
    @if (user(); as currentUser) {
      <xp-header-user
        class="cloud-sidebar__user"
        [user]="currentUser"
        [compact]="collapsed()"
        [fullWidth]="!collapsed()"
        [sidebar]="true"
        (entryGuideClick)="entryGuideClick.emit()"
      />
    }
  </footer>
</nav>
