:host {
  position: relative;
  display: flex;
  flex-direction: column;
}

table[z-table] {
  width: 100%;
  table-layout: fixed;
  background: unset;
}

[z-table-cell] {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

[z-table-head].w-14,
[z-table-cell].w-14 {
  width: 60px;
}

.ngm-member-table__search {
  width: 100%;
}

z-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
}
