<div class="flex-1 min-w-0 p-4 flex flex-col gap-3 h-full">
  <div class="flex items-center gap-2 w-full">
    <button
      class="w-7 h-7 relative rounded-md inline-flex items-center justify-center gap-2.5 cursor-pointer pressable hover:bg-hover-bg"
      [zTooltip]="'PAC.Chat.ExpandCanvas' | translate: { Default: 'Expand canvas' }"
      (click)="toggleExpand()"
    >
      <i class="ri-expand-left-line transition-transform" [class.rotate-180]="expand()"></i>
    </button>
    <div class="text-text-primary text-lg font-semibold">
      {{ 'PAC.Chat.WhosComputer' | translate: { value: 'Xpert', Default: "Xpert's Computer" } }}
    </div>

    <div class="flex flex-1 justify-start items-center gap-1">
      @for (item of features(); track item) {
        <div
          class="px-2 py-1 rounded-lg cursor-pointer transition-colors text-text-secondary hover:bg-hover-bg active:bg-components-card-bg"
          [ngClass]="{ '!bg-components-card-bg': feature() === item, '!text-text-primary': feature() === item }"
          (click)="feature.set(item)"
        >
          @switch (item) {
            @case ('sandbox') {
              <div class="text-sm">
                {{ 'PAC.Chat.Terminal' | translate: { Default: 'Terminal' } }}
              </div>
            }
            @case ('files') {
              <div class="text-sm">
                {{ 'PAC.Chat.FileSystem' | translate: { Default: 'File System' } }}
              </div>
            }
            @case ('timeline') {
              <div class="text-sm">
                {{ 'PAC.Chat.Timeline' | translate: { Default: 'Timeline' } }}
              </div>
            }
            @default {
              <div class="text-sm">Unknown Feature</div>
            }
          }
        </div>
      }
    </div>

    <button
      class="w-7 h-7 relative rounded-md inline-flex items-center justify-center gap-2.5 cursor-pointer pressable hover:bg-hover-bg"
      [zTooltip]="'PAC.Chat.FileList' | translate: { Default: 'File list' }"
      (click)="openFiles()"
    >
      <i class="ri-file-list-3-line"></i>
    </button>

    <button
      class="w-7 h-7 relative rounded-md inline-flex items-center justify-center gap-2.5 cursor-pointer pressable hover:bg-hover-bg"
      [zTooltip]="'PAC.Chat.CloseCanvas' | translate: { Default: 'Close canvas' }"
      (click)="close()"
    >
      <i class="ri-collapse-diagonal-line"></i>
    </button>
  </div>

  @switch (feature()) {
    @case ('timeline') {
      <xp-chat-computer-timeline
        class="min-h-0 flex-1"
        [conversation]="chatService.conversation()"
        [projectId]="projectId()"
        [componentId]="componentId()"
      />
    }
    @case ('sandbox') {
      <chat-canvas-web-terminal class="flex-1" [projectId]="projectId()" [conversationId]="conversationId()" />
    }
  }
</div>
