<div class="flex flex-col space-y-1.5 text-center sm:text-left p-4">
  <h2 class="text-lg font-semibold leading-none tracking-tight">
    <div class="flex w-full items-center justify-between">
      <input
        [placeholder]="'PAC.Xpert.NameOfTask' | translate: {Default: 'Name of task'}"
        class="p-1 w-full focus-visible:outline-none bg-transparent rounded-xl"
        type="text"
        [(ngModel)]="name"
      />
      <div class="flex items-center gap-1">
        <button
          class="inline-flex items-center justify-center gap-2 whitespace-nowrap text-sm font-medium leading-[normal] cursor-pointer focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:opacity-60 disabled:cursor-not-allowed transition-colors duration-100 [&amp;_svg]:shrink-0 select-none text-fg-primary hover:bg-button-ghost-hover disabled:hover:bg-transparent border border-transparent h-10 w-10 rounded-xl"
          type="button"
          (click)="close()"
        >
          <i class="ri-close-large-line"></i>
        </button>
      </div>
    </div>
  </h2>
</div>

<div class="relative gap-3 flex flex-col px-6">
  <xp-schedule-form [(ngModel)]="options" />

  <button class="flex justify-start items-center gap-2 border-solid border-[0.5px] border-neutral-300 rounded-xl p-2 disabled:text-text-secondary disabled:shadow-none disabled:cursor-not-allowed"
    [cdkMenuTriggerFor]="xpertsMenu">
    <i class="ri-links-line ml-1 text-lg"></i>
    <emoji-avatar [avatar]="xpert()?.avatar" xs class="shrink-0 rounded-lg overflow-hidden" />
    <span>
      {{ xpert()?.title || xpert()?.name || ('PAC.Xpert.SelectExpert' | translate: {Default: 'Select Expert'}) }}
    </span>
  </button>

  <textarea
    class="flex min-h-[60px] w-full bg-transparent text-base shadow-sm placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 rounded-xl p-4 border border-surface-l5"
    rows="8"
    [placeholder]="'PAC.Xpert.EnterPromptHere' | translate: {Default: 'Enter prompt here.'}"
    maxlength="8000"
    [(ngModel)]="prompt"
  ></textarea>

  <div class="flex items-center gap-4 rounded-xl border px-3 py-3 bg-surface-l1 justify-between mt-3">
    <div class="flex items-center gap-4">
      <ngm-progress-spinner class="w-10 h-10 text-blue-600 dark:text-blue-500" [value]="total() / 10 * 100" />
      <div class="flex flex-col gap-0 -my-0.5">
        <p class="text-sm font-semibold text-fg-primary -mb-[2px]">{{10 - total()}} {{'PAC.Xpert.TasksRemaining' | translate: {Default: 'tasks remaining'} }}</p>
        <p class="text-sm font-medium text-fg-secondary -mt-[2px]">{{'PAC.Xpert.Current' | translate: {Default: 'Current'} }}: {{total()}} {{'PAC.Xpert.TasksActive' | translate: {Default: 'tasks active'} }}</p>
      </div>
    </div>
  </div>

  @if (loading()) {
    <ngm-spin class="absolute top-0 left-0 w-full h-full" />
  }
</div>

<div class="w-full flex justify-end p-6">
  <div class="flex items-center gap-2">
    <button type="button" class="btn disabled:btn-disabled btn-large" (click)="close()">
      {{ 'PAC.ACTIONS.CANCEL' | translate: { Default: 'Cancel' } }}
    </button>

    <button type="button" class="btn disabled:btn-disabled btn-primary btn-large" cdkFocusInitial
      [disabled]="!prompt() || !xpertId() || loading()"
      (click)="createTask()"
    >
      @if (task()?.id) {
        {{ 'PAC.Xpert.UpdateTask' | translate: { Default: 'Update Task' } }}
      } @else {
        {{ 'PAC.Xpert.CreateTask' | translate: { Default: 'Create Task' } }}
      }
    </button>
  </div>
</div>

<ng-template #xpertsMenu>
  <div cdkMenu class="cdk-menu__large max-w-sm text-text-primary relative p-0">
    <div class="w-full sticky -top-1 z-10 bg-components-card-bg">
      <ngm-search class="" [(ngModel)]="search" />
    </div>
    
    @for (item of myXperts(); track item.id) {
      <button class="ngm-cdk-menu-item p-1" cdkMenuItem (click)="bindExpert(item)">
        <emoji-avatar [avatar]="item.avatar" xs class="shrink-0 rounded-lg overflow-hidden shadow-sm mr-1" />
        <p class="overflow-hidden whitespace-nowrap text-ellipsis">{{item.title || item.name}}</p>
      </button>
    } @empty {
      <div class="p-2 text-text-secondary">
        {{ 'PAC.XProject.NoExperts' | translate: {Default: 'No experts found'} }}
      </div>
    }
  </div>
</ng-template>