<div class="pac-page-header">
  <div class="pac-page-title">{{ 'PAC.Copilot.AICopilot' | translate: {Default: 'AI Copilot'} }}</div>
      
  <nav z-tab-nav-bar class="pac-tab-nav-bar" displayDensity="cosy" color="accent" alignTabs="start" stretchTabs="false" disableRipple
    [tabPanel]="tabPanel"
  >
    <span z-tab-link [routerLink]="['./basic']"
      routerLinkActive #rla1="routerLinkActive"
      [routerLinkActiveOptions]="{exact: true}"
      [active]="rla1.isActive"
    >
      <z-icon class="mr-1" zType="generating_tokens"></z-icon>
      {{ 'PAC.KEY_WORDS.Basic' | translate: {Default: "Basic"} }}
    </span>
    @if (!organization()) {
      <span z-tab-link [routerLink]="['./examples']"
        routerLinkActive #rla2="routerLinkActive"
        [active]="rla2.isActive"
      >
        <z-icon class="mr-1" zType="tips_and_updates"></z-icon>
        {{ 'PAC.KEY_WORDS.Examples' | translate: {Default: "Examples"} }}
      </span>
    }

    @if (organization()) {
      <span z-tab-link [routerLink]="['./users']"
        routerLinkActive #rla4="routerLinkActive"
        [active]="rla4.isActive"
      >
        <z-icon class="mr-1" zType="data_usage"></z-icon>
        {{ 'PAC.Copilot.UserUsage' | translate: {Default: "User Usage"} }}
      </span>
    } @else {
      <span z-tab-link [routerLink]="['./usages']"
        routerLinkActive #rla4="routerLinkActive"
        [active]="rla4.isActive"
      >
        <z-icon class="mr-1" zType="data_usage"></z-icon>
        {{ 'PAC.Copilot.OrgUsage' | translate: {Default: "Organization Usage"} }}
      </span>
    }

    @if (organization()) {
      <span z-tab-link [routerLink]="['./overview']"
        routerLinkActive #rla4="routerLinkActive"
        [active]="rla4.isActive"
      >
        <z-icon class="mr-1" zType="browse_activity"></z-icon>
        {{ 'PAC.Copilot.Monitoring' | translate: {Default: "Monitoring"} }}
      </span>
    }
  </nav>
</div>
  
<z-tab-nav-panel #tabPanel class="pac-page-body flex flex-col items-center"
  [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig.path">
  <router-outlet #o="outlet"></router-outlet>
</z-tab-nav-panel>
