<div class="flex justify-between items-center px-2 py-1">
  <div class="uppercase font-semibold">{{message().type}}</div>

  <button type="button" class="action-btn action-btn-m w-7 h-7"
    (click)="copy()"
  >
    @if (copied()) {
      <i class="ri-clipboard-fill"></i>
    } @else {
      <i class="ri-clipboard-line"></i>
    }
  </button>
</div>

<div class="p-2 flex flex-col">
@switch (message().type) {
  @case ('human') {
    <copilot-message-content [content]="content()" />
  }
  @case ('ai') {
    @if (content()) {
      <copilot-message-content [content]="content()" />
    }
    @if (toolCalls()) {
      @for (toolCall of toolCalls(); track $index) {
        <copilot-message-tool-call [toolCall]="toolCall" />
      }
    }
  }
  @case ('tool') {
    <div class="flex items-center mb-1">Tool: {{toolMessage().name}}</div>
    <!-- <div class="mb-2">{{toolMessage().tool_call_id}}</div> -->

    <markdown class="ngm-copilot-markdown max-h-[400px] block overflow-auto"
      lineNumbers
      [start]="5"
      [data]="toolMessage().content"
    />
  }
}
</div>