<div class="text-lg">
  {{ 'PAC.MENU.EDIT_BUSINESS_AREA' | translate: {Default: "Edit Business Area"} }}
  <span class="text-base font-bold">
    {{ name() }}
  </span>
</div>

<z-card class="rounded-xl shadow-sm border-[0.5px] border-solid border-gray-200">
  <z-card-header>
    <div class="flex items-center gap-2">
      <z-icon zSize="default" zType="settings"></z-icon>
      <span>{{ 'PAC.BUSINESS_AREA.BASIC' | translate: {Default: "Basic Info"} }}</span>
    </div>
  </z-card-header>

  <z-card-content>
    <pac-area-info-form />
  </z-card-content>
</z-card>

<z-card class="rounded-xl shadow-sm border-[0.5px] border-solid border-gray-200">
  <z-card-header>
    <div class="flex items-center gap-2">
      <z-icon zSize="default" zType="group_add"></z-icon>
      <span>{{ 'PAC.MENU.USERS' | translate: {Default: "Users"} }}</span>
    </div>
  </z-card-header>

  <z-card-content>
    <pac-area-users></pac-area-users>
  </z-card-content>
</z-card>
