<div class="pac-page-header">
  <div class="w-full flex flex-col gap-4 lg:flex-row lg:items-end lg:justify-between">
    <div class="flex flex-col">
      <div class="pac-page-title">{{ 'PAC.MENU.MANAGE_USERS' | translate: { Default: 'Manage Users' } }}</div>
    </div>

    @if (isListRoute()) {
      <div class="flex flex-wrap items-center gap-2">
        @if (canBatchImport()) {
          <button type="button" z-button zType="secondary" (click)="batImport()">
            <z-icon zType="upload"></z-icon>
            {{ 'PAC.USERS_PAGE.BatchImport' | translate: { Default: 'Batch Import' } }}
          </button>
        }
        @if (canInviteUsers()) {
          <button type="button" z-button zType="secondary" (click)="invite()">
            <z-icon zType="person_add"></z-icon>
            {{ 'PAC.ACTIONS.INVITE' | translate: { Default: 'Invite' } }}
          </button>
        }
        @if (canCreateUsers()) {
          <button type="button" z-button zType="default" (click)="addUser()">
            <z-icon zType="add"></z-icon>
            {{ 'PAC.ACTIONS.NEW' | translate: { Default: 'New' } }}
          </button>
        }
      </div>
    }
  </div>

  <nav
    z-tab-nav-bar
    class="pac-tab-nav-bar self-stretch max-w-full overflow-hidden"
    color="accent"
    alignTabs="start"
    stretchTabs="false"
    disableRipple
    zSize="default"
    [tabPanel]="tabPanel"
  >
    <span
      z-tab-link
      [routerLink]="['.']"
      routerLinkActive
      #rla="routerLinkActive"
      [routerLinkActiveOptions]="{ exact: true }"
      [active]="rla.isActive"
    >
      <z-icon zSize="default" class="mr-1" zType="account_circle"></z-icon>
      {{ 'PAC.MENU.USERS' | translate: { Default: 'Users' } }}
    </span>

    @if (showInviteTab()) {
      <span
        z-tab-link
        [routerLink]="['invites']"
        routerLinkActive
        #inviteRla="routerLinkActive"
        [routerLinkActiveOptions]="{ exact: true }"
        [active]="inviteRla.isActive"
      >
        <z-icon zSize="default" class="mr-1" zType="person_add"></z-icon>
        {{ 'PAC.ACTIONS.INVITE' | translate: { Default: 'Invite' } }}
      </span>
    }
  </nav>
</div>

<z-tab-nav-panel
  #tabPanel
  class="pac-page-body"
  [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig.path"
>
  <router-outlet #o="outlet"></router-outlet>
</z-tab-nav-panel>
