@use 'sass:map';
@use 'libs/material-theme/src/styles/theme-compat' as themeCompat;

@mixin color($config-or-theme) {
  $config: themeCompat.m2-get-color-config($config-or-theme);
  $background: map.get($config, background);
  $foreground: map.get($config, foreground);

  .ngm-member-tree {
    .tree-node {
      &:hover {
        background-color: themeCompat.m2-get-color-from-palette($background, hover);
      }
      z-checkbox {
        flex: 1;

        .z-checkbox__label {
          flex: 1;
          overflow: hidden;
        }
      }
    }
  }
}

@mixin typography($config-or-theme) {
}

@mixin density($config-or-theme) {
}

@mixin theme($theme) {
  $color: themeCompat.m2-get-color-config($theme);
  $density: themeCompat.m2-get-density-config($theme);
  $typography: themeCompat.m2-get-typography-config($theme);

  @if $color != null {
    @include color($color);
  }
  @if $density != null {
    @include density($density);
  }
  @if $typography != null {
    @include typography($typography);
  }
}
