<div class="relative content-start gap-4 pt-2 pb-4 grow shrink-0"
  ngmDynamicGrid colWidth="280"
  box="content-box">
  @for (toolset of toolsets(); track toolset.id) {
    <xpert-toolset-card [toolset]="toolset" inline class="group/card bg-components-card-bg">
      <button action type="button" class="btn rounded-xl justify-center w-8 h-8 danger opacity-0 group-hover/card:opacity-100"
        [matTooltip]="'PAC.XProject.RemoveTool' | translate: {Default: 'Remove tool'}"
        matTooltipPosition="right"
        (click)="removeTool(toolset)">
        <i class="ri-delete-bin-7-line"></i>
      </button>
    </xpert-toolset-card>
  }
</div>

<div class="flex items-center py-4 text-lg font-semibold text-gray-500 uppercase">
  <div class="mr-3">{{ 'PAC.Xpert.MCPToolset' | translate: { Default: 'MCP Toolset' } }}</div>
  <div class="grow w-0 h-px bg-divider-regular"></div>
</div>

<div class="relative content-start gap-4 pt-2 pb-4 grow shrink-0"
  ngmDynamicGrid colWidth="280"
  box="content-box">
  @for (item of wsToolsets(); track item.toolset.id) {
    <xpert-toolset-card class="group/card col-span-1 min-h-[140px] cursor-pointer bg-components-card-bg"
      [toolset]="item.toolset"
    >
      <button action type="button" class="btn rounded-xl justify-center w-8 h-8 opacity-0 group-hover/card:opacity-100"
        [class.hidden]="item.added"
        [matTooltip]="'PAC.XProject.AddTool' | translate: {Default: 'Add tool'}"
        matTooltipPosition="right"
        (click)="addTool(item.toolset)"
      >
        <i class="ri-apps-2-add-line"></i>
      </button>
    </xpert-toolset-card>
  }
</div>

<mcp-marketplace [workspace]="workspace()" />