<div class="w-[300px] shrink-0 flex flex-col justify-start overflow-auto bg-components-panel-bg text-text-primary p-4 ">
  <div class="w-full flex justify-start items-center mb-4 group cursor-pointer" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <z-icon zSize="default" class="-ml-2 opacity-0 group-hover:opacity-80" zType="drag_indicator"></z-icon>
    <span class="text-xl font-semibold pointer-events-none">
      {{ 'PAC.INDICATOR.Indicators' | translate: { Default: 'Indicators' } }}
    </span>
  </div>

  <ul class="ngm-nav-list my-2 flex-1 space-y-1 overflow-auto">
    @for (indicator of indicators; track indicator; let i = $index) {
      <li class="flex group/item"
        [class.active]="activedIndex() === i"
        (click)="activeLink(i, indicator)">
        <div class="flex justify-between items-center">
          <span class="flex-1"> {{ indicator.name }} </span>
          <z-icon class="cursor-pointer rounded-full invisible hover:bg-components-card-bg/20 group-hover/item:visible"
            ngmAppearance="danger"
            (click)="removeIndicator(i)" zType="close"></z-icon>
        </div>
      </li>
    }
  </ul>

  <div class="flex justify-start">
    <div ngmButtonGroup>
      <button z-button zType="default" cdkFocusInitial (click)="bulkCreate()">
        @if (uploading) {
          <z-loader diameter="20" class="m-2" />
        } @else {
          <span>
            {{ 'PAC.INDICATOR.Import' | translate: { Default: 'Import' } }}
          </span>
        }
      </button>
    </div>
  </div>
</div>

<div class="overflow-y-auto">
  @for (item of _indicator(); track item; let i = $index) {
    <xp-indicator-register-form
      [certifications]="certifications"
      [models]="models"
      [ngModel]="item"
      (ngModelChange)="onIndicatorChange($event)"
    />
  }
</div>
