:host {
  @apply flex-1 flex flex-col justify-start items-start relative;
  min-width: 0; // Allow flex children to shrink properly
}

.mat-mdc-input-element {
  field-sizing: content;
  &.ngm-error {
    @apply border-red-500;
  }
}

:host::ng-deep {
  mark.highlight:hover {
    @apply bg-blue-200;
  }
}

.prompt-template.fullscreen {
  @apply absolute top-0 left-0 w-full h-full z-10 transition-all;
}

.mat-mdc-slider {
  width: 160px;
}
