<div class="text-md sticky top-0 z-[1] flex p-2 items-center bg-components-panel-bg font-semibold text-text-primary">
      <div class="grow">{{ 'PAC.MODEL.Checklist' | translate: {Default: 'Checklist'} }} ({{checklist()?.length ?? 0}})</div>
    </div>

    <div class="py-2">
      <div class="p-2 text-sm text-text-tertiary">
        {{ 'PAC.MODEL.ChecklistTip' | translate: {Default: 'Make sure all issues are resolved before publishing'} }}
      </div>
    
      @for (item of checklist(); track item) {
        <div class="mb-2 cursor-pointer rounded-lg border-[0.5px] border-components-panel-border bg-components-panel-bg shadow-xs last-of-type:mb-0">
          <div class="flex justify-start h-9 items-center p-2 text-sm font-medium text-text-secondary">
            <span class="truncate uppercase">{{ item.field }}:</span>
            <span class="grow truncate">{{ item.value }}</span>
          </div>
          <div class="border-t-[0.5px] border-divider-regular">
            <div class="px-3 py-2 last:rounded-b-lg">
              <div class="flex items-start text-sm leading-[18px] text-text-tertiary">
                <div class="w-5 h-5 flex justify-center items-center mr-2">
                  @if (item.level === 'error') {
                    <i class="ri-error-warning-fill text-lg text-text-destructive"></i>
                  } @else if (item.level === 'warning') {
                    <i class="ri-alert-line text-lg text-text-warning"></i>
                  } @else {
                    <i class="ri-information-line text-lg"></i>
                  }
                </div>
                <div>
                  {{ item.message | i18n }}
                </div>
              </div>
            </div>
          </div>
        </div>
      }
    </div>