@use 'sass:map';
@use 'libs/material-theme/src/styles/theme-compat' as mat;

@mixin color($config-or-theme) {
  $config: mat.m2-get-color-config($config-or-theme);
  $background: map.get($config, background);
  $foreground: map.get($config, foreground);

  .cdk-virtual-scroll-viewport.ngm-smart-filter__autocomplete-viewport {
    .ngm-display-behaviour {
      overflow: visible;
    }
    z-checkbox {
      display: flex;

      .z-checkbox__label {
        flex: 1;
      }
    }
  }
}

@mixin typography($config-or-theme) {
}

@mixin density($config-or-theme) {
}
