<div fNodeInput [fInputId]="node().key" fInputConnectableSide="top" class="top absolute"></div>

<div class="block relative w-full">
  <div
    fNodeOutput
    [fOutputId]="node().key + '/edge'"
    fOutputConnectableSide="right"
    [fOutputMultiple]="true"
    class="right group"
  >
    <div class="inner-dot cursor-crosshair">
      <i class="ri-add-line w-2 h-2 flex justify-center items-center text-white"></i>
    </div>
  </div>
</div>

<div class="space-y-1">
  <div class="font-mono text-sm truncate flex justify-between items-center">
    <span class="font-semibold">{{ toolName() }}</span>

    @if (isEnd()) {
      <i
        class="ri-stop-circle-line shrink-0 text-lg leading-4 text-text-secondary"
        [zTooltip]="
          'PAC.Xpert.EndTool' | translate: { Default: 'Terminal tool, the run of chat ends when tool completed' }
        "
        zPosition="top"
      ></i>
    }
  </div>

  <div class="flex flex-wrap items-center gap-1">
    @for (execution of executions(); track execution) {
      @switch (execution.status) {
        @case ('running') {
          <ngm-spin class="shrink-0 scale-90 origin-center" small />
        }
        @case ('fail') {
          <div
            class="xpert-status-indicator xpert-status-indicator--error"
            [zTooltip]="execution.error"
            zPosition="top"
          ></div>
        }
        @case ('success') {
          <div
            class="xpert-status-indicator xpert-status-indicator--success"
            [zTooltip]="execution.message"
            zPosition="top"
          ></div>
        }
      }
    }
  </div>

  <div class="text-sm font-mono text-left line-clamp-3">
    {{ toolDescription() }}
  </div>
</div>

<!-- @if (errorHandling()?.type) {
  <xpert-node-error-handling [node]="node()" [errorHandling]="errorHandling()" />
} -->
