@use '../../../@theme/flow-common';

:host {
  @apply relative block w-full h-full;
}

:host::ng-deep {
  @include flow-common.connection;
  @include flow-common.background;
  @include flow-common.line-alignment;
  @include flow-common.minimap;

  .f-component.f-node-output {
    border-radius: 0;
    width: 3px;
    height: var(--output-size);
    @apply bg-blue-500;
  }
}