@if (transformerStrategy(); as strategy) {
  <div class="flex items-start px-4 pt-4">
    <div class="w-10 h-10 flex items-center justify-center relative overflow-hidden shadow-md rounded-lg bg-gray-100">
      <xp-workflow-custom-icon [icon]="strategy.icon" />
    </div>

    <div class="flex-1 space-y-0.5 px-4 overflow-hidden">
      <div class="text-text-secondary system-md-semibold">
        {{ strategy.label | i18n }}
      </div>
      <div class="text-text-tertiary system-xs-regular truncate" [title]="strategy.description | i18n">
        {{ strategy.description | i18n }}
      </div>
    </div>
  </div>
}

<div class="p-4">
  <div class="font-bold mb-2">
    输入参数
  </div>

  <div>
    <div>输入文本<span class="text-text-destructive">*</span></div>
    <xpert-state-variable-select
      [variables]="variables()"
      [(ngModel)]="input"
    />
  </div>

  <div class="font-bold mb-2">
    设置
  </div>
  @if (transformerConfigSchema(); as transformerConfigSchema) {
    <json-schema-form class="mt-2 grid grid-cols-2 gap-2" [schema]="transformerConfigSchema" 
      [(ngModel)]="transformer"
    />
  }
</div>