<div class="w-full lg:w-[400px] lg:max-w-[400px] flex flex-col">
  <form [formGroup]="formGroup" class="flex flex-col gap-4">
    <!-- <xp-avatar-editor formControlName="avatar" class="w-48 h-48 self-center" /> -->
    <emoji-avatar formControlName="avatar" editable class="knowledgebase-avatar self-center shadow-md" />

    <xp-input [label]="'XP.KEY_WORDS.Name' | translate: { Default: 'Name' }" formControlName="name" />

    <div class="flex-1 min-w-full flex flex-col">
      <label class="xp-input-label shrink-0">{{
        'XP.KEY_WORDS.Description' | translate: { Default: 'Description' }
      }}</label>
      <textarea
        class="xp-input-element"
        z-input
        formControlName="description"
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"
      >
      </textarea>
    </div>

    <xp-select
      [label]="'XP.KEY_WORDS.Language' | translate: { Default: 'Language' }"
      formControlName="language"
      valueKey="key"
      [selectOptions]="[
        {
          key: 'English',
          caption: 'English'
        },
        {
          key: 'Chinese',
          caption: 'Chinese'
        }
      ]"
    />
    <div class="flex-1 min-w-full flex flex-col">
      <label class="xp-input-label shrink-0">{{
        'XP.KEY_WORDS.Permission' | translate: { Default: 'Permission' }
      }}</label>
      <z-radio-group formControlName="permission" aria-label="Select an permission">
        <z-radio [value]="KnowledgebasePermission.Private">{{
          'XP.Knowledgebase.Permission_Private' | translate: { Default: 'Private' }
        }}</z-radio>
        <z-radio [value]="KnowledgebasePermission.Organization">{{
          'XP.Knowledgebase.Permission_Organization' | translate: { Default: 'Organization' }
        }}</z-radio>
        <z-radio [value]="KnowledgebasePermission.Public">{{
          'XP.Knowledgebase.Permission_Public' | translate: { Default: 'Public' }
        }}</z-radio>
      </z-radio-group>
    </div>

    <copilot-model-select class="" [modelType]="eModelType.TEXT_EMBEDDING" formControlName="copilotModel" />

    <!-- <xp-select [label]=" 'XP.KEY_WORDS.Copilot' | translate: {Default: 'Copilot'} "
      formControlName="copilotId"
      valueKey="key"
      [displayBehaviour]="DisplayBehaviour.descriptionOnly"
      [selectOptions]="copilotOptions()"
    />

    <xp-select [label]=" 'XP.Knowledgebase.EmbeddingModel' | translate: {Default: 'Embedding Model'} " formControlName="embeddingModelId"
      valueKey="key"
      searchable
      allowInput
      [selectOptions]="models()"
    /> -->

    <div formGroupName="parserConfig">
      <xp-input
        [label]="'XP.Knowledgebase.EmbeddingBatchSize' | translate: { Default: 'Embedding Batch Size' }"
        formControlName="embeddingBatchSize"
      />
      <xp-input
        [label]="'XP.Knowledgebase.ChunkSize' | translate: { Default: 'Chunk Size' }"
        formControlName="chunkSize"
      />
      <xp-input
        [label]="'XP.Knowledgebase.ChunkOverlap' | translate: { Default: 'Chunk Overlap' }"
        formControlName="chunkOverlap"
      />
    </div>

    <xp-slider-input
      [label]="'XP.Knowledgebase.SimilarityThreshold' | translate: { Default: 'Similarity Threshold' }"
      formControlName="similarityThreshold"
      [min]="0"
      [max]="1"
      [step]="0.01"
    >
      <span
        class="font-notoColorEmoji"
        [zTooltip]="
          'XP.Knowledgebase.SimilarityThresholdInfo'
            | translate
              : {
                  Default:
                    'If the similarity between the query and the chunk is less than this threshold, the chunk will be filtered out.'
                }
        "
        >💡</span
      >
    </xp-slider-input>

    <div class="flex justify-end gap-2">
      <button z-button zType="secondary" type="button" (click)="cancel()">
        {{ 'XP.KEY_WORDS.Cancel' | translate: { Default: 'Cancel' } }}
      </button>
      <button
        z-button
        zType="default"
        [disabled]="loading() || formGroup.invalid || formGroup.pristine"
        (click)="save()"
      >
        {{ 'XP.KEY_WORDS.Save' | translate: { Default: 'Save' } }}
      </button>
    </div>
  </form>
</div>
