<div class="w-full flex justify-start items-center px-3 pt-3 pb-2">
  <emoji-avatar [avatar]="xpert().avatar" small class="shrink-0 mr-2 rounded-lg overflow-hidden shadow-sm" />
  <div class="flex flex-col">
    <span class="text-lg">{{xpert().name}}</span>
  </div>

  <div class="flex-1"></div>

  <div class="flex justify-between items-center gap-1">

    <button type="button" class="action-btn action-btn-sm justify-center w-6 h-6 p-0.5 rounded-md pressable"
      [matTooltip]="'PAC.Xpert.RefreshToolset' | translate: {Default: 'Refresh, sync toolset configuration'}"
      matTooltipPosition="above"
      (click)="refresh()">
      <i class="ri-refresh-line"></i>
    </button>

    <div class="flex items-center justify-center w-8 h-8 rounded-md cursor-pointer
      text-text-tertiary hover:text-base-content hover:bg-hover-bg"
      (click)="closePanel()"
    >
      <ngm-close-svg class="w-5 h-5" />
    </div>
  </div>
</div>

<div class="w-full flex flex-col p-4 gap-4">
  <div class="text-text-tertiary text-sm">
    {{xpert().description}}
  </div>

  <copilot-model-select class="w-full" readonly
    [modelType]="eModelType.LLM"
    [copilotModel]="copilotModel()"
  />
</div>

@if (loading()) {
  <ngm-spin class="absolute top-0 left-0 w-full h-full"/>
}