@reference "../../../../tailwind-workspace-reference.css";
:host {
  position: relative;
  display: flex;
  flex-direction: column;
}

[data-slot='tree-node'] {
  min-height: 30px;

  [z-button][data-icon-only],
  z-button[data-icon-only] {
    --mdc-icon-button-state-layer-size: 30px;
    padding: 0;
  }
}

.ngm-display-behaviour {
  flex: 1;
  overflow: hidden;
}

.ngm-search {
  @apply w-0;

  &.ngm-search__has-value, &.cdk-focused {
    @apply w-auto;
  }
}

[data-slot='tree-node']:hover {
  .ngm-search {
    @apply w-auto;
  }
}
