:host {
  display: flex;
  overflow-x: hidden;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

.breadcrumb {
  @apply overflow-hidden;
}

.breadcrumb__step {
  @apply whitespace-nowrap text-ellipsis shrink;

  &.first {
    @apply rounded-l-lg;
  }
  &.last {
    @apply rounded-r-lg;
  }
}

.breadcrumb__step.breadcrumb__step--active:last-child {
  @apply shrink-0;
}