:host {
  .container {
    @apply cursor-pointer bg-gray-100;
  }
  &.status-choose {
    .container {
      @apply bg-yellow-50 border-yellow-200 hover:border-yellow-300;
    }
  }

  &.readonly {
    .container {
      @apply cursor-default;
    }
  }
}

::ng-deep {
  .copilot-model-parameters-menu {
    --mdc-slider-inactive-track-height: 2px;
    --mdc-slider-active-track-height: 4px;
    --mdc-slider-handle-width: 15px;
    --mdc-slider-handle-height: 15px;
  }
}
