@reference "../../../tailwind-workspace-reference.css";
.ngm-analytical-grid {
  --analytical-grid-row-hover-bg-color: var(--color-analytical-grid-row-hover-bg);
  --analytical-grid-row-striped-bg-color: var(--color-analytical-grid-row-striped-bg);
  --analytical-grid-selected-border-color: var(--color-analytical-grid-selection-border);
  --analytical-grid-selected-bg-color: var(--color-analytical-grid-selection-bg);
  --analytical-grid-selection-accent-color: var(--color-analytical-grid-selection-accent);
  --analytical-grid-header-bg-color: var(--color-analytical-grid-header-bg);

  tr[z-table-row] {
    &:hover {
      background-color: var(--analytical-grid-row-hover-bg-color);
    }

    &.selected {
      background-color: var(--analytical-grid-selected-bg-color);

      [z-table-cell].ngm-analytical-grid__dimension.selected-member {
        @apply relative;
        &::before {
          content: '';
          @apply absolute left-0.5 top-0 h-full w-0.5 block;
          background-color: var(--analytical-grid-selection-accent-color);
        }
      }
    }
  }

  [z-table-head].selected-member {
    @apply relative;

    &::before {
      content: '';
      @apply absolute left-0 bottom-0 h-0.5 w-full block;
      background-color: var(--analytical-grid-selection-accent-color);
    }
  }
  [z-table-cell].selected-cell,
  [z-table-head].selected {
    background-color: var(--analytical-grid-selected-bg-color);
  }

  &.cdk-focused {
    tr[z-table-row].selected {
      [z-table-cell].ngm-analytical-grid__dimension.selected,
      [z-table-cell].selected-cell {
        border-right: 1px solid var(--analytical-grid-selected-border-color);
        border-bottom: 1px solid var(--analytical-grid-selected-border-color);
        box-shadow: inset 1px 1px var(--analytical-grid-selected-border-color);
      }
    }
  }

  &.striped {
    tbody[z-table-body] tr[z-table-row]:nth-child(even):not(.selected):not(:hover) {
      background-color: var(--analytical-grid-row-striped-bg-color);
    }
  }

  thead[z-table-header] th[z-table-head] {
    background-color: var(--analytical-grid-header-bg-color);
  }
}
