<form [formGroup]="form" class="w-full h-full flex flex-col justify-start items-stretch">
  <div class="xp-page-header">
    <div class="flex flex-col">
      <div class="text-xl font-semibold">{{ 'XP.MENU.Email Template' | translate: { Default: 'Email Template' } }}</div>
      <div class="xp-page-subtitle">
        {{ 'XP.MENU.ForOrganization' | translate: { Default: 'For Organization' } }}:
        {{ organization?.name }}
      </div>
    </div>

    <div class="flex justify-between items-end px-4 gap-4">
      <button type="button" class="btn rounded-xl justify-center w-8 h-8" (click)="close()">
        <i class="ri-close-line"></i>
      </button>

      <!-- <xp-language-selector class="w-48"
		formControlName="languageCode"
		(ngModelChange)="subject$.next(true)"
	  />

	  <xp-select class="w-48"
		label="{{ 'XP.KEY_WORDS.TemplateName' | translate: {Default: 'Template Name'} }}"
		formControlName="name"
		[selectOptions]="templateNames"
		valueKey="key"
		displayBehaviour="descriptionOnly"
		(ngModelChange)="subject$.next(true)"
	  /> -->
    </div>
  </div>

  <div class="flex-1 grid grid-cols-2 gap-4 p-4">
    <div class="rounded overflow-hidden flex flex-col justify-start items-stretch gap-2 p-2">
      <div class="basis-10 flex flex-col justify-start items-stretch shadow-md rounded-md">
        <h3 class="p-2">{{ 'XP.KEY_WORDS.Subject' | translate: { Default: 'Subject' } }}</h3>
        <ngx-monaco-editor
          [options]="{
            theme: theme(),
            automaticLayout: true,
            language: 'sql'
          }"
          formControlName="subject"
        ></ngx-monaco-editor>
      </div>

      <div class="flex-1 flex flex-col justify-start items-stretch shadow-md rounded-md">
        <h3 class="p-2">{{ 'XP.KEY_WORDS.EmailBody' | translate: { Default: 'Email Body' } }}</h3>
        <ngx-monaco-editor
          class="flex-1"
          [options]="{
            theme: theme(),
            automaticLayout: true,
            language: 'html'
          }"
          formControlName="mjml"
        ></ngx-monaco-editor>
      </div>
    </div>

    <div class="overflow-hidden flex flex-col justify-start items-stretch p-4 shadow-md rounded-md">
      <div class="basis-14 flex justify-start items-stretch">
        <span>{{ 'XP.KEY_WORDS.Subject' | translate: { Default: 'Subject' } }}:</span>
        <div id="previewSubject" class="flex-1" [innerHtml]="previewSubject"></div>
      </div>

      <div class="flex-1 flex flex-col justify-start items-stretch overflow-auto">
        <h3>{{ 'XP.KEY_WORDS.EmailBody' | translate: { Default: 'Email Body' } }}</h3>
        <div class="flex-1 overflow-auto">
          <div id="previewEmail" [innerHtml]="previewEmail()"></div>
        </div>
      </div>

      <div class="w-full flex justify-end">
        <div class="flex items-center gap-1">
          <button
            z-button
            zType="default"
            class="shrink-0 w-24"
            [disabled]="form.invalid || form.pristine"
            (click)="submitForm()"
          >
            <div class="flex items-center">
              <z-icon zType="save"></z-icon>
              {{ 'XP.ACTIONS.Save' | translate: { Default: 'Save' } }}
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
