:host {
  @apply w-full flex flex-col;
}

:host::ng-deep {
  pac-settings-chatbi-model {
    @apply absolute w-full h-full;
    z-index: 110;
  }
  
  // Hide column search icons in ngm-table since we have a global search box
  ngm-table {
    .searchable-icon {
      display: none;
    }
  }
}
