<div class="ngm-theme-dark dark w-[300px] shrink-0 flex flex-col justify-start overflow-auto bg-bluegray-700 text-white p-4 group">
  <div class="w-full flex justify-start items-center mb-4" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <z-icon zSize="default" class="-ml-2 opacity-0 group-hover:opacity-80" zType="drag_indicator"></z-icon>
    <span class="text-lg pointer-events-none">
      {{ 'Story.Common.StoryTemplates' | translate: { Default: 'Story Templates' } }}
    </span>
  </div>

  <ngm-search class="my-2" [formControl]="searchControl"></ngm-search>

  <ul class="ngm-nav-list flex-1">
    <li class="mb-2" [class.active]="activedLink === c_suggested" (click)="activeLink(c_suggested)">
      <div class="flex items-center">
        <z-icon  zType="star"></z-icon>
        <span > {{ 'Story.Common.Suggested' | translate: {Default: 'Suggested'} }} </span>
      </div>
    </li>

    <li [class.active]="activedLink === c_my"
      (click)="activeLink(c_my)">
      <div class="flex items-center">
        <z-icon></z-icon>
        <span > {{ 'Story.Common.My' | translate: {Default: 'My'} }} </span>
      </div>
    </li>
  </ul>

</div>

<div class="flex-1 flex flex-col">

  <div class="p-4 flex flex-col gap-4">
    <div class="flex items-center gap-2">
      <label class="w-10 shrink-0">
        {{ 'Story.Template.Type' | translate: {Default: 'Type'} }}
      </label>
      <ngm-tags class="flex-1" selectable [tags]="[
        {
          value: StoryTemplateType.Template,
          label: 'Story.Template.Template' | translate: {Default: 'Template'}
        },
        {
          value: StoryTemplateType.Theme,
          label: 'Story.Template.Theme' | translate: {Default: 'Theme'}
        }]"
        [(ngModel)]="templateTypes"
      ></ngm-tags>
    </div>

    <div class="flex items-center gap-2">
      <label class="w-10 shrink-0">{{ 'Story.Template.Tags' | translate: {Default: 'Tags'} }}</label>
      <pac-tags class="flex-1 " [tags]="tags" [selectable]="true"
        (selectedChange)="onTagsChange($event)"
      ></pac-tags>
    </div>
  </div>

  <div class="p-4 pt-0 flex-1 overflow-auto grid grid-cols-3 gap-4" [@listAnimation]="(templates$ | async)?.length">

    @for (template of templates$ | async; track trackById($index, template)) {
      <div class="pac-template h-64 overflow-hidden flex flex-col" [class.active]="template.id === appliedTemplateId">
      <div class="pac-template__preview flex-1 m-1 rounded-lg border-2 overflow-hidden relative group
      border-slate-200 bg-slate-50 dark:border-slate-800 dark:bg-slate-700">
          <img [src]="template.preview?.url ?? template.thumbnail" class="w-full h-44 object-cover" loading="lazy"/>
          <pac-tags [tags]="template.tags" [selectable]="true" (selectedChange)="onTagsChange($event)" class="absolute bottom-0 left-0 w-full p-2 z-10"></pac-tags>
          <div class="w-full h-full absolute top-0 left-0 flex flex-col justify-center items-center gap-2 opacity-0 bg-slate-500/20 group-hover:opacity-100 group-hover:backdrop-blur-lg rounded-md overflow-hidden">
            <button z-button zType="default" color="primary" class="w-20" (click)="useTemplate(template.id)">
              {{ 'Story.Template.Use' | translate: {Default: "Use"} }}
            </button>
            <!-- <button z-button zType="default" class="w-20">Preview</button> -->
            @if (activedLink === 'my') {
              <button z-button zType="ghost" zSize="icon" zShape="circle" class="pac-template__remove absolute right-2 top-2 text-white" displayDensity="cosy" ngmAppearance="danger" (click)="deleteTemplate(template)">
                <z-icon zType="close"></z-icon>
              </button>
            }
          </div>
        </div>
        <div class="flex flex-col justify-start items-start h-20">
          <div class="text-base overflow-hidden text-ellipsis" [ngmHighlight]="highlight" [content]="template.name" customClasses="bg-transparent font-semibold text-amber-500">{{ template.name }}</div>
          <div class="text-sm overflow-hidden text-ellipsis">
            {{ template.createdBy | user}}
          </div>
        </div>
      </div>
    }

  </div>
</div>
