@reference "../../../../styles/tailwind-reference.css";
:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 100%;
  
}

:host::ng-deep {
  .ngm-list > li:not(.pointer-events-none) {
    @apply hover:bg-gray-100 dark:hover:bg-gray-100/20;
  }
}
