<div class="ngm-tables-join__container">
  @for (item of tables$ | async; let i = $index; let isFirst = $first; let isLast = $last; track item.__id__) {
    @if (!isFirst) {
      <div class="table-join">
        <span class="join-icon join-icon-with-connector"
          [ngClass]="{
            'inner-join-icon': !item.join?.type || item.join.type === 'Inner',
            'left-join-icon': item.join?.type === 'Left',
            'right-join-icon': item.join?.type === 'Right'
          }"
          #trigger="cdkMenuTriggerFor"
          [cdkMenuTriggerFor]="joinMenu"
          [cdkMenuTriggerData]="{table: item, trigger: trigger}"
        ></span>
      </div>
    }

    <div class="join-table">
      <span class="join-table-name">
        {{ item.name }}
      </span>
    
      <button mat-icon-button displayDensity="compact"
        [cdkMenuTriggerFor]="tableMenu"
        [cdkMenuTriggerData]="{table: item}"
      >
        <i class="ri-more-line"></i>
      </button>
    </div>
  }
</div>

<ng-template #tableMenu let-table="table">
  <div cdkMenu class="cdk-menu__medium">
    <button cdkMenuItem class="danger" (click)="removeTable(table)">
      <i class="ri-delete-bin-3-line mr-1"></i>{{'PAC.KEY_WORDS.REMOVE' | translate: {Default: "Remove"} }}
    </button>
  </div>
</ng-template>


<ng-template #joinMenu let-table="table" let-trigger="trigger">
  <div class="ngm-tables-join__join-menu rounded-2xl border border-solid border-divider-deep shadow-lg bg-components-card-bg">
    <div class="flex justify-between items-center p-2">
      <h1 class="shrink-0 text-lg px-2 font-semibold text-gray-900">
        {{ 'PAC.MODEL.JoinConfig' | translate: {Default: 'Join config'} }}</h1>
      <button type="button" class="btn-close btn btn-secondary flex items-center justify-center w-6 h-6 cursor-pointer z-20"
        (click)="trigger.close()">
        <i class="ri-close-line"></i>
      </button>  
    </div>

    <div class="flex flex-col">
      <div class="flex justify-around items-center">
        <div class="table-join" [ngClass]="{selected: table.join?.type === 'Left'}" (click)="changeJoinType(table, 'Left')">
          <span class="join-icon left-join-icon"></span>
        </div>

        <div class="table-join" [ngClass]="{selected: table.join?.type === 'Inner'}" (click)="changeJoinType(table, 'Inner')">
          <span class="join-icon inner-join-icon"></span>
        </div>

        <div class="table-join" [ngClass]="{selected: table.join?.type === 'Right'}" (click)="changeJoinType(table, 'Right')">
          <span class="join-icon right-join-icon"></span>
        </div>
      </div>

      <mat-divider></mat-divider>

      <div class="join-fields-form flex flex-col justify-start items-stretch" displayDensity="compact">
        @if (table.join?.type && !table.join?.fields?.length) {
          <button class="fit-form-field" displayDensity="compact" mat-button
            (click)="addJoinField(table)">
            <mat-icon>add</mat-icon>
          </button>
        }
        @for (joinField of table.join?.fields; track i; let i = $index; let isFirst = $first; let isLast = $last) {
          <div class="join-field-item flex justify-around items-center">
            <ngm-input [label]="'PAC.MODEL.ENTITY.LeftKey' | translate: {Default: 'Left Key'}"
                [ngModel]="joinField.leftKey" (ngModelChange)="changeLeftKey(table, i, $event)"
                [options]="selectLeftTableFields(table) | async"
                (click)="$event.preventDefault();$event.stopPropagation()">
            </ngm-input>

            <div class="fit-form-field">
              {{'PAC.MODEL.ENTITY.Equal' | translate: {Default: "Equal"} }}
            </div>

            <ngm-input [label]="'PAC.MODEL.ENTITY.RightKey' | translate: {Default: 'Right Key'}"
              [ngModel]="joinField.rightKey" (ngModelChange)="changeRightKey(table, i, $event)"
              [options]="selectTableType(table) | async"
              (click)="$event.preventDefault();$event.stopPropagation()">
            </ngm-input>

            @if (isFirst) {
              <button class="fit-form-field" mat-button (click)="addJoinField(table)">
                <mat-icon>add</mat-icon>
              </button>
            } @else {
              <button class="fit-form-field" mat-button (click)="removeJoinField(table, i)">
                <mat-icon>close</mat-icon>
              </button>
            }
          </div>
        }
      </div>
    </div>
  </div>
</ng-template>