:host {
  @apply flex flex-col justify-start items-stretch max-h-full;
}

.f-component.f-node-output.right {
  border-radius: 0;
  width: 3px;
  height: var(--output-size);
  right: -1rem;
  @apply bg-blue-500;
}