<z-tab-group class="overflow-hidden">
  <z-tab [label]="'PAC.Story.GlobalStyles' | translate: {Default: 'Global Styles'}">
    <formly-form class="m-4"
      [fields]="storyFields()"
      [options]="storyOptions"
      [form]="storyFormGroup"
      [model]="storyModel"
    />
  </z-tab>
  <z-tab [label]=" 'PAC.Story.ComponentsStyles' | translate: {Default: 'Components Styles'} ">
    <formly-form
      [fields]="fields"
      [options]="options"
      [form]="formGroup"
      [model]="model"
      (modelChange)="onModelChange($event)"
    />
  </z-tab>
</z-tab-group>
