<z-form-field class="w-full" [appearance]="appearance">
  <z-form-label>{{ label }}</z-form-label>

  <z-chip-grid #chipGrid [attr.aria-label]="label" multiple>
    @for (keyword of keywords; track keyword) {
      <z-chip-row
        [value]="keyword"
        [removable]="removable"
        (removed)="removeKeyword(keyword)"
        >{{keyword}}
        @if (removable) {
          <button zChipRemove>
            <z-icon zType="cancel"></z-icon>
          </button>
        }
      </z-chip-row>
    }
  </z-chip-grid>

  <input
    [placeholder]="placeholder"
    [zChipInputFor]="chipGrid"
    [zChipInputAddOnBlur]="addOnBlur"
    (zChipInputTokenEnd)="addKeywordFromInput($event)"
    >
</z-form-field>
