@use 'sass:map';
@use 'sass:color';
@use 'libs/material-theme/src/styles/theme-compat' as themeCompat;

@mixin color($theme) {
  $config: themeCompat.m2-get-color-config($theme);

  $primary-palette: map.get($config, 'primary');
  $accent-palette: map.get($config, 'accent');
  $background: map.get($config, background);
  $foreground: map.get($config, foreground);

  .pac-model-cube-structure {
    .pac-cube__join-table-container {
      .join-table {
        background-color: rgba(80, 127, 242, 0.08);

        &::before {
          background-color: themeCompat.m2-get-color-from-palette($primary-palette, 300);
        }
      }
    }
  }
}

@mixin typography($theme) {
}

@mixin density($theme) {
}

@mixin theme($theme) {
  $color: themeCompat.m2-get-color-config($theme);
  $density: themeCompat.m2-get-density-config($theme);
  $typography: themeCompat.m2-get-typography-config($theme);

  @if $color != null {
    @include color($color);
  }
  @if $density != null {
    @include density($density);
  }
  @if $typography != null {
    @include typography($typography);
  }
}
