<div class="group relative rounded-xl border border-neutral-200 dark:border-white/10 bg-black/5 dark:bg-black/20 h-[400px] pt-10 w-full min-h-[240px] max-h-[400px] overflow-auto"
  style="grid-column: 1 / -1; width: 100%"
>
  <div class="h-full w-full relative">
    <iframe [src]="url()" class="h-full w-full"></iframe>
  </div>
  <div class="absolute top-0 left-0 right-0 bg-black/5 dark:bg-white/5 p-2 z-10 flex items-center justify-between">
    <div class="text-sm font-medium truncate">{{title()}}</div>
    <button class="w-7 h-7 rounded-full flex justify-center items-center hover:bg-black/10 dark:hover:bg-white/10"
      (click)="openTab()">
      <i class="ri-external-link-line"></i>
    </button>
  </div>
</div>
