@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($config-or-theme) {
  $config: mat.m2-get-color-config($config-or-theme);
  $background: map.get($config, background);
  $foreground: map.get($config, foreground);
}

@mixin typography($config-or-theme) {
}

@mixin icon-cosy() {
  line-height: 20px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  margin: 0;
}

@mixin icon-compact() {
  line-height: 16px;
  width: 16px;
  height: 16px;
  font-size: 16px;
  margin: 0;
}

@mixin _button-target($density-class) {
  [z-button].#{$density-class},
  z-button.#{$density-class},
  .#{$density-class} [z-button],
  .#{$density-class} z-button {
    @content;
  }
}

@mixin density($config-or-theme) {
  @include _button-target('ngm-density__cosy') {
    height: 30px;
    line-height: 30px;

    &:not([data-icon-only]):not([data-z-size='icon']):not([data-z-size='icon-xs']):not([data-z-size='icon-sm']):not([data-z-size='icon-lg']) {
      padding: 0 12px;
    }

    &[data-icon-only],
    &[data-z-size='icon'],
    &[data-z-size='icon-xs'],
    &[data-z-size='icon-sm'],
    &[data-z-size='icon-lg'] {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      line-height: 30px;
      padding: 2px;
    }

    .mat-icon {
      @include icon-cosy();
    }
  }

  @include _button-target('ngm-density__compact') {
    height: 24px;
    line-height: 24px;

    .mat-icon {
      @include icon-compact();
    }

    &:not([data-icon-only]):not([data-z-size='icon']):not([data-z-size='icon-xs']):not([data-z-size='icon-sm']):not([data-z-size='icon-lg']) {
      padding: 0 6px;
    }

    &[data-icon-only],
    &[data-z-size='icon'],
    &[data-z-size='icon-xs'],
    &[data-z-size='icon-sm'],
    &[data-z-size='icon-lg'] {
      width: 24px;
      height: 24px;
      line-height: 24px;
      padding: 0;
    }
  }
}

@mixin theme($theme) {
  $color: mat.m2-get-color-config($theme);
  $density: mat.m2-get-density-config($theme);
  $typography: mat.m2-get-typography-config($theme);

  @if $color != null {
    @include color($color);
  }
  @if $density != null {
    @include density($density);
  }
  @if $typography != null {
    @include typography($typography);
  }
}
