@use 'sass:map';
@use 'libs/material-theme/src/styles/theme-compat' as mat;

@mixin color($config-or-theme) {
  $config: mat.m2-get-color-config($config-or-theme);
  $background: map.get($config, background);
  $foreground: map.get($config, foreground);

  .ngm-card-error {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 1rem;
  }

}

@mixin typography($config-or-theme) {
}

@mixin density($config-or-theme) {
  .ngm-card-header {
    height: 40px;
    padding: 0 10px;
    max-width: 100%;
  }

  .ngm-density__cosy {
    .ngm-card-header {
      height: 35px;
      padding: 0 8px;

      z-loader {
        height: 35px;
        width: 35px;
        line-height: 35px;
      }
    }
  }

  .ngm-density__compact {
    .ngm-card-header {
      height: 30px;
      padding: 0 5px;

      z-loader {
        height: 30px;
        width: 30px;
        line-height: 30px;
      }
    }
  }

}

@mixin theme($theme) {
  $color: mat.m2-get-color-config($theme);
  $density: mat.m2-get-density-config($theme);
  $typography: mat.m2-get-typography-config($theme);

  @if $color != null {
    @include color($color);
  }
  @if $density != null {
    @include density($density);
  }
  @if $typography != null {
    @include typography($typography);
  }
}
