@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($config-or-theme) {
  $config: mat.m2-get-color-config($config-or-theme);
  $background: map.get($config, background);
  $foreground: map.get($config, foreground);
  $primary: map.get($config, primary);
  $accent: map.get($config, accent);
}

@mixin density($config-or-theme) {
  // For accordion expansion
  .ngm-density__compact[data-slot='accordion'],
  .ngm-density__compact [data-slot='accordion'] {
    [data-slot='accordion-header'][data-state='closed'] {
      min-height: 34px;
    }

    [data-slot='accordion-header'][data-state='open'] {
      min-height: 50px;
    }

    [data-slot='accordion-header'] {
      padding: 0 14px;
    }
  }

}
