.nx-dialog-container {
  &.small {
    min-height: 50vh;
    min-width: 40vw;
  }
  &.medium {
    min-width: 60vw;
    min-height: 60vh;
  }
  &.large {
    min-width: 80vw;
    min-height: 80vh;
  }
}

.cdk-overlay-pane {
  &.small {
    min-height: 50vh;
    min-width: 40vw;
    max-width: 60vw;
    max-height: 80vh;
  }
  &.medium {
    min-width: 60vw;
    min-height: 60vh;
    max-width: 90vw;
    max-height: 90vh;
  }
  &.large {
    min-width: 80vw;
    min-height: 80vh;
    max-width: 100vw;
    max-height: 100vh;
  }
}

.cdk-dialog-container {
  @apply outline-none;
}

@layer components {
  .cdk-dialog-card {
    @apply bg-components-card-bg rounded-2xl p-4;
  }
}