@reference "../../../tailwind-workspace-reference.css";
/**
 * React opacity to hover event for buttons or others actionable.
 */
.ngm-actionable-opacity {
  @apply opacity-60 hover:opacity-100 transition-opacity duration-200;
}

/**
 * For radio buttons in menu.
 */
.ngm-radio-menu[z-menu-content],
.ngm-radio-menu.cdk-menu {
  .mdc-form-field {
    width: 100%;
  }
  .mdc-label {
    flex: 1;
  }
}

.ngm-error {
  color: var(--ngm-color-error, #ef4444);
}
