@reference "../../../tailwind-workspace-reference.css";
.ngm-input {
    @apply font-normal rounded-lg bg-components-input-bg border border-solid border-transparent
    ring-offset-1 ring-offset-transparent ring-1 ring-transparent
    focus:z-10 focus:outline-none;
  &:focus {
    --tw-ring-color: color-mix(in oklab, var(--ring) 50%, transparent);
  }
    &.error {
    border-color: var(--mdc-theme-error);
    }
}

.ngm-input-inline {
    @apply outline-none border border-solid border-transparent active:bg-components-input-bg focus:bg-components-input-bg;
    &.error {
    border-color: var(--mdc-theme-error);
    }
}

.ngm-input-sm {
  @apply px-1 py-0.5 rounded-md;
}