.ngm-radio-group__horizontal.mat-radio-group {
  display: flex;
  .mat-radio-button {
    margin-right: 10px;
  }
}

.mat-mdc-radio-button {
  .mdc-radio {
    display: flex;
  }
}

.ngm-radio-button__property.mat-mdc-radio-button {
  @apply block w-60;
  .mdc-form-field {
    @apply w-full;
    .mdc-radio {
      @apply flex;
    }
    .mdc-label {
      @apply flex-1 overflow-hidden;
    }
  }
}

.cdk-menu.cdk-menu__large {
  --mat-menu-item-icon-size: 20px;
  --mdc-radio-state-layer-size: 30px;
  --mat-menu-item-label-text-size: 1rem;
  --mat-menu-item-spacing: 1rem;
  // .cdk-menu-item {
  //   line-height: 38px;
  //   height: 38px;
  //   min-height: 38px;
  // }
}