

@use 'libs/material-theme/src/styles/material/token-utils-compat' as token-utils;
@config "../../../../../tailwind.config.js";
@reference "tailwindcss";
$global-prefix: ngm;
$prefix: (ngm, color);

@include token-utils.use-tokens($prefix, (surface-container-high: null)) {
  :host {
    background-color: var(#{token-utils.get-token-variable(surface-container-high)});
    border-color: var(--mdc-outlined-card-outline-color);
  }
}

:host {
  @apply border rounded-lg;
}
