@use 'sass:map';
@use 'sass:color';
@use 'libs/material-theme/src/styles/theme-compat' as themeCompat;

@mixin color($config-or-theme) {
  $config: themeCompat.m2-get-color-config($config-or-theme);
  $background: map.get($config, background);
  $foreground: map.get($config, foreground);
  $primary: map.get($config, primary);
  $accent: map.get($config, accent);

  .pac-property-dimension {
    display: block;
    
    [data-slot='tree-node'] {
      padding-right: 1rem;
      position: relative;

      &:hover,
      &:focus {
        background-color: color.change(themeCompat.m2-get-color-from-palette($primary), $alpha: 0.05);
        color: themeCompat.m2-get-color-from-palette($primary);

        .ngm-display-behaviour__option-value {
          opacity: 1;
        }
      }

      .z-icon-rtl-mirror {
        color: color.change(themeCompat.m2-get-color-from-palette($primary), $alpha: 0.3);
      }
    }

    z-tree.ngm-tree_selection {
      [data-slot='tree-node'].selected {
        background-color: color.change(themeCompat.m2-get-color-from-palette($primary), $alpha: 0.2);
        color: themeCompat.m2-get-color-from-palette($primary);
      }
    }
  }
}

@mixin density($config-or-theme) {
  .pac-property-dimension.ngm-density__compact {
    [data-slot='tree-node'] {
      min-height: 30px;
      font-size: 12px;
      line-height: 12px;
    }
  }
}
