@reference "../../../../styles/tailwind-reference.css";
:host {
  display: flex;
  flex-direction: row;
  flex: 1;
  min-width: 300px;
}

.pac-story-details__thumbnail-remove {
  @apply absolute bg-background-default-subtle/80 text-white;
}