@use 'sass:meta';
/* You can add global styles to this file, and also import other style files */

@config "../tailwind.config.js";
@import 'tailwindcss' source(none);
@custom-variant dark (&:where([data-theme='dark'], [data-theme='dark'] *));
@source "./app/**/*.{ts,html,scss,sass,css}";
@source "../../../libs/**/*.{ts,html,scss,sass,css}";
@source "../../../packages/**/*.{ts,html,scss,sass,css}";
@source "../../../legacies/**/*.{ts,html,scss,sass,css}";
@include meta.load-css('../../../packages/ui/src/styles.css');
@include meta.load-css('@xterm/xterm/css/xterm.css');

@import 'remixicon/fonts/remixicon.css';
@include meta.load-css('app/@core/font-face');

@include meta.load-css('../../../packages/angular/_index.scss');

@include meta.load-css('styles/theme/theme.tokens.css');
@include meta.load-css('styles/theme/theme.primary.css');
@include meta.load-css('styles/theme/theme.tailwind.css');
@include meta.load-css('styles/themes/runtime');
@include meta.load-css('styles/utilities');
@include meta.load-css('styles/components/index');
@include meta.load-css('app/_app.component');
@include meta.load-css('./legacy.scss');

html,
body {
  height: 100%;
  overflow: hidden;
  font-size: 14px;
}

body {
  @apply flex m-0 text-text-primary;
  font-family: var(--font-xp-sans);
}
