@use "sass:meta";
/* You can add global styles to this file, and also import other style files */

@config "../tailwind.config.js";
@import 'tailwindcss' source(none);
@source "./app/**/*.{ts,html,scss,sass,css}";
@source "../../../libs/**/*.{ts,html,scss,sass,css}";
@source "../../../packages/**/*.{ts,html,scss,sass,css}";
@source "../../../legacies/**/*.{ts,html,scss,sass,css}";
@include meta.load-css('../../../packages/ui/src/styles.css');

@import 'remixicon/fonts/remixicon.css';
@include meta.load-css('app/@core/font-face');

@include meta.load-css('../../../packages/angular/_index.scss');

@include meta.load-css('styles/themes/base');
@include meta.load-css('styles/themes/default');
@include meta.load-css('styles/themes/dark');
@include meta.load-css('styles/themes/dark-green');
@include meta.load-css('styles/themes/thin');
@include meta.load-css('styles/utilities');
@include meta.load-css('styles/components/index');
@include meta.load-css('app/_app.component');

@include meta.load-css('libs/formly/_formly');
@include meta.load-css('libs/story-angular/src/lib/_index');
@include meta.load-css('libs/apps/indicator-market/index');

html,
body {
  height: 100%;
  overflow: hidden;
  font-size: 14px;
}

$text-font: Lato, 'Noto Serif SC', monospace;

body {
  @apply flex m-0 text-text-primary;

  &.mobile {
    .cdk-overlay-pane {
      max-width: 100vw !important;
    }
  }
}

.ngm-smart-echarts__tooltip {
  z-index: 100 !important;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

formly-field,
formly-form {
  display: block;
}

// 会造成很多地方的样式问题如 table 内的 button
[z-button][data-icon-only],
z-button[data-icon-only] {
  display: flex;
  justify-content: center;
  align-items: center;
}

html.cdk-global-scrollblock {
  overflow-y: auto;
}

[z-button][data-icon-only],
z-button[data-icon-only] {
  @apply flex justify-center items-center;
}

.metad-formly-tab-group {
  display: flex;
  .z-tab-group {
    flex: 1;
  }
}

.ngm-settings-panel__drawer-content {
  .z-tab-group__nav {
    min-height: 38px;
  }
}

.metad-formly__panel-wrapper.metad-formly__nested-area.metad-formly__panel-padding {
  @apply px-4 pb-2;
}

.ngm-dialog-container {
  @apply flex-1 flex flex-col;
}

.z-tab-nav-panel {
  @apply flex-1 flex flex-col;
}

.cdk-overlay-pane .mdc-tooltip {
  @apply text-xs;
}
