<div class="flex-1 min-w-0 p-4 flex flex-col gap-3 h-full">
  <div class="flex items-center gap-2 w-full">
    <div class="text-text-primary text-lg font-semibold flex-1">
      {{'PAC.Chat.WhosComputer' | translate: {value: 'Xpert', Default: "Xpert's Computer"} }}
    </div>
    <button class="w-7 h-7 relative rounded-md inline-flex items-center justify-center gap-2.5 cursor-pointer hover:bg-hover-bg"
      [matTooltip]="'PAC.Chat.CloseCanvas' | translate: {Default: 'Close canvas'}"
      (click)="close()"
    >
      <i class="ri-collapse-diagonal-line"></i>
    </button>
  </div>

  @if (step(); as step) {
    <div class="flex items-center gap-2">
      <div class="w-[40px] h-[40px] bg-gray-100 rounded-lg flex items-center justify-center text-2xl flex-shrink-0 text-text-secondary">
        @switch (step.toolset) {
          @case ('planning') {
            <i class="ri-calendar-check-line"></i>
          }
          @case ('bash') {
            <i class="ri-terminal-box-line"></i>
          }
          @case ('browser-use') {
            <i class="ri-earth-line"></i>
          }
          @case ('file') {
            <i class="ri-file-edit-line"></i>
          }
          @default {
            <i class="ri-hammer-line"></i>
          }
        }
      </div>
      <div class="flex-1 flex flex-col gap-1 min-w-0">
        <div class="text-[12px] text-[var(--text-tertiary)]">
          {{ 'PAC.Xpert.XpertUsing' | translate: {Default: 'Xpert using'} }}
          <span class="text-[var(--text-secondary)]">
            {{ 'PAC.Xpert.Toolset_' + step.toolset | translate: {Default: step.toolset || 'Toolset'} }}
          </span>
        </div>

        <div [title]="step.message"
          class="max-w-[100%] w-[max-content] truncate text-sm rounded-full inline-block px-[10px] py-[3px] border border-divider-deep bg-neutral-100 text-zinc-500"
        >{{step.message}}</div>
      </div>
    </div>
  }
  <div class="flex flex-col rounded-[12px] overflow-hidden bg-neutral-100 border border-divider-deep dark:border-black/30 shadow-[0px_4px_32px_0px_rgba(0,0,0,0.04)] flex-1 min-h-0">
    @if (step(); as step) {
      <div
        class="h-[36px] flex items-center px-3 w-full bg-[var(--background-gray-main)] border-b border-divider-deep rounded-t-[12px] shadow-[inset_0px_1px_0px_0px_#FFFFFF] dark:shadow-[inset_0px_1px_0px_0px_#FFFFFF30]"
      >
        <div class="flex-1 flex items-center justify-center">
          <div class="max-w-[250px] truncate text-zinc-500 text-base font-medium text-center">
            @switch (step.toolset) {
              @case ('browser-use') {
                @if (step.data.url) {
                  <a [href]="step.data.url" target="_blank" class="hover:underline">{{step.title}}</a>
                } @else {
                  {{step.title}}
                }
              }
              @case ('file') {
                @if (step.data?.url) {
                  <a [href]="step.data.url" target="_blank" class="hover:underline">{{step.title}}</a>
                } @else {
                  {{step.title}}
                }
              }
              @default {
                {{step.title}}
              }
            }
          </div>
        </div>
      </div>
      <div class="flex-1 min-h-0 w-full overflow-y-auto">
        @switch (step.category) {
          @case (eChatMessageStepCategory.WebSearch) {
            <div class="flex flex-col overflow-auto h-full px-4 py-3">
              @for (item of step.data; track item; let first = $first) {
                <div class="py-3 border-b border-divider-deep" [class.pt-0]="first">
                  <a [href]="item.url" target="_blank" class="block text-text-primary text-base font-medium hover:underline line-clamp-2 cursor-pointer">
                    {{item.title}}
                  </a>
                  <div class="text-zinc-500 text-sm mt-0.5 line-clamp-3">
                    {{item.content}}
                  </div>
                </div>
              }
            </div>
          }
          @case (eChatMessageStepCategory.Files) {
            <div class="flex flex-col overflow-auto h-full px-4 py-3">
              @for (item of step.data; track item; let first = $first) {
                <div class="py-3 border-b border-divider-deep" [class.pt-0]="first">
                  <a [href]="item.url" target="_blank" class="block text-text-primary text-base font-medium hover:underline line-clamp-2 cursor-pointer">
                    {{item.name}}
                  </a>
                </div>
              }
            </div>
          }
          @default {
            @switch (step.toolset) {
              @case ('browser-use') {
                @if (step.data?.screenshot) {
                  <img [src]="step.data.screenshot" alt="Screenshot" class="max-w-full h-auto">
                }@else if (step.data?.errors) {
                  <div class="p-2">
                    <span class="text-text-destructive">{{step.data.errors}}</span>
                  </div>
                }
              }
              @case ('bash') {
                <div dir="ltr" data-orientation="horizontal" class="flex flex-col flex-1 min-h-0">
                  <div
                    role="tabpanel"
                    tabindex="0"
                    class="py-2 focus-visible:outline-none data-[state=inactive]:hidden flex-1 font-mono text-sm leading-relaxed px-3 outline-none overflow-auto whitespace-pre-wrap break-all"
                  >
                    <div>
                      <code>
                        <span class="mr-2 font-semibold text-green-600">ubuntu&#64;sandbox:~ $</span>
                        <span>{{step.data.command}}</span>
                      </code>

                      <code>{{step.data.output}}</code>
                    </div>
                    <div class="mt-4">
                      <code>
                        <span class="mr-2 font-semibold text-green-600">ubuntu&#64;sandbox:~ $</span>
                      </code>
                    </div>
                  </div>
                </div>
              }
              @case ('file') {
                @switch (step.data.extension) {
                  @case('html') {
                    <xpert-canvas-html-editor class="h-full" [content]="step.data.content" [url]="step.data.url" />
                  }
                  @default {
                    <pac-file-editor class="h-full" [fileName]="step.data.url" 
                      [content]="step.data.content" 
                    />
                  }
                }
              }
              @default {
                <div class="p-2 text-sm whitespace-pre-line">{{step.message}}</div>
              }
            }
          }
        }
      </div>
    }

    @if (steps()) {
      <div class="mt-auto flex w-full items-center gap-2 px-2 h-[44px] relative bg-components-panel-bg border-t border-divider-regular">
        <div class="flex items-center mr-1">
          <button type="button"
            class="flex items-center justify-center w-[24px] h-[24px] rounded-lg text-text-secondary transition-colors enabled:hover:bg-hover-bg"
            [disabled]="stepIndex() <= 0"
            (click)="prevStep()">
            <i class="ri-skip-back-line"></i>
          </button>
          <button type="button" class="flex items-center justify-center w-[24px] h-[24px] rounded-lg text-text-secondary transition-colors enabled:hover:bg-hover-bg"
            [disabled]="stepIndex() >= stepLength() - 1"
            (click)="nextStep()">
            <i class="ri-skip-forward-line"></i>
          </button>
        </div>
        <mat-slider class="flex-1" min="0" [max]="stepLength() - 1" step="1" showTickMarks discrete >
          <input matSliderThumb [ngModel]="stepIndex()" (dragEnd)="updateStepIndex($event.value)" />
        </mat-slider>
      </div>
    }
  </div>

  @if (hasPlan()) {
    <div class="min-h-[36px] relative z-50">
      <div class="absolute bottom-0 w-full border border-divider-deep rounded-[16px] sm:rounded-[12px] bg-components-card-bg">
        @if (plan(); as plan) {
          <div class="flex flex-row items-center justify-between px-3 py-2 cursor-pointer" (click)="togglePlan()">
            <div class="flex items-center gap-2">
              @if (expandPlan()) {
                <span class="text-text-primary font-bold">
                  {{ 'PAC.Chat.TaskProgress' | translate: {Default: 'Task Progress'} }}
                </span>
              } @else {
                @switch (plan.status) {
                  @case ('in_progress') {
                    <i class="ri-progress-2-line text-lg text-yellow-500"></i>
                  }
                  @case ('completed') {
                    <i class="ri-checkbox-circle-line text-lg text-text-success"></i>
                  }
                  @default {
                    <i class="ri-checkbox-blank-line text-lg text-text-secondary"></i>
                  }
                }
                <div class="text-sm truncate" [title]="plan.title" >
                  {{plan.title}}
                </div>
              }
            </div>
    
            <button type="button" class="flex items-center cursor-pointer justify-center gap-2 hover:bg-hover-bg flex-shrink-0 px-1 rounded-lg">
              <span class="text-xs text-text-tertiary hidden sm:flex">{{plan.completed}} / {{plan.total}}</span>
              @if (expandPlan()) {
                <i class="ri-arrow-down-s-line"></i>
              } @else {
                <i class="ri-arrow-up-s-line"></i>
              }
            </button>
          </div>

          @if (expandPlan()) {
            <div class="max-h-[600px] overflow-y-auto" @listHeightStagger>
              @for (step of plan.steps; track step) {
                <div class="flex items-center gap-1 w-full px-4 py-2 truncate">
                  <span [matTooltip]="step.notes" matTooltipPosition="left">
                    @switch (step.status) {
                      @case ('in_progress') {
                        <i class="ri-progress-2-line text-lg text-yellow-500"></i>
                      }
                      @case ('completed') {
                        <i class="ri-checkbox-circle-line text-lg text-text-success"></i>
                      }
                      @case ('blocked') {
                        <i class="ri-spam-3-line text-lg text-neutral-500"></i>
                      }
                      @default {
                        <i class="ri-checkbox-blank-line text-lg text-text-secondary"></i>
                      }
                    }
                  </span>
                  
                  <div class="flex flex-col w-full gap-[2px] truncate">
                    <div class="text-sm truncate" [title]="step.content">{{step.content}}</div>
                  </div>
                </div>
              }
            </div>
          }
        } @else {
          <div class="p-2">{{'PAC.Chat.LoadingTaskProgress' | translate: {Default: 'Loading task progress'} }}...</div>
        }
      </div>
    </div>
  }
</div>
