<div class="mb-3 flex justify-between items-center">
  <div class="h-[41px] flex items-center text-lg font-semibold text-gray-900">
    {{ 'PAC.Xpert.Monitoring' | translate: {Default: 'Monitoring'} }}
  </div>
  <div
    class="flex items-center p-2 rounded-xl border-[0.5px] border-gray-200 shadow-xs cursor-pointer hover:bg-gray-100"
    [ngmTooltip]="perfInDevelopment"
    [hideDelay]="100"
  >
    <div class="mr-2 w-6 h-6 p-1 flex justify-center items-center rounded-lg shadow-md bg-primary-500 text-white">
      <i class="ri-pulse-ai-line"></i>
    </div>
    <div class="leading-5 text-sm font-semibold text-gray-700">
      {{ 'PAC.Xpert.TracingAppPerf' | translate: {Default: 'Tracing app performance'} }}
    </div>
    <div class="flex items-center">
      <div class="inline-block">
        <div class="ml-2 w-6 h-6 p-1 flex justify-center items-center rounded-md hover:bg-black/5 cursor-pointer">
          <i class="ri-equalizer-2-line"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="grid gap-6 grid-cols-1 xl:grid-cols-2 w-full mb-6">
  <xpert-app class="w-full max-w-full rounded-xl" />
  <xpert-api class="w-full max-w-full rounded-xl" />
</div>

@if (loading()) {
  <ngm-spin class="absolute top-0 left-0 w-full h-full" />
}

<ng-template #perfInDevelopment>
  <pac-in-development @overlayAnimation1 [feature]="'PAC.Xpert.TracingAppPerf' | translate: {Default: 'Tracing app performance'}" class="w-80" />
</ng-template>


<xpert-statistics />