@use 'sass:map';
@use 'libs/material-theme/src/styles/theme-compat' as themeCompat;
@use '../../../theming' as ocap;

// Define a theme.
$primary: themeCompat.m2-define-palette(themeCompat.$m2-blue-grey-palette, 600);
$accent:  themeCompat.m2-define-palette(themeCompat.$m2-amber-palette, A700, A400, A200);

// $material-typeface: "Lato, 'Noto Serif SC', monospace";
// // Example: merge a translucent surface tone into the light theme background palette.
// $custom-typography: themeCompat.m2-define-typography-config(
//   $font-family: $material-typeface
// );
$light-theme: themeCompat.m2-define-light-theme((
  color: (
    primary: $primary,
    accent:  $accent,
  ),
  density: -1,
));

@include themeCompat.core();
@include themeCompat.all-component-themes($light-theme);

@include ocap.core-theme($light-theme);
@include ocap.analytical-grid-theme($light-theme);
@include ocap.breadcrumb-theme($light-theme);
@include ocap.controls-theme($light-theme);
@include ocap.entity-theme($light-theme);
@include ocap.common-color($light-theme);
@include ocap.common-density($light-theme);
