@use 'sass:map';
@use 'libs/material-theme/src/styles/theme-compat' as mat;
@use '../../../theming' as ocap;

// Define a theme.
$primary: mat.m2-define-palette(mat.$m2-blue-grey-palette, 600);
$accent:  mat.m2-define-palette(mat.$m2-amber-palette, A700, A400, A200);

// $material-typeface: "Lato, 'Noto Serif SC', monospace";
// // mat.$m2-light-theme-background-palette: map-merge(mat.$m2-light-theme-background-palette, (surface: rgba(255, 255, 255, 0.875)));
// $custom-typography: mat.m2-define-typography-config(
//   $font-family: $material-typeface
// );
$mat-theme: mat.m2-define-light-theme((
  color: (
    primary: $primary,
    accent:  $accent,
  ),
  density: -1,
));

@include mat.core();
@include mat.all-component-themes($mat-theme);

@include ocap.core-theme($mat-theme);
@include ocap.analytical-grid-theme($mat-theme);
@include ocap.breadcrumb-theme($mat-theme);
@include ocap.controls-theme($mat-theme);
@include ocap.entity-theme($mat-theme);
@include ocap.common-color($mat-theme);
@include ocap.common-density($mat-theme);
