<div class="relative flex flex-col gap-y-0.5 pb-2 pt-4 px-14">
  <div class="flex items-center gap-x-2">
    <span class="text-xs font-semibold uppercase bg-gradient-to-br from-[rgba(11,165,236,0.95)] to-[rgba(21,90,239,0.95)] bg-clip-text text-transparent"
      >{{ 'PAC.Knowledgebase.AddDocuments' | translate: {Default: 'Add Documents'} }}</span
    ><span class="system-2xs-regular text-divider-regular">/</span>
    <div class="flex gap-x-1">
      <div class="h-1 w-1 rounded-lg bg-divider-deep"></div>
      <div class="h-1 rounded-lg w-2 bg-primary-600"></div>
      <div class="h-1 w-1 rounded-lg bg-divider-deep"></div>
    </div>
  </div>
  <div class="system-md-semibold text-text-primary">{{ 'PAC.Knowledgebase.ProcessingDocuments' | translate: {Default: 'Processing Documents'} }}</div>
  <a [routerLink]="['../']" class="cursor-pointer">
    <button type="button"
      class="btn disabled:btn-disabled btn-secondary-accent btn-medium absolute left-2.5 top-3.5 size-9 rounded-full p-0"
    ><i class="ri-corner-up-left-line"></i>
    </button>
  </a>
  <div class="absolute w-[100px] h-[100px] rounded-full bg-blue-500 blur-[80px] left-8 top-0 opacity-20"></div>
</div>

<xp-knowledge-document-pipeline-settings class="flex-1"
  [knowledgebase]="knowledgebase()"
  [pipeline]="pipeline()"
  [selectedSource]="selectedSource()"
  [taskId]="taskId()"
  [documents]="documents()"
  [(parametersValue)]="parametersValue"
  >
  <div actions class="flex items-center justify-between">
    <button type="button" class="btn disabled:btn-disabled btn-secondary btn-medium gap-x-0.5"
      (click)="previousStep()">
      <i class="ri-arrow-left-line"></i>
      <span class="px-0.5">{{ 'PAC.Knowledgebase.DocumentSource' | translate: {Default: 'Document Source'} }}</span>
    </button>
    <button type="button" class="btn disabled:btn-disabled btn-primary btn-medium"
      (click)="saveAndProcess()">{{ 'PAC.Knowledgebase.SaveAndProcess' | translate: {Default: 'Save and Process'} }}</button>
  </div>
</xp-knowledge-document-pipeline-settings>
