@reference "../../../../styles/tailwind-reference.css";

:host {
  @apply rounded-lg shadow-lg overflow-hidden;
  background-color: var(--sys-surface-subtle);
}

.pac-story-card__button {
  &:hover {
    color: var(--color-components-tag-primary-text);
    background-color: var(--color-components-tag-primary-bg);
  }

  &:focus {
    --tw-ring-color: var(--color-components-tag-primary-bg);
    --tw-ring-offset-color: var(--sys-surface-subtle);
  }
}
