@reference "../../../../styles/tailwind-reference.css";

:host {
  @apply rounded-lg shadow-lg overflow-hidden;
  background-color: var(--surface-container-high);
}

.pac-story-card__button {
  &:hover {
    color: var(--ngm-color-on-primary-container);
    background-color: var(--ngm-color-primary-container);
  }

  &:focus {
    --tw-ring-color: var(--ngm-color-primary-container);
    --tw-ring-offset-color: var(--surface-container-high);
  }
}
