@reference "../../../../../styles/tailwind-reference.css";
:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 100%;
  height: 100%;
}

#pac-model-dimension__hierarchy-levels {
  .mdc-list-item.mdc-list-item--activated {
    @apply bg-black/10;
  }
}

.xp-nav-toolbar {
  &.ngm-density__compact {
    .z-tab-nav-bar {
      min-height: 32px;
    }

    .z-tab-link {
      @apply px-2;
    }
  }
}
