:host {
  --mat-expansion-container-background-color: transparent;
  
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 100%;
  height: 100%;
}

.pac-model-hierarchy {
  #pac-model-dimension__hierarchy-levels {
    .mat-mdc-list-text {
      padding: 0;
    }
  }
}

#pac-model-dimension__hierarchy-levels {
  .mdc-list-item.mdc-list-item--activated {
    @apply bg-black/10;
  }
}

.xp-nav-toolbar {
  &.ngm-density__compact {
    .mat-mdc-tab-header {
      --mdc-secondary-navigation-tab-container-height: 32px;
    }

    .mdc-tab {
      @apply px-2;
    }
  }
}