<header xpDialogTitle cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <h4 style="pointer-events: none;">
        {{ 'Story.Toolbar.SaveAs' | translate: {Default: 'Save As'} }}...
    </h4>
</header>

<xp-dialog-content class="" fxLayout="column" fxLayoutAlign="start stretch">
    <z-form-field appearance="fill">
        <z-form-label>
            {{ 'Story.Common.Name' | translate: {Default: 'Name'} }}
        </z-form-label>
        <input z-input [(ngModel)]="model.name" required>
    </z-form-field>

    <z-form-field appearance="fill">
        <z-form-label>
            {{ 'Story.Common.Description' | translate: {Default: 'Description'} }}
        </z-form-label>
        <textarea z-input [(ngModel)]="model.description"></textarea>
    </z-form-field>
</xp-dialog-content>

<xp-dialog-actions>
    <button z-button zType="ghost">
        {{ 'STORY.COMMON.RESET' | translate: { Default: 'Reset' } }}
      </button>

    <div ngmButtonGroup>
        <button z-button zType="ghost" xpDialogClose>
            {{ 'STORY.COMMON.CANCEL' | translate: { Default: 'Cancel' } }}
        </button>
        <button z-button zType="default" color="accent" cdkFocusInitial [xpDialogClose]="model">
            {{ 'STORY.COMMON.APPLY' | translate: { Default: 'Apply' } }}
        </button>
    </div>
</xp-dialog-actions>
