<div class="relative w-full flex h-8 p-1">
  <div class="grow flex justify-end items-center">
    <div class="text-[12px] font-semibold text-text-primary uppercase">
      {{ 'PAC.Xpert.Next' | translate: {Default: 'Next'} }}
    </div>
  </div>

  <div fNodeOutput [fOutputId]="node().key + '/edge'" fOutputConnectableSide="right" class="right group" [fOutputMultiple]="true">
    <div class="inner-dot cursor-crosshair">
      <ngm-plus-svg class="w-2 h-2 text-white" />
    </div>
  </div>
</div>

<div class="node-output-bottom flex items-center gap-2 h-3 absolute -bottom-[8px] left-1/2 -ml-4">
  <div fNodeOutput [fOutputId]="node().key + '/agent'" fOutputConnectableSide="bottom" class="group w-4 h-[3px]"
    [fCanBeConnectedInputs]="canBeConnectedInputs()">
    <div class="inner-dot cursor-crosshair"
      [matTooltip]="'PAC.Xpert.ConnectAgents' | translate: {Default: 'Connect Agents'}" matTooltipPosition="above">
      <ngm-plus-svg class="w-2 h-2 text-white" />
    </div>
  </div>

  <div fNodeOutput [fOutputId]="node().key + '/xpert'" fOutputConnectableSide="bottom" class="group w-4 h-[3px]"
    [fCanBeConnectedInputs]="canBeConnectedInputs()">
    <div class="inner-dot cursor-crosshair" [matTooltip]="'PAC.Xpert.ConnectXperts' | translate: {Default: 'Connect Xperts'}" matTooltipPosition="above">
      <ngm-plus-svg class="w-2 h-2 text-white" />
    </div>
  </div>
</div>
