@use 'sass:meta';
@reference "tailwindcss";
@include meta.load-css('features/_features.component');
@include meta.load-css('@shared/components');

.xp-page-header {
  @apply flex flex-col justify-start items-stretch gap-2 px-4 pt-4;
}
.xp-page-title {
  @apply text-2xl font-bold;
}
.xp-page-subtitle {
  @apply text-base font-light;
}
.xp-page-body {
  @apply overflow-x-hidden overflow-y-auto relative;
}
.xp-page-body-toolbar {
  @apply flex justify-between items-center;
}
.xp-tab-nav-bar.z-tab-nav-bar {
  min-height: 38px;

  .xp-tab-close {
    @apply opacity-0 invisible absolute -right-6;
  }
  .z-tab-link[data-active='true'] {
    .xp-tab-close {
      @apply opacity-100 visible;
    }
  }
}
.cdk-overlay-container .xp-dialog-content {
  @apply p-0;
}

.xp-table {
  border-color: var(--border);
}
.xp-table-container {
  border-color: var(--border);
}
