<div class="shrink-0 z-10 bg-components-panel-bg mb-4">
  <div class="flex justify-between items-center p-2">
    <h1 class="shrink-0 text-lg px-2 font-semibold text-gray-900">{{ 'PAC.Xpert.ConversationLog' | translate: {Default: 'Conversation Log'} }}</h1>
    <button type="button" class="btn-close btn btn-secondary flex items-center justify-center w-6 h-6 cursor-pointer z-20"
      (click)="close.emit()">
      <i class="ri-close-line"></i>
    </button>  
  </div>
  <div class="shrink-0 flex items-center px-4 border-b-[0.5px] border-[rgba(0,0,0,0.05)]">
    <div class="tab mr-6 py-3 border-b-2 border-transparent font-semibold leading-[18px] text-gray-400 cursor-pointer"
      [class.active]="pageType() === 'overview'"
      (click)="pageType.set('overview')"
    >{{ 'PAC.Xpert.PrimaryAgent' | translate: {Default: 'Primary Agent'} }}</div>
    <div class="tab mr-6 py-3 border-b-2 border-transparent font-semibold leading-[18px] text-gray-400 cursor-pointer"
      [class.active]="pageType() === 'steps'"
      (click)="pageType.set('steps')"
    >{{ 'PAC.Xpert.MembersOrSteps' | translate: {Default: 'Members/Steps'} }}</div>
  </div>
</div>

<div class="grow px-2 space-y-1 overflow-auto">
  @switch (pageType()) {
    @case('overview') {
      @if (execution(); as execution) {
        <xpert-agent-execution class="w-full" [execution]="execution" />
      }
    }
    @case('steps') {
      @for (execution of executions(); track execution.id) {
        <xpert-agent-execution-accordion [execution]="execution" />
      }
    }
  }
</div>

@if (loading()) {
  <ngm-spin class="absolute top-0 left-0 w-full h-full" />
}