<div class="flex-1 min-w-0 p-4 flex flex-col gap-3 h-full">
  <div class="flex items-center gap-2 w-full">
    <button class="w-7 h-7 relative rounded-md inline-flex items-center justify-center gap-2.5 cursor-pointer pressable hover:bg-hover-bg"
      [matTooltip]="'PAC.Chat.ExpandCanvas' | translate: {Default: 'Expand canvas'}"
      (click)="toggleExpand()"
    >
      <i class="ri-expand-left-line transition-transform" [class.rotate-180]="expand()"></i>
    </button>

    <div class="text-text-primary text-lg font-semibold flex-1">{{'PAC.Chat.WhosDashboard' | translate: {value: 'Xpert', Default: "Xpert's Dashboard"} }}</div>
    <button class="w-7 h-7 relative rounded-md inline-flex items-center justify-center gap-2.5 cursor-pointer pressable hover:bg-hover-bg"
      [matTooltip]="'PAC.Chat.CloseCanvas' | translate: {Default: 'Close canvas'}"
      (click)="close()"
    >
      <i class="ri-collapse-diagonal-line"></i>
    </button>
  </div>

  @if (contents(); as messages) {
    @for (message of messages; track message) {
      @switch (message.type) {
        @case ('component') {
          <chat-message-dashboard class="w-full p-2 rounded-2xl hover:bg-neutral-50"
            [messageId]="message.id"
            [message]="message"
          />
        }
      }
    }
  }
</div>
