@use 'sass:map';
@use 'libs/material-theme/src/styles/theme-compat' as mat;

@mixin _legacy-toggle-group-color($name) {
  .z-toggle-group[data-color='#{$name}'],
  z-toggle-group[data-color='#{$name}'] {
    --z-toggle-group-item-checked-bg: var(--color-components-toggle-bg);
    --z-toggle-group-item-checked-color: var(--color-components-button-primary-text);
  }
}

@mixin color($config-or-theme) {
  $color-config: mat.m2-get-color-config($config-or-theme);
  $primary: map.get($color-config, 'primary');
  $accent: map.get($color-config, 'accent');
  $warn: map.get($color-config, 'warn');
  $foreground: map.get($color-config, 'foreground');

  .ngm-appearance-acrylic {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: -8px;
      top: -8px;
      right: -8px;
      bottom: -8px;
      z-index: -1;
      background-blend-mode: exclusion;
      filter: blur(8px);
      -webkit-filter: blur(8px);
      filter: url(#blur);
      filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='8');
    }

    &::after {
      opacity: 0.5;
    }
  }

  [z-button],
  z-button,
  .cdk-menu-item,
  [z-menu-item],
  [role='option'],
  .ngm-tree-select__option {
    &.ngm-appearance-dashed {
      border: 1px dashed mat.m2-get-color-from-palette($foreground, divider);
    }
  }

  [z-button]:not([disabled]):not([data-disabled]),
  z-button:not([disabled]):not([data-disabled]),
  .cdk-menu-item,
  [z-menu-item],
  [role='option'],
  .ngm-tree-select__option {
    &.ngm-appearance-dashed:hover,
    &.ngm-appearance-dashed:focus {
      border-color: #738187;
    }
  }

  z-divider.ngm-appearance-dashed,
  [data-slot='divider'].ngm-appearance-dashed {
    border-top-style: dashed;
  }

  [z-button],
  z-button,
  .cdk-menu-item,
  [z-menu-item],
  [role='option'],
  .ngm-tree-select__option {
    &.ngm-appearance-danger:hover {
      color: mat.m2-get-color-from-palette($warn);
    }
  }

  @include _legacy-toggle-group-color('primary');
  @include _legacy-toggle-group-color('accent');
  @include _legacy-toggle-group-color('warn');

  .ngm-appearance-opacity {
    opacity: 0.5;
  }
}

@mixin density($config-or-theme) {
  .ngm-density__compact .z-toggle-group,
  .ngm-density__compact.z-toggle-group {
    --border-radius: 10px;
    --box-shadow-radius: 5px;
    line-height: normal;

    .z-toggle-group-item {
      @apply h-8 px-2.5 text-xs;
      line-height: 16px;
      font-size: .75em;
    }
  }

  .ngm-density__cosy .z-toggle-group,
  .ngm-density__cosy.z-toggle-group {
    --border-radius: 1rem;
    --box-shadow-radius: 6px;
    line-height: normal;

    .z-toggle-group-item {
      @apply h-9 px-3;
      line-height: 24px;
      font-size: .85em;
    }
  }
}

@mixin typography($config-or-theme) {
}

@mixin theme($theme) {
  $color: mat.m2-get-color-config($theme);
  $density: mat.m2-get-density-config($theme);
  $typography: mat.m2-get-typography-config($theme);

  @if $color != null {
    @include color($color);
  }
  @if $density != null {
    @include density($density);
  }
  @if $typography != null {
    @include typography($typography);
  }
}
