@reference "../../../styles/tailwind-reference.css";
.assets-list {
  padding-top: 0;
  > li {
    @apply py-2 h-[auto];

    .description {
      white-space: normal;
      padding-left: 8px;
      margin: 8px 0;
    }
  }
}
