@if (chunkerStrategy(); as chunkerStrategy) {
  <div class="flex items-start p-4">
    <div class="w-10 h-10 flex items-center justify-center relative overflow-hidden shadow-md rounded-lg bg-gray-100">
      @if (chunkerStrategy.icon; as icon) {
        <div [innerHTML]="icon.svg | safe: 'html'" class="w-8 h-8 shrink-0 flex justify-center items-center"
          [style.color]="icon.color || '#14b8a6'"></div>
      } @else {
        <i class="ri-equalizer-3-line"></i>
      }
    </div>

    <div class="flex-1 space-y-0.5 px-4 overflow-hidden">
      <div class="text-text-secondary system-md-semibold">
        {{ chunkerStrategy.label | i18n }}
      </div>
      <div class="text-text-tertiary system-xs-regular truncate" [title]="chunkerStrategy.description | i18n">
        {{ chunkerStrategy.description | i18n }}
      </div>
    </div>
  </div>
}

<div class="p-4">
  <div class="font-bold mb-2">
    设置
  </div>
  @if (chunkerConfigSchema(); as chunkerConfigSchema) {
    <json-schema-form class="mt-2 grid grid-cols-2 gap-2" [schema]="chunkerConfigSchema" 
      [(ngModel)]="chunkerConfig"
    />
  }
</div>