@reference "../../../../../styles/tailwind-reference.css";
:host {
  display: flex;
  flex-direction: row;
  flex: 1;
  min-width: 500px;
  max-width: 100%;
  overflow: hidden;
}

.ngm-nav-list > li {
  @apply text-white rounded-lg duration-300;

  &.active {
    @apply bg-background-default-subtle text-text-tertiary;
  }
}

input[z-input] {
  @apply caret-yellow-500;
}

.ngm-input[z-input] {
  @apply p-2 rounded-sm;

  &:focus {
    @apply right-2 ring-yellow-200 ring-offset-2 bg-slate-200;
  }
}

.ngm-select {
  @apply bg-transparent hover:bg-components-input-bg-normal focus:bg-slate-200;
}

.ngm-fileover {
  @apply bg-components-input-bg-normal;
}

input[z-input] {
  @apply caret-yellow-500 bg-transparent outline-none;
}

.ngm-input[z-input] {
  @apply p-2 rounded-sm hover:bg-slate-200;

  &:focus {
    @apply right-2 ring-yellow-200 ring-offset-2 bg-slate-300;
  }
}

.ngm-select {
  @apply bg-transparent ;
}
