<ng-template let-menuTrigger="menuTrigger">
  <div #menu="cdkMenu" cdkMenu class="cdk-menu__large bg-components-panel-bg-blur">
    <div cdkMenuItem class="text-text-secondary hover:text-text-primary" (click)="createAgent(menu)">
      <i class="ri-robot-3-line mr-1"></i><span>{{ 'PAC.Xpert.NewAgent' | translate: {Default: 'New Agent'} }}</span>
    </div>
    <div cdkMenuItem class="!pr-1 text-text-secondary hover:text-text-primary"
      [cdkMenuTriggerFor]="collaboratorsMenu"
      [cdkMenuPosition]="[
        {
          originX: 'end',
          originY: 'top',
          overlayX: 'start',
          overlayY: 'top',
          offsetX: 10,
        }
      ]"
    >
      <i class="ri-user-add-line mr-1"></i>
      <span class="grow">{{ 'PAC.Xpert.AddExternalExpert' | translate: {Default: 'Add External Expert'} }}</span>
      <i class="ri-arrow-drop-right-fill ml-4"></i>
    </div>
    <div cdkMenuItem class="!pr-1 text-text-secondary hover:text-text-primary"
      [cdkMenuTriggerFor]="knowledgeMenu"
      [cdkMenuPosition]="[
        {
          originX: 'end',
          originY: 'top',
          overlayX: 'start',
          overlayY: 'top',
          offsetX: 10,
        }
      ]"
    >
      <i class="ri-book-shelf-line mr-1"></i>
      <span class="grow">{{ 'PAC.Xpert.AddKnowledgebase' | translate: {Default: 'Add Knowledgebase'} }}</span>
      <i class="ri-arrow-drop-right-fill ml-4"></i>
    </div>
    <div cdkMenuItem class="!pr-1 text-text-secondary hover:text-text-primary"
      [cdkMenuTriggerFor]="toolsetMenu"
      [cdkMenuPosition]="[
        {
          originX: 'end',
          originY: 'top',
          overlayX: 'start',
          overlayY: 'top',
          offsetX: 10,
        }
      ]"
    >
      <i class="ri-hammer-line mr-1"></i>
      <span class="grow">{{ 'PAC.Xpert.AddToolset' | translate: {Default: 'Add Toolset'} }}</span>
      <i class="ri-arrow-drop-right-fill ml-4"></i>
    </div>

    <div cdkMenuItem class="!pr-1 text-text-secondary hover:text-text-primary"
      [cdkMenuTriggerFor]="workflowMenu"
      [cdkMenuPosition]="[
        {
          originX: 'end',
          originY: 'top',
          overlayX: 'start',
          overlayY: 'top',
          offsetX: 10,
        }
      ]"
    >
      <i class="ri-flow-chart mr-1"></i>
      <span class="grow">{{ 'PAC.Xpert.AddWorkflow' | translate: {Default: 'Add Workflow'} }}</span>
      <i class="ri-arrow-drop-right-fill ml-4"></i>
    </div>

    @if (xpertType() === eXpertTypeEnum.Knowledge) {
      <div cdkMenuItem class="!pr-1 text-text-secondary hover:text-text-primary"
        [cdkMenuTriggerFor]="pipelineMenu"
        [cdkMenuTriggerData]="{ref: menuTrigger}"
        [cdkMenuPosition]="[
          {
            originX: 'end',
            originY: 'top',
            overlayX: 'start',
            overlayY: 'top',
            offsetX: 10,
          }
        ]"
      >
        <i class="ri-folder-transfer-line mr-1"></i>
        <span class="grow">{{ 'PAC.Xpert.AddKnowledgePipeline' | translate: {Default: 'Add Knowledge Pipeline'} }}</span>
        <i class="ri-arrow-drop-right-fill ml-4"></i>
      </div>
    }

    @if (node) {
      <div cdkMenuItem class="danger" (click)="deleteNode(menu, node)">
        <i class="ri-delete-bin-3-line mr-1"></i><span>{{ 'PAC.Xpert.Remove' | translate: {Default: 'Remove'} }}</span>
      </div>
    }

    <div class="h-[1px] bg-divider-regular my-1"></div>

    <div cdkMenuItem class="text-text-secondary hover:text-text-primary" (click)="pasteNode()">
      <i class="ri-clipboard-line mr-1"></i> {{ 'PAC.ACTIONS.PasteHere' | translate: {Default: 'Paste Here'} }}
    </div>
  </div>
</ng-template>

<ng-template #knowledgeMenu>
  <div cdkMenu class="cdk-menu__medium">
    <xpert-studio-knowledge-menu class="overflow-auto" />
  </div>
</ng-template>

<ng-template #toolsetMenu>
  <xpert-studio-toolset-menu cdkMenu class="cdk-menu__medium overflow-auto" [onSelect]="onSelectToolset.bind(this)"/>
</ng-template>

<ng-template #collaboratorsMenu>
  <div cdkMenu class="cdk-menu__medium">
    @for (xpert of collaborators$ | async; track xpert.id) {
      <div cdkMenuItem
        [cdkMenuItemDisabled]="isXpertExists(xpert)"
        [class.opacity-50]="isXpertExists(xpert)"
        [class.cursor-not-allowed]="isXpertExists(xpert)"
        [matTooltip]="isXpertExists(xpert) ? ('PAC.Xpert.DuplicateExternalExpert' | translate: {Default: '无法重复创建同个外部专家'}) : ''"
        [matTooltipDisabled]="!isXpertExists(xpert)"
        matTooltipPosition="right"
        class="relative">
        <xpert-inline-profile class="w-full max-w-sm my-0.5"
          [xpert]="xpert"
          [class.pointer-events-none]="isXpertExists(xpert)"
          (click)="addCollaborator(xpert)"
        />
      </div>
    } @empty {
      <div class="p-2">
        {{ 'PAC.Xpert.NoExternalExpert' | translate: {Default: 'No external expert'} }}
      </div>
    }
  </div>
</ng-template>

<ng-template #workflowMenu>
  <div cdkMenu class="cdk-menu__medium bg-components-panel-bg-blur !rounded-2xl backdrop-blur-[5px] shadow-lg !min-w-[256px]">
    <div class="flex items-start px-2 my-1 text-base font-medium text-text-tertiary">
      {{ 'PAC.Xpert.Logic' | translate: {Default: 'Logic'} }}
    </div>
    <div cdkMenuItem class="flex items-center px-4 w-full h-9 rounded-lg hover:bg-state-base-hover cursor-pointer"
      [cdkMenuTriggerFor]="triggerMenu"
    >
      <xpert-workflow-icon [type]="eWorkflowNodeTypeEnum.TRIGGER" class="w-6 h-6 shrink-0 mr-2" />
      <div class="text-text-primary grow">
        {{ 'PAC.Workflow.Trigger' | translate: {Default: 'Trigger'} }}
      </div>
      <i class="ri-arrow-drop-right-fill"></i>
    </div>
    <div cdkMenuItem class="flex items-center px-4 w-full h-9 rounded-lg hover:bg-state-base-hover cursor-pointer"
      [cdkMenuTriggerFor]="middlewaresMenu"
    >
      <xpert-workflow-icon [type]="eWorkflowNodeTypeEnum.MIDDLEWARE" class="w-6 h-6 shrink-0 mr-2" />
      <div class="text-text-primary grow">{{'PAC.KEY_WORDS.Middleware' | translate: {Default: 'Middleware'} }}</div>
      <i class="ri-arrow-drop-right-fill"></i>
    </div>
    <div cdkMenuItem class="flex items-center px-4 w-full h-9 rounded-lg hover:bg-state-base-hover cursor-pointer"
      (click)="addWorkflowRouter()"
    >
      <xpert-workflow-icon [type]="eWorkflowNodeTypeEnum.IF_ELSE" class="w-6 h-6 shrink-0 mr-2" />
      <div class="text-text-primary">
        {{ 'PAC.Xpert.Router' | translate: {Default: 'Router'} }}
      </div>
    </div>

    <div cdkMenuItem class="flex items-center px-4 w-full h-9 rounded-lg hover:bg-state-base-hover cursor-pointer"
      (click)="addWorkflowIterating()"
    >
      <xpert-workflow-icon [type]="eWorkflowNodeTypeEnum.ITERATING" class="w-6 h-6 shrink-0 mr-2" />
      <div class="text-text-primary">{{'PAC.Xpert.Iterating' | translate: {Default: 'Iterating'} }}</div>
    </div>
    <div cdkMenuItem class="flex items-center px-4 w-full h-9 rounded-lg hover:bg-state-base-hover cursor-pointer"
      (click)="addWorkflowSubflow()"
    >
      <xpert-workflow-icon [type]="eWorkflowNodeTypeEnum.SUBFLOW" class="w-6 h-6 shrink-0 mr-2" />
      <div class="text-text-primary">{{'PAC.Xpert.Subflow' | translate: {Default: 'Subflow'} }}</div>
    </div>
    <div cdkMenuItem class="flex items-center px-4 w-full h-9 rounded-lg hover:bg-state-base-hover cursor-pointer"
      (click)="addWorkflowListOperator()"
    >
      <xpert-workflow-icon [type]="eWorkflowNodeTypeEnum.LIST_OPERATOR" class="w-6 h-6 shrink-0 mr-2" />
      <div class="text-text-primary">{{'PAC.Workflow.ListOperator' | translate: {Default: 'List Operator'} }}</div>
    </div>
    <div cdkMenuItem class="flex items-center px-4 w-full h-9 rounded-lg hover:bg-state-base-hover cursor-pointer"
      (click)="addWorkflowVariableAggregator()"
    >
      <xpert-workflow-icon [type]="eWorkflowNodeTypeEnum.VARIABLE_AGGREGATOR" class="w-6 h-6 shrink-0 mr-2" />
      <div class="text-text-primary">{{'PAC.Workflow.VariableAggregator' | translate: {Default: 'Variable Aggregator'} }}</div>
    </div>
    <div cdkMenuItem class="flex items-center px-4 w-full h-9 rounded-lg hover:bg-state-base-hover cursor-pointer"
      (click)="addWorkflowVariableAssigner()"
    >
      <xpert-workflow-icon [type]="eWorkflowNodeTypeEnum.ASSIGNER" class="w-6 h-6 shrink-0 mr-2" />
      <div class="text-text-primary">{{'PAC.Workflow.VariableAssigner' | translate: {Default: 'Variable Assigner'} }}</div>
    </div>

    <div class="flex items-start px-2 mt-2 text-base font-medium text-text-tertiary">
      {{ 'PAC.Xpert.Transform' | translate: {Default: 'Transform'} }}
    </div>
    <div cdkMenuItem class="flex items-center px-4 w-full h-9 rounded-lg hover:bg-state-base-hover cursor-pointer"
      (click)="addWorkflowQuestionClassifier()"
    >
      <xpert-workflow-icon [type]="eWorkflowNodeTypeEnum.CLASSIFIER" class="w-6 h-6 shrink-0 mr-2" />
      <div class="text-text-primary">{{'PAC.Workflow.QuestionClassifier' | translate: {Default: 'Question Classifier'} }}</div>
    </div>
    <div cdkMenuItem class="flex items-center px-4 w-full h-9 rounded-lg hover:bg-state-base-hover cursor-pointer"
      (click)="addWorkflowKnowledgeRetrieval()"
    >
      <xpert-workflow-icon [type]="eWorkflowNodeTypeEnum.KNOWLEDGE" class="w-6 h-6 shrink-0 mr-2" />
      <div class="text-text-primary">{{'PAC.Xpert.KnowledgeRetrieval' | translate: {Default: 'Knowledge Retrieval'} }}</div>
    </div>
    <div cdkMenuItem class="flex items-center px-4 w-full h-9 rounded-lg hover:bg-state-base-hover cursor-pointer"
      (click)="addWorkflowCode()">
      <xpert-workflow-icon [type]="eWorkflowNodeTypeEnum.CODE" class="w-6 h-6 shrink-0 mr-2" />
      <div class="text-text-primary">{{'PAC.Xpert.Code' | translate: {Default: 'Code'} }}</div>
    </div>
    <div cdkMenuItem class="flex items-center px-4 w-full h-9 rounded-lg hover:bg-state-base-hover cursor-pointer"
      (click)="addWorkflowTemplate()"
    >
      <xpert-workflow-icon [type]="eWorkflowNodeTypeEnum.TEMPLATE" class="w-6 h-6 shrink-0 mr-2" />
      <div class="text-text-primary">{{'PAC.Xpert.Template' | translate: {Default: 'Template'} }}</div>
    </div>
    <div cdkMenuItem class="flex items-center px-4 w-full h-9 rounded-lg hover:bg-state-base-hover cursor-pointer"
      (click)="addWorkflowJSONStringify()"
    >
      <xpert-workflow-icon [type]="eWorkflowNodeTypeEnum.JSON_STRINGIFY" class="w-6 h-6 shrink-0 mr-2" />
      <div class="text-text-primary">{{'PAC.Workflow.JSONStringify' | translate: {Default: 'JSON Stringify'} }}</div>
    </div>
    <div cdkMenuItem class="flex items-center px-4 w-full h-9 rounded-lg hover:bg-state-base-hover cursor-pointer"
      (click)="addWorkflowJSONParse()"
    >
      <xpert-workflow-icon [type]="eWorkflowNodeTypeEnum.JSON_PARSE" class="w-6 h-6 shrink-0 mr-2" />
      <div class="text-text-primary">{{'PAC.Workflow.JSONParse' | translate: {Default: 'JSON Parse'} }}</div>
    </div>
    <div cdkMenuItem class="flex items-center px-4 w-full h-9 rounded-lg hover:bg-state-base-hover cursor-pointer"
      (click)="addWorkflowAnswer()"
    >
      <xpert-workflow-icon [type]="eWorkflowNodeTypeEnum.ANSWER" class="w-6 h-6 shrink-0 mr-2" />
      <div class="text-text-primary">{{'PAC.Xpert.Answer' | translate: {Default: 'Answer'} }}</div>
    </div>


    <div class="flex items-start px-2 mt-2 text-base font-medium text-text-tertiary">
      {{ 'PAC.Xpert.Tools' | translate: {Default: 'Tools'} }}
    </div>
    <div cdkMenuItem class="flex items-center px-4 w-full h-9 rounded-lg hover:bg-state-base-hover cursor-pointer"
      (click)="addWorkflowHttp()"
    >
      <xpert-workflow-icon [type]="eWorkflowNodeTypeEnum.HTTP" class="w-6 h-6 shrink-0 mr-2" />
      <div class="text-text-primary">{{'PAC.Xpert.Http' | translate: {Default: 'HTTP'} }}</div>
    </div>
    <div cdkMenuItem class="flex items-center px-4 w-full h-9 rounded-lg hover:bg-state-base-hover cursor-pointer"
      (click)="addWorkflowTool()"
    >
      <xpert-workflow-icon [type]="eWorkflowNodeTypeEnum.TOOL" class="w-6 h-6 shrink-0 mr-2" />
      <div class="text-text-primary">{{'PAC.Workflow.ToolCall' | translate: {Default: 'Tool Call'} }}</div>
    </div>
    <div cdkMenuItem class="flex items-center px-4 w-full h-9 rounded-lg hover:bg-state-base-hover cursor-pointer"
      (click)="addWorkflowAgentTool()"
    >
      <xpert-workflow-icon [type]="eWorkflowNodeTypeEnum.AGENT_TOOL" class="w-6 h-6 shrink-0 mr-2" />
      <div class="text-text-primary">{{'PAC.Workflow.AgentTool' | translate: {Default: 'Agent Tool'} }}</div>
    </div>
    <div cdkMenuItem class="flex items-center px-4 w-full h-9 rounded-lg hover:bg-state-base-hover cursor-pointer"
      (click)="addWorkflowTask()"
    >
      <xpert-workflow-icon [type]="eWorkflowNodeTypeEnum.TASK" class="w-6 h-6 shrink-0 mr-2" />
      <div class="text-text-primary">{{'PAC.Workflow.TaskHandover' | translate: {Default: 'Task Handover'} }}</div>
    </div>
    <!-- <div cdkMenuItem class="flex items-center px-4 w-full h-9 rounded-lg hover:bg-state-base-hover cursor-pointer"
      (click)="addSkill()"
    >
      <xpert-workflow-icon [type]="eWorkflowNodeTypeEnum.SKILL" class="w-6 h-6 shrink-0 mr-2" />
      <div class="text-text-primary">{{'PAC.Workflow.Skill' | translate: {Default: 'Skill'} }}</div>
    </div> -->

    <div class="flex items-start px-2 my-1 text-base font-medium text-text-tertiary">
      {{ 'PAC.Xpert.Memory' | translate: {Default: 'Memory'} }}
    </div>
    <div cdkMenuItem class="flex items-center px-4 w-full h-9 rounded-lg hover:bg-state-base-hover cursor-pointer"
      [cdkMenuTriggerFor]="databaseMenu"
    >
      <xpert-workflow-icon type="database" class="w-6 h-6 shrink-0 mr-2" />
      <div class="text-text-primary grow">
        {{ 'PAC.KEY_WORDS.Database' | translate: {Default: 'Database'} }}
      </div>
      <i class="ri-arrow-drop-right-fill"></i>
    </div>

    <div class="flex items-start px-2 mt-2 font-medium text-text-tertiary">
      {{ 'PAC.Xpert.Others' | translate: {Default: 'Others'} }}
    </div>
    <div cdkMenuItem class="shrink-0 px-4 w-full h-9"
      (click)="addWorkflowNote()">
      <xpert-workflow-icon [type]="eWorkflowNodeTypeEnum.NOTE" class="w-6 h-6 shrink-0 mr-2" />
      <div class="text-text-primary">
        {{ 'PAC.Xpert.Note' | translate: {Default: 'Note'} }}
      </div>
    </div>
  </div>
</ng-template>

<ng-template #triggerMenu>
  <div cdkMenu class="cdk-menu__medium bg-components-panel-bg-blur !rounded-2xl backdrop-blur-[5px] shadow-lg !min-w-[200px]">
    <div class="flex items-start px-2 my-1 text-base font-medium text-text-tertiary">
      {{ 'PAC.Workflow.Triggers' | translate: {Default: 'Triggers'} }}
    </div>
    <div cdkMenuItem class="flex items-center px-4 w-full h-9 rounded-lg hover:bg-state-base-hover cursor-pointer"
      (click)="addWorkflowTrigger('chat')"
    >
      <xpert-workflow-icon [type]="'chat'" class="w-6 h-6 shrink-0 mr-2" />
      <div class="text-text-primary">
        {{ 'PAC.Workflow.Chat' | translate: {Default: 'Chat'} }}
      </div>
    </div>

    @for (provider of triggerProviders(); track provider.name) {
      <div cdkMenuItem class="flex items-center px-4 w-full h-9 rounded-lg hover:bg-state-base-hover cursor-pointer"
        (click)="addWorkflowTrigger(provider)"
      >
        @if (provider.icon) {
          <xp-icon [icon]="provider.icon" class="w-6 h-6 shrink-0 mr-2" />
        }

        <div class="text-text-primary">
          {{ provider.label | i18n }}
        </div>
      </div>
    }
  </div>
</ng-template>

<ng-template #databaseMenu>
  <div cdkMenu class="cdk-menu__medium bg-components-panel-bg-blur !rounded-2xl backdrop-blur-[5px] shadow-lg !min-w-[200px]">
    <div class="flex items-start px-2 my-1 text-base font-medium text-text-tertiary">
      {{ 'PAC.KEY_WORDS.Database' | translate: {Default: 'Database'} }}
    </div>
    <div cdkMenuItem class="flex items-center px-4 w-full h-9 rounded-lg hover:bg-state-base-hover cursor-pointer"
      (click)="addWorkflowDatabase(eWorkflowNodeTypeEnum.DB_SQL)"
    >
      <xpert-workflow-icon [type]="eWorkflowNodeTypeEnum.DB_SQL" class="w-6 h-6 shrink-0 mr-2" />
      <div class="text-text-primary">
        {{ 'PAC.Workflow.SQLCustom' | translate: {Default: 'SQL Custom'} }}
      </div>
    </div>
    <div cdkMenuItem class="flex items-center px-4 w-full h-9 rounded-lg hover:bg-state-base-hover cursor-pointer"
      (click)="addWorkflowDatabase(eWorkflowNodeTypeEnum.DB_INSERT)"
    >
      <xpert-workflow-icon [type]="eWorkflowNodeTypeEnum.DB_INSERT" class="w-6 h-6 shrink-0 mr-2" />
      <div class="text-text-primary">
        {{ 'PAC.Workflow.NewData' | translate: {Default: 'New Data'} }}
      </div>
    </div>
    <div cdkMenuItem class="flex items-center px-4 w-full h-9 rounded-lg hover:bg-state-base-hover cursor-pointer"
      (click)="addWorkflowDatabase(eWorkflowNodeTypeEnum.DB_UPDATE)"
    >
      <xpert-workflow-icon [type]="eWorkflowNodeTypeEnum.DB_UPDATE" class="w-6 h-6 shrink-0 mr-2" />
      <div class="text-text-primary">
        {{ 'PAC.Workflow.UpdateData' | translate: {Default: 'Update Data'} }}
      </div>
    </div>
    <div cdkMenuItem class="flex items-center px-4 w-full h-9 rounded-lg hover:bg-state-base-hover cursor-pointer"
      (click)="addWorkflowDatabase(eWorkflowNodeTypeEnum.DB_DELETE)"
    >
      <xpert-workflow-icon [type]="eWorkflowNodeTypeEnum.DB_DELETE" class="w-6 h-6 shrink-0 mr-2" />
      <div class="text-text-primary">
        {{ 'PAC.Workflow.DeleteData' | translate: {Default: 'Delete Data'} }}
      </div>
    </div>
  </div>
</ng-template>

<ng-template #pipelineMenu let-ref="ref">
  <div cdkMenu class="bg-components-panel-bg-blur rounded-xl backdrop-blur-[5px] shadow-lg border-[0.5px] border-solid border-gray-300 !min-w-[200px]">
    <div class="relative flex bg-neutral-100 pl-1.5 pt-1.5">
      <div class="pipeline-tab system-sm-medium relative mr-0.5 flex h-9 cursor-pointer items-center rounded-t-lg px-2 text-text-tertiary hover:text-text-primary"
        [class.selected]="pipelineType() === 'source'"
        (click)="pipelineType.set('source')"
      >
        {{ 'PAC.Xpert.DataSource' | translate: {Default: 'Data Source'} }}
      </div>
      <div class="pipeline-tab system-sm-medium relative mr-0.5 flex h-9 cursor-pointer items-center rounded-t-lg px-2 text-text-tertiary hover:text-text-primary"
        [class.selected]="pipelineType() === 'processor'"
        (click)="pipelineType.set('processor');"
      >
        {{ 'PAC.Xpert.Processor' | translate: {Default: 'Processor'} }}
      </div>
      <div class="pipeline-tab system-sm-medium relative mr-0.5 flex h-9 cursor-pointer items-center rounded-t-lg px-2 text-text-tertiary hover:text-text-primary"
        [class.selected]="pipelineType() === 'chunker'"
        (click)="pipelineType.set('chunker')"
      >
        {{ 'PAC.Xpert.Chunker' | translate: {Default: 'Chunker'} }}
      </div>
      <div class="pipeline-tab system-sm-medium relative mr-0.5 flex h-9 cursor-pointer items-center rounded-t-lg px-2 text-text-tertiary hover:text-text-primary"
        [class.selected]="pipelineType() === 'understanding'"
        (click)="pipelineType.set('understanding')"
      >
        {{ 'PAC.Xpert.ImageUnderstanding' | translate: {Default: 'Image Understanding'} }}
      </div>
    </div>
    <div class="p-1.5">
      @switch (pipelineType()) {
        @case ('source') {
          @for (provider of dataSources$ | async; track provider.meta.name) {
            <div class="flex items-center px-2 w-full h-9 rounded-lg hover:bg-state-base-hover cursor-pointer text-text-secondary hover:text-text-primary"
              (click)="addPipelineSource(provider.meta);ref.close()"
            >
              @if (provider.meta.icon) {
                <xp-icon [icon]="provider.meta.icon" class="w-6 h-6 shrink-0 flex justify-center items-center mr-2" />
              }
              <div class="">
                {{ provider.meta.label | i18n }}
              </div>
            </div>
          }
        }

        @case ('processor') {
          @for (provider of transformers$ | async; track provider.meta.name) {
            <div class="flex items-center px-2 w-full h-9 rounded-lg hover:bg-state-base-hover cursor-pointer text-text-secondary hover:text-text-primary"
              (click)="addPipelineProcessor(provider.meta);ref.close()"
            >
              @if (provider.meta.icon) {
                <xp-icon [icon]="provider.meta.icon" class="w-6 h-6 shrink-0 flex justify-center items-center mr-2" />
              }
              <div class="">
                {{ provider.meta.label | i18n }}
              </div>
            </div>
          }
        }

        @case ('chunker') {
          @for (provider of textSplitters$ | async; track provider.name) {
            <div class="flex items-center px-2 w-full h-9 rounded-lg hover:bg-state-base-hover cursor-pointer text-text-secondary hover:text-text-primary"
              (click)="addPipelineChunker(provider);ref.close()"
            >
              @if (provider.icon) {
                <xp-icon [icon]="provider.icon" class="w-6 h-6 shrink-0 flex justify-center items-center mr-2" />
              }
              <div class="">
                {{ provider.label | i18n }}
              </div>
            </div>
          }
        }

        @case ('understanding') {
          @for (provider of imageUnderstandings$ | async; track provider.name) {
            <div class="flex items-center px-2 w-full h-9 rounded-lg hover:bg-state-base-hover cursor-pointer text-text-secondary hover:text-text-primary"
              (click)="addPipelineUnderstanding(provider);ref.close()"
            >
              @if (provider.icon) {
                <xp-icon [icon]="provider.icon" class="w-6 h-6 shrink-0 flex justify-center items-center mr-2" />
              }
              <div class="">
                {{ provider.label | i18n }}
              </div>
            </div>
          }
        }
      }
    </div>
  </div>
</ng-template>


<ng-template #middlewaresMenu let-ref="ref">
  <div cdkMenu class="cdk-menu__medium bg-components-panel-bg-blur !rounded-2xl backdrop-blur-[5px] shadow-lg !min-w-[200px]">
    <div class="flex items-start px-2 my-1 text-base font-medium text-text-tertiary">
      {{ 'PAC.Xpert.AgentMiddlewares' | translate: {Default: 'Agent Middlewares'} }}
    </div>
    @for (middleware of agentMiddlewares$ | async; track middleware.meta?.name) {
      <div cdkMenuItem class="flex items-center px-4 w-full h-9 rounded-lg hover:bg-state-base-hover cursor-pointer"
        [cdkMenuItemDisabled]="!middleware.meta?.name"
        (click)="addMiddleware(middleware.meta?.name)"
      >
        @if (!middleware.meta?.name) {
          <div class="text-text-destructive">
            {{ 'PAC.Xpert.UnknownMiddleware' | translate: {Default: 'Unknown Middleware'} }}
          </div>
        } @else {
          @if (middleware.meta.icon) {
            <xp-icon [icon]="middleware.meta.icon" class="w-6 h-6 shrink-0 mr-2" />
          }
          <div class="text-text-primary">
            {{ middleware.meta.label | i18n }}
          </div>
        }
      </div>
    }
  </div>
</ng-template>
