<div
  class="w-16 py-2 flex flex-col items-center h-full overflow-auto bg-components-panel-bg text-text-primary"
  >
  @if (expandLess() || !collapsible()) {
    <div class="w-full px-2 flex-1 flex flex-col items-center overflow-hidden hover:overflow-y-auto">
      <ng-content></ng-content>

      @if (saving()) {
        <div class="h-[40px] flex flex-col justify-center items-center">
          <z-loader [diameter]="22" />
        </div>
      } @else {
        <button
          z-button
          zType="ghost"
          zSize="icon"
          zShape="circle"
          [class]="(isDirty$ | async) ? 'text-text-accent hover:text-text-accent' : ''"
          [zTooltip]="'Story.Toolbar.SAVE.SAVE' | translate: { Default: 'Save' }"
          zPosition="right"
          [disabled]="disableSave()"
          (click)="storyService.saveStory()"
          >
          @if (isDirty$ | async) {
            <span class="absolute top-2 left-2 w-2 h-2 bg-yellow-500 rounded-full"></span>
          }
          <z-icon zType="save"></z-icon>
        </button>
      }

      <button
        z-button
        zType="ghost"
        zSize="icon"
        zShape="circle"
        [class]="showDetails() === 'preferences' ? 'text-text-accent hover:text-text-accent' : ''"
        [zTooltip]="'Story.Toolbar.PREFERENCES.TITLE' | translate: { Default: 'Preferences' }"
        zPosition="right"
        (click)="togglePreferences()"
        >
        <z-icon zType="settings_applications"></z-icon>
      </button>

      <button
        z-button
        zType="ghost"
        zSize="icon"
        zShape="circle"
        [class]="showDetails() === 'storyDesigner' ? 'text-text-accent hover:text-text-accent' : ''"
        [zTooltip]="'Story.Toolbar.GlobalStyles' | translate: { Default: 'Global Styles' }"
        zPosition="right"
        (click)="toggleStoryDesigner()"
        >
        <z-icon zType="format_color_fill"></z-icon>
      </button>

      <button
        z-button
        zType="ghost"
        zSize="icon"
        zShape="circle"
        [class]="showDetails() === 'devices' ? 'text-text-accent hover:text-text-accent' : ''"
        [zTooltip]="'Story.Toolbar.Devices' | translate: { Default: 'Devices' }"
        zPosition="right"
        (click)="toggleDevices()"
        >
        <z-icon zType="devices"></z-icon>
      </button>

      <button
        z-button
        zType="ghost"
        zSize="icon"
        zShape="circle"
        [zTooltip]="
          editable()
            ? ('Story.Toolbar.Preview' | translate: { Default: 'Preview' })
            : ('Story.Toolbar.Editable' | translate: { Default: 'Editable' })
        "
        zPosition="right"
        (click)="toggleEditable(!editable())"
        >
        @if (editable()) {
          <z-icon zType="edit_off"></z-icon>
        } @else {
          <z-icon zType="edit"></z-icon>
        }
      </button>

      <button
        z-button
        zType="ghost"
        zSize="icon"
        zShape="circle"
        [zTooltip]="
          _fullscreen
            ? ('Story.Toolbar.ExitFullscreen' | translate: { Default: 'Exit Fullscreen' })
            : ('Story.Toolbar.Fullscreen' | translate: { Default: 'Fullscreen' })
        "
        zPosition="right"
        (click)="_fullscreen = !_fullscreen; fullscreen.emit(_fullscreen)"
        >
        @if (_fullscreen) {
          <z-icon zType="fullscreen_exit"></z-icon>
        } @else {
          <z-icon zType="fullscreen"></z-icon>
        }
      </button>

      <div class="py-2 text-center">
        {{ 'Story.Toolbar.Widgets' | translate: { Default: 'Widget' } }}
      </div>

      <button
        z-button
        zType="ghost"
        zSize="icon"
        zShape="circle"
        [class]="creatingWidget() === ComponentType.AnalyticalCard ? 'text-text-accent hover:text-text-accent' : ''"
        [zTooltip]="'Story.Toolbar.INSERT.ChartCard' | translate: { Default: 'Chart' }"
        zPosition="right"
        draggable="true"
        (dragstart)="dragStartHandler($event, { component: ComponentType.AnalyticalCard })"
        (click)="createWidget({ component: ComponentType.AnalyticalCard })"
        >
        <z-icon zType="addchart"></z-icon>
      </button>
      <button
        z-button
        zType="ghost"
        zSize="icon"
        zShape="circle"
        [class]="creatingWidget() === ComponentType.AnalyticalGrid ? 'text-text-accent hover:text-text-accent' : ''"
        [zTooltip]="'Story.Toolbar.INSERT.Table' | translate: { Default: 'Table' }"
        zPosition="right"
        draggable="true"
        (dragstart)="dragStartHandler($event, { component: ComponentType.AnalyticalGrid })"
        (click)="createWidget({ component: ComponentType.AnalyticalGrid })"
        >
        <z-icon zType="pivot_table_chart"></z-icon>
      </button>
      <button
        z-button
        zType="ghost"
        zSize="icon"
        zShape="circle"
        [class]="creatingWidget() === ComponentType.InputControl ? 'text-text-accent hover:text-text-accent' : ''"
        [zTooltip]="'Story.Toolbar.INSERT.InputControl' | translate: { Default: 'Input Control' }"
        zPosition="right"
        draggable="true"
        (dragstart)="dragStartHandler($event, { component: ComponentType.InputControl })"
        (click)="createWidget({ component: ComponentType.InputControl })"
        >
        <z-icon zType="toggle_on"></z-icon>
      </button>
      <button
        z-button
        zType="ghost"
        zSize="icon"
        zShape="circle"
        [class]="creatingWidget() === ComponentType.KpiCard ? 'text-text-accent hover:text-text-accent' : ''"
        [zTooltip]="'Story.Toolbar.INSERT.KPI' | translate: { Default: 'KPI' }"
        zPosition="right"
        draggable="true"
        (dragstart)="dragStartHandler($event, { component: ComponentType.KpiCard })"
        (click)="createWidget({ component: ComponentType.KpiCard })"
        >
        <z-icon zType="percent"></z-icon>
      </button>
      <button
        z-button
        zType="ghost"
        zSize="icon"
        zShape="circle"
        [class]="showDetails() === 'widgets' ? 'text-text-accent hover:text-text-accent' : ''"
        zPosition="right"
        [zTooltip]="
          showDetails() === 'widgets'
            ? ('Story.Toolbar.Less' | translate: { Default: 'Less' })
            : ('Story.Toolbar.More' | translate: { Default: 'More' })
        "
        (click)="toggleWidgets()"
        >
        @if ((showDetails() !== 'widgets' && !onRight) || (showDetails() === 'widgets' && onRight)) {
          <z-icon
            zType="keyboard_arrow_right"
          ></z-icon>
        }
        @if ((showDetails() === 'widgets' && !onRight) || (showDetails() !== 'widgets' && onRight)) {
          <z-icon
            zType="keyboard_arrow_left"
          ></z-icon>
        }
      </button>

      <!-- <button
        z-button
        zType="ghost"
        zSize="icon"
        zShape="circle"
        displayDensity="cosy"
        class="ngm-copilot-command-button"
        [zTooltip]="'Copilot.GenerateWithAI' | translate: { Default: 'Generate with AI' }"
        zPosition="right"
        (click)="aiChatStory()"
        >
        <z-icon zType="auto_fix_high"></z-icon>
      </button> -->

      <div class="flex-1"></div>
    </div>
  }

  @if (collapsible()) {
    <button z-button zType="ghost" zSize="icon" zShape="circle" (click)="toggleExpand()">
      @if (expandLess()) {
        <z-icon zType="expand_less"></z-icon>
      } @else {
        <z-icon zType="expand_more"></z-icon>
      }
    </button>
  }
</div>

@if (showDetails() === 'preferences') {
  <div
    class="w-16 h-full flex flex-col border-solid border-0 border-gray-500 bg-components-panel-bg text-text-primary"
    [ngClass]="onRight ? 'border-r' : 'border-l'"
    >
    <div class="flex-1 flex flex-col p-2 overflow-y-auto overflow-x-hidden">
      <button
        z-button
        zType="ghost"
        zSize="icon"
        zShape="circle"
        [zTooltip]="'Story.Toolbar.NewPage' | translate: { Default: 'New Page' }"
        zPosition="right"
        (click)="showDetails.set('newPages')"
        >
        <z-icon class="ngm-story--tab-icon" zType="add"></z-icon>
      </button>
      <button
        z-button
        zType="ghost"
        zSize="icon"
        zShape="circle"
        [zTooltip]="'Story.Toolbar.PREFERENCES.DETAILS' | translate: { Default: 'Story Details' }"
        zPosition="right"
        (click)="openStoryDetails()"
        >
        <z-icon zType="settings"></z-icon>
      </button>
      <!-- <button cdkMenuItem (click)="openPreferences()">
      <z-icon zType="tune"></z-icon>
      {{ 'Story.Toolbar.PREFERENCES.PREFERENCES' | translate: {Default: "Preferences"} }}
    </button> -->
    <button
      z-button
      zType="ghost"
      zSize="icon"
      zShape="circle"
      [zTooltip]="'Story.Toolbar.PREFERENCES.ADVANCED_STYLE' | translate: { Default: 'Advanced Style' }"
      zPosition="right"
      (click)="openAdvancedStyle()"
      >
      <z-icon zType="css"></z-icon>
    </button>
    <button
      z-button
      zType="ghost"
      zSize="icon"
      zShape="circle"
      [zTooltip]="'Story.Toolbar.PREFERENCES.Calculations' | translate: { Default: 'Calculations' }"
      zPosition="right"
      (click)="openCalculations()"
      >
      <z-icon zType="functions"></z-icon>
    </button>
    <button
      z-button
      zType="ghost"
      zSize="icon"
      zShape="circle"
      [zTooltip]="'Story.Toolbar.PREFERENCES.ThemeBuilder' | translate: { Default: 'Theme Builder' }"
      zPosition="right"
      (click)="openThemeBuilder()"
      >
      <z-icon zType="palette"></z-icon>
    </button>
    <button
      z-button
      zType="ghost"
      zSize="icon"
      zShape="circle"
      [zTooltip]="'Story.Toolbar.PREFERENCES.Templates' | translate: { Default: 'Templates' }"
      zPosition="right"
      (click)="toolbarService.openTemplates()"
      >
      <z-icon zType="category"></z-icon>
    </button>
    <button
      z-button
      zType="ghost"
      zSize="icon"
      zShape="circle"
      [zTooltip]="'PAC.Project.Files' | translate: { Default: 'Files' }"
      zPosition="right"
      (click)="openMaterials()"
      >
      <z-icon zType="attach_file"></z-icon>
    </button>
    <!-- <button cdkMenuItem (click)="openQuerySettings()">
    <z-icon zType="query_stats"></z-icon>
    {{ 'Story.Toolbar.PREFERENCES.QUERY_SETTINGS' | translate: {Default: "Query Settings"} }}
  </button>
  <button cdkMenuItem>
    <z-icon zType="lightbulb"></z-icon>
    {{ 'Story.Toolbar.PREFERENCES.SMART_INSIGHTS' | translate: {Default: "Smart Insights"} }}
  </button>
  <button cdkMenuItem (click)="openSubscription()">
    <z-icon zType="subscriptions"></z-icon>
    {{ 'Story.Toolbar.PREFERENCES.SUBSCRIPTION' | translate: {Default: "Subscription"} }}
  </button> -->
  <button
    z-button
    zType="ghost"
    zSize="icon"
    zShape="circle"
    [cdkMenuTriggerFor]="saveMenu"
    [cdkMenuPosition]="[{ originX: 'end', originY: 'center', overlayX: 'start', overlayY: 'center' }]"
    [zTooltip]="'Story.Toolbar.Edit.Title' | translate: { Default: 'Edit' }"
    zPosition="right"
    >
    <z-icon zType="edit"></z-icon>
  </button>
  <!-- <button z-button zType="ghost" cdkMenuItem [cdkMenuTriggerFor]="copyMenu">
  <z-icon zType="content_copy"></z-icon>
  {{ 'Story.Toolbar.COPY.COPY' | translate: {Default: "Copy"} }}
</button> -->
<button
  z-button
  zType="ghost"
  zSize="icon"
  zShape="circle"
  [zTooltip]="'Story.Toolbar.SHARE.SHARE' | translate: { Default: 'Share' }"
  zPosition="right"
  (click)="openShare()"
  >
  <z-icon zType="share"></z-icon>
</button>
<button
  z-button
  zType="ghost"
  zSize="icon"
  zShape="circle"
  [zTooltip]="'Story.Toolbar.SAVE.EXPORT' | translate: { Default: 'Export' }"
  zPosition="right"
  [disabled]="exporting"
  (click)="export()"
  >
  <z-icon zType="file_download"></z-icon>
</button>
<button
  z-button
  zType="ghost"
  zSize="icon"
  zShape="circle"
  [class]="isPanMode() ? 'text-text-accent hover:text-text-accent' : ''"
  [zTooltip]="'Story.Toolbar.PanMode' | translate: { Default: 'Pan mode (Alt)' }"
  zPosition="right"
  (click)="togglePanTool()"
  >
  <z-icon zType="pan_tool"></z-icon>
</button>
<button
  z-button
  zType="ghost"
  zSize="icon"
  zShape="circle"
  [zTooltip]="'Story.Toolbar.ZoomIn' | translate: { Default: 'Zoom In (Alt +)' }"
  zPosition="right"
  (click)="zoomIn()"
  >
  <z-icon zType="zoom_in"></z-icon>
</button>
<button
  z-button
  zType="ghost"
  zSize="icon"
  zShape="circle"
  [cdkMenuTriggerFor]="scaleMenu"
  [cdkMenuPosition]="[{ originX: 'end', originY: 'center', overlayX: 'start', overlayY: 'center' }]"
  [zTooltip]="scale() ?? ('Story.Toolbar.Scale' | translate: { Default: 'Scale' })"
  zPosition="right"
  >
  <span class="text-xs">{{ scale() }}%</span>
</button>
<button
  z-button
  zType="ghost"
  zSize="icon"
  zShape="circle"
  [zTooltip]="'Story.Toolbar.ZoomOut' | translate: { Default: 'Zoom Out (Alt -)' }"
  zPosition="right"
  (click)="zoomOut()"
  >
  <z-icon zType="zoom_out"></z-icon>
</button>
</div>
</div>
}

@if (showDetails() === 'newPages') {
  <div
    @inOut
    class="pac-story-bar__detail-card relative w-96 h-full flex flex-col p-2"
    >
    <button
      z-button
      zType="ghost"
      zSize="icon"
      zShape="circle"
      style="position: absolute"
      class="absolute right-1 top-1"
      (click)="showDetails.set(null)"
      >
      <z-icon zType="close"></z-icon>
    </button>
    <div class="text-base text-center my-4">
      {{ 'Story.Toolbar.NewPage' | translate: { Default: 'New Page' } }}
    </div>
    <div class="grid grid-cols-3 gap-2">
      @for (page of pages; track page) {
        <button
          class="h-20 m-2 flex justify-center items-center rounded-lg overflow-hidden ring-offset-2 ring-2 ring-transparent ring-offset-transparent hover:ring-violet-300 focus:ring-violet-500 hover:ring-offset-white dark:hover:ring-offset-black"
          (click)="createStoryPage(page.value)"
          [zTooltip]="'Story.Toolbar.' + page.label | translate: { Default: page.label }"
          zPosition="top"
          >
          {{ 'Story.Toolbar.' + page.label | translate: { Default: page.label } }}
        </button>
      }
    </div>
  </div>
}

@if (showDetails() === 'widgets') {
  <div @inOut class="pac-story-bar__detail-card w-80 h-full flex flex-col p-2">
    <div class="text-base text-center my-4">
      {{ 'Story.Toolbar.Charts' | translate: { Default: 'Charts' } }}
    </div>
    @for (group of charts; track group) {
      <div class="text-sm p-2">
        {{ 'FORMLY.CHART.' + group.label | translate: { Default: group.label } }}
      </div>
      <div class="grid grid-cols-3 gap-2">
        @for (chart of group.charts; track chart) {
          <button
            class="h-16 m-2 flex justify-center items-center rounded-lg overflow-hidden ring-offset-2 ring-2 ring-transparent ring-offset-transparent hover:ring-violet-300 focus:ring-violet-500 hover:ring-offset-components-card-bg bg-components-card-bg"
            [zTooltip]="'FORMLY.CHART.' + chart.label | translate: { Default: chart.label }"
            zPosition="top"
            draggable="true"
        (dragstart)="
          dragStartHandler($event, {
            component: ComponentType.AnalyticalCard,
            dataSettings: {
              chartAnnotation: chart.value
            }
          })
        "
        (click)="
          createWidget({
            component: ComponentType.AnalyticalCard,
            dataSettings: {
              chartAnnotation: chart.value
            }
          })
        "
        >
        <img
          [src]="'/assets/icons/charts/' + chart.icon"
          class="object-contain max-h-full"
          alt="{{ chart.label }}"
          [ngStyle]="{
            transform: chart.rotate ? 'rotate(90deg)' : 'none',
            width: chart.width ? chart.width : '100%'
          }"
          />
      </button>
    }
  </div>
}
<z-divider></z-divider>
<div class="text-base text-center my-2">
  {{ 'Story.Toolbar.Widgets' | translate: { Default: 'Widgets' } }}
</div>
<div class="grid grid-cols-3 gap-2">
  @for (widget of widgets; track widget) {
    <button
      class="h-16 m-2 flex justify-center items-center rounded-lg overflow-hidden ring-offset-2 ring-2 ring-transparent ring-offset-transparent hover:ring-violet-300 focus:ring-violet-500 hover:ring-offset-white dark:hover:ring-offset-black"
      [zTooltip]="'Story.Toolbar.INSERT.' + widget.code | translate: { Default: widget.label }"
      zPosition="top"
      draggable="true"
      (dragstart)="dragStartHandler($event, widget.value)"
      (click)="createWidget(widget.value)"
      >
      <z-icon [zType]="widget.icon"></z-icon>
    </button>
  }
  <!-- <button (click)="createWidget(ComponentType.AnalyticalGeography)">
  <z-icon zType="map"></z-icon>
  {{ 'Story.Toolbar.INSERT.Geo_Map' | translate: {Default: "Geo Map"} }}
</button> -->
<!-- <button>Shape</button>
<z-divider></z-divider>
<button>Symbol</button> -->
<!-- <button (click)="createWidget(ComponentType.Table)"
[disabled]="false"
>
<z-icon zType="pivot_table_chart"></z-icon>
{{ 'Story.Toolbar.INSERT.PivotTable' | translate: {Default: "Pivot Table"} }}
<span class="pac-pro-tag">pro</span>
</button> -->
</div>
</div>
}

@if (showDetails() === 'storyDesigner') {
  <pac-story-designer @inOut class="pac-story-bar__detail-card w-96 h-full" />
}

@if (showDetails() === 'devices') {
  <div @inOut class="pac-story-bar__detail-card w-80 h-full flex flex-col p-2">
    <div class="text-base text-center my-2">
      {{ 'Story.Toolbar.Devices' | translate: { Default: 'Devices' } }}
    </div>
    <div class="grid grid-cols-2 gap-2">
      @for (device of EmulatedDevices; track $index) {
        <button
          class="h-24 m-2 flex flex-col justify-center items-center rounded-lg overflow-hidden ring-offset-2 ring-2 ring-transparent ring-offset-transparent hover:ring-violet-300 focus:ring-violet-500 hover:ring-offset-white dark:hover:ring-offset-black"
          [class.ring-violet-500]="device.name === emulatedDevice?.name"
          (click)="toggleMobile(device.value)"
          >
          <span>{{ 'Story.Toolbar.EmulatedDevice_' + device.name | translate: { Default: device.name } }}</span>
          @if (device.value) {
            <span
              >{{ device.value.width ?? emulatedDevice?.width }} x {{ device.value.height ?? emulatedDevice?.height }}</span
              >
            }
          </button>
        }
      </div>
      @if (emulatedDevice) {
        <div class="flex justify-center items-center gap-4">
          <ngm-input
            [label]="'Story.Toolbar.Width' | translate: { Default: 'Width' }"
            [(ngModel)]="emulatedDevice.width"
            (ngModelChange)="onEmulatedDeviceChange()"
          ></ngm-input>
          <ngm-input
            [label]="'Story.Toolbar.Height' | translate: { Default: 'Height' }"
            [(ngModel)]="emulatedDevice.height"
            (ngModelChange)="onEmulatedDeviceChange()"
            >
          </ngm-input>
        </div>
      }
      <z-divider></z-divider>
      <div class="text-base text-center my-2">{{ 'Story.Toolbar.Fit' | translate: { Default: 'Fit' } }}</div>
      <div class="grid grid-cols-3 gap-2">
        @for (zoom of DeviceZooms; track zoom) {
          <button
            class="h-16 m-2 flex flex-col justify-center items-center rounded-lg overflow-hidden ring-offset-2 ring-2 ring-transparent ring-offset-transparent hover:ring-violet-300 focus:ring-violet-500 hover:ring-offset-white dark:hover:ring-offset-black"
            [class.ring-violet-500]="zoom.name === deviceZoom?.name"
            (click)="setDeviceZoom(zoom)"
            >
            {{ zoom.name }}
          </button>
        }
      </div>
      <z-divider></z-divider>
      <div class="text-base text-center my-2">
        {{ 'Story.Toolbar.Orientation' | translate: { Default: 'Orientation' } }}
      </div>
      <div class="w-full flex justify-center items-center">
        <z-toggle-group ngmAppearance="outline" displayDensity="compact" color="accent"
          [ngModel]="orientation"
          (ngModelChange)="toggleOrientation($event)"
          >
          <z-toggle-group-item [value]="DeviceOrientation.landscape">
            <z-icon zSize="sm" zType="stay_primary_landscape"></z-icon>
          </z-toggle-group-item>
          <z-toggle-group-item [value]="DeviceOrientation.portrait">
            <z-icon zSize="sm" zType="stay_primary_portrait"></z-icon>
          </z-toggle-group-item>
        </z-toggle-group>
        @if (emulatedDevice?.isFold) {
          <z-divider></z-divider>
          <div class="text-base text-center my-2">
            {{ 'Story.Toolbar.DeviceFold' | translate: { Default: 'Device Fold' } }}
          </div>
          <div class="w-full flex justify-center items-center">
            <z-toggle-group
              ngmAppearance="outline"
              displayDensity="compact"
              color="accent"
              [ngModel]="orientation"
              (ngModelChange)="toggleOrientation($event)"
              >
              <z-toggle-group-item [value]="DeviceOrientation.landscape">
                <z-icon zSize="sm" zType="stay_primary_landscape"></z-icon>
              </z-toggle-group-item>
              <z-toggle-group-item [value]="DeviceOrientation.portrait">
                <z-icon zSize="sm" zType="stay_primary_portrait"></z-icon>
              </z-toggle-group-item>
            </z-toggle-group>
          </div>
        }
      </div>
    </div>
  }

  <ng-template #fileMenu>
    <div cdkMenu displayDensity="cosy">
      <button cdkMenuItem>
        {{ 'Story.Toolbar.PREFERENCES.PREFERENCES' | translate: { Default: 'Preferences' } }}
      </button>
      <button cdkMenuItem [cdkMenuTriggerFor]="saveMenu">
        <z-badge zCount="1" zOverlap="false" [zHidden]="isNotDirty$ | async">
          {{ 'Story.Toolbar.SAVE.SAVE' | translate: { Default: 'Save' } }}
        </z-badge>
      </button>
      <button cdkMenuItem [cdkMenuTriggerFor]="copyMenu">
        {{ 'Story.Toolbar.COPY.COPY' | translate: { Default: 'Copy' } }}
      </button>
      <button cdkMenuItem>
        <z-icon zType="share"></z-icon>
        {{ 'Story.Toolbar.SHARE.SHARE' | translate: { Default: 'Share' } }}
      </button>
    </div>
  </ng-template>

  <ng-template #saveMenu>
    <div cdkMenu displayDensity="cosy">
      <button
        z-button
        zType="ghost"
        cdkMenuItem
        [disabled]="isNotDirty$ | async"
        [class]="(isDirty$ | async) ? 'text-text-accent hover:text-text-accent' : ''"
        (click)="storyService.saveStory()"
        >
        {{ 'Story.Toolbar.SAVE.SAVE' | translate: { Default: 'Save' } }}
      </button>

      <!-- <button cdkMenuItem (click)="openSaveAs()">
      {{ 'Story.Toolbar.SAVE.SAVE_AS' | translate: {Default: "Save As"} }}...
    </button>
    <button cdkMenuItem>
      {{ 'Story.Toolbar.SAVE.SAVE_AS_TEMPLATE' | translate: {Default: "Save As Template"} }}...
    </button> -->

    <z-divider></z-divider>

    <button
      cdkMenuItem
      [cdkMenuItemDisabled]="isWidgetSelected()"
      [class.ngm-cdk-menu-item__disabled]="isWidgetSelected()"
      (click)="copyWidget()"
      >
      {{ 'Story.Toolbar.COPY.COPY' | translate: { Default: 'Copy' } }}
    </button>
    <button
      cdkMenuItem
      [cdkMenuItemDisabled]="isWidgetSelected()"
      [class.ngm-cdk-menu-item__disabled]="isWidgetSelected()"
      [cdkMenuTriggerFor]="copyToMenu"
      >
      {{ 'Story.Toolbar.COPY.COPY_TO' | translate: { Default: 'Copy to' } }}...
    </button>
    <button
      cdkMenuItem
      [cdkMenuItemDisabled]="isWidgetSelected()"
      [class.ngm-cdk-menu-item__disabled]="isWidgetSelected()"
      (click)="duplicateWidget()"
      >
      {{ 'Story.Toolbar.COPY.DUPLICATE' | translate: { Default: 'Duplicate' } }}
    </button>
    <z-divider></z-divider>
    <button
      cdkMenuItem
      [cdkMenuItemDisabled]="!isCopyWidgetSelected$()"
      [class.ngm-cdk-menu-item__disabled]="!isCopyWidgetSelected$()"
      (click)="isCopyWidgetSelected$() ? pasteWidget() : ''"
      >
      {{ 'Story.Toolbar.COPY.PASTE' | translate: { Default: 'Paste' } }}
    </button>

    <z-divider></z-divider>

    <button cdkMenuItem (click)="saveAsTemplate()">
      {{ 'Story.Toolbar.SaveAsTemplate' | translate: { Default: 'Save As Template' } }}
    </button>
  </div>
</ng-template>

<ng-template #copyMenu>
  <div cdkMenu displayDensity="cosy">
    <button
      cdkMenuItem
      [cdkMenuItemDisabled]="isWidgetSelected()"
      [class.ngm-cdk-menu-item__disabled]="isWidgetSelected()"
      (click)="copyWidget()"
      >
      {{ 'Story.Toolbar.COPY.COPY' | translate: { Default: 'Copy' } }}
    </button>
    <button
      cdkMenuItem
      [cdkMenuItemDisabled]="isWidgetSelected()"
      [class.ngm-cdk-menu-item__disabled]="isWidgetSelected()"
      [cdkMenuTriggerFor]="copyToMenu"
      >
      {{ 'Story.Toolbar.COPY.COPY_TO' | translate: { Default: 'Copy to' } }}...
    </button>
    <button
      cdkMenuItem
      [cdkMenuItemDisabled]="isWidgetSelected()"
      [class.ngm-cdk-menu-item__disabled]="isWidgetSelected()"
      (click)="duplicateWidget()"
      >
      {{ 'Story.Toolbar.COPY.DUPLICATE' | translate: { Default: 'Duplicate' } }}
    </button>
    <z-divider></z-divider>
    <button
      cdkMenuItem
      [cdkMenuItemDisabled]="!isCopyWidgetSelected$()"
      [class.ngm-cdk-menu-item__disabled]="!isCopyWidgetSelected$()"
      (click)="isCopyWidgetSelected$() ? pasteWidget() : ''"
      >
      {{ 'Story.Toolbar.COPY.PASTE' | translate: { Default: 'Paste' } }}
    </button>
  </div>
</ng-template>

<ng-template #copyToMenu>
  <div cdkMenu displayDensity="cosy">
    <button cdkMenuItem (click)="onCopyToNew(STORY_POINT_TYPE.Canvas)">
      {{ 'Story.Toolbar.New_Canvas_Page' | translate: { Default: 'New Canvas Page' } }}
    </button>
    <button cdkMenuItem (click)="onCopyToNew(STORY_POINT_TYPE.Responsive)">
      {{ 'Story.Toolbar.New_Responsive_Page' | translate: { Default: 'New Responsive Page' } }}
    </button>

    <z-divider></z-divider>
    @for (point of pointList(); track point.key) {
      <button cdkMenuItem (click)="onCopyTo(point.key)">{{ point.name }}</button>
    }
  </div>
</ng-template>

<ng-template #devicesMenu>
  <div cdkMenu displayDensity="cosy">
    @for (device of EmulatedDevices; track device) {
      <button cdkMenuItem (click)="setEmulatedDevice(device)">
        {{ device.name }}
      </button>
    }
  </div>
</ng-template>

<ng-template #zoomsMenu>
  <div cdkMenu displayDensity="cosy">
    @for (zoom of DeviceZooms; track zoom) {
      <button cdkMenuItem (click)="setDeviceZoom(zoom)">
        {{ zoom.name }}
      </button>
    }
  </div>
</ng-template>
<ng-template #scaleMenu>
  <div cdkMenu displayDensity="cosy">
    <button cdkMenuItem (click)="resetScalePan.emit()">
      <z-icon zType="center_focus_strong"></z-icon>
      <span class="flex-1">
        {{ 'Story.Toolbar.Scale_Unset' | translate: { Default: 'Unset' } }}
      </span>

      <span class="text-sm font-bold ml-4"> Alt + Esc </span>
    </button>
    @for (item of StoryScales; track item.value) {
      <button
        cdkMenuItem
        class="pac-story-bar__scale-item group"
        [class.active]="scale() === item.value"
        (click)="setScale(item.value)"
        >
        <span
          class="pac-story-bar__scale-point inline-flex items-center justify-center w-2 h-2 ml-2 mr-4 text-xs font-semibold bg-components-list-option-active-bg rounded-full group-hover:bg-yellow-500"
          >
        </span>

        <span>{{ item.name }}</span>
      </button>
    }
  </div>
</ng-template>

<ng-template #viewsMenu>
  <div cdkMenu displayDensity="cosy">
    <button
      cdkMenuItem
      [cdkMenuTriggerFor]="scaleMenu"
      [zTooltip]="'Story.Toolbar.Scale' | translate: { Default: 'Scale' }"
      >
      {{ scale() ?? ('Story.Toolbar.Scale' | translate: { Default: 'Scale' }) }}
    </button>

    @if (emulatedDevice) {
      <button
        cdkMenuItem
        [cdkMenuTriggerFor]="devicesMenu"
        [zTooltip]="'Story.Toolbar.EmulatedDevices' | translate: { Default: 'Emulated Devices' }"
        zPosition="right"
        >
        {{ emulatedDevice?.name ?? 'Responsive' }}
      </button>
      <button
        cdkMenuItem
        [cdkMenuTriggerFor]="zoomsMenu"
        [zTooltip]="'Story.Toolbar.Fit' | translate: { Default: 'Fit' }"
        zPosition="right"
        >
        {{ deviceZoom?.name ?? ('Story.Toolbar.Fit' | translate: { Default: 'Fit' }) }}
      </button>
      @if (emulatedDevice?.isFold) {
        <button
          cdkMenuItem
          [zTooltip]="'Story.Toolbar.DeviceFold' | translate: { Default: 'Device Fold' }"
          zPosition="right"
          (click)="toggleDeviceFold()"
          >
          <z-icon zType="flip"></z-icon>
        </button>
      }
    }
  </div>
</ng-template>
