@reference "../../../../../tailwind-workspace-reference.css";
:host {
  @apply relative flex flex-col items-stretch min-w-[100px];// w-full;

  &.ngm-select-error {
    .ngm-select-element [role='combobox'] {
      border-color: var(--destructive);
    }
    .ngm-input-element {
      border-color: var(--destructive);
    }
  }
}

.ngm-select__message {
  display: inline-flex;
}
