KILL_PROCESS {
    bpf,
    delete_module,
    finit_module,
    init_module,
    kexec_load,
    keyctl,
    mount,
    move_mount,
    open_by_handle_at,
    open_tree,
    perf_event_open,
    pivot_root,
    process_vm_readv,
    process_vm_writev,
    ptrace,
    reboot,
    setns,
    swapoff,
    swapon,
    umount,
    unshare
}
DEFAULT ALLOW
