:host {
  width: 100%;
  overflow: auto;
}
.rounded-full[z-button],
z-button.rounded-full {
  border-radius: 50%;
}

tr.example-detail-row {
  height: 0;
}
.example-element-detail {
  overflow: hidden;
  display: flex;
}
