<div class="flex justify-between items-center mb-2">
  <div class="flex items-center gap-2">
    <span>Tool memory</span>

    <div class="p-[1px] w-4 h-4 shrink-0"
      [matTooltip]="'PAC.Xpert.OutputVariablesInfo' | translate: {Default: 'The parameters will be a form for users to fill in before the dialogue, and the form content filled in by the user will replace the variables in the prompt string.'}"
      matTooltipPosition="above">
      <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
        class="text-text-quaternary hover:text-text-tertiary w-full h-full">
        <path d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM11 15H13V17H11V15ZM13 13.3551V14H11V12.5C11 11.9477 11.4477 11.5 12 11.5C12.8284 11.5 13.5 10.8284 13.5 10C13.5 9.17157 12.8284 8.5 12 8.5C11.2723 8.5 10.6656 9.01823 10.5288 9.70577L8.56731 9.31346C8.88637 7.70919 10.302 6.5 12 6.5C13.933 6.5 15.5 8.067 15.5 10C15.5 11.5855 14.4457 12.9248 13 13.3551Z"></path>
      </svg>
    </div>
  </div>

  <div class="flex gap-2 items-center">
    <button type="button" class="action-btn action-btn-m"
      (click)="add()"
    >
      <i class="ri-add-line"></i>
    </button>
  </div>
</div>

<div class="flex flex-col">
  @for (memory of memories(); track memory.id; let i = $index) {
    <div class="flex">
      <div class="flex-1 flex gap-2">
        <xpert-state-variable-select class="grow" [variables]="variables()"
          [ngModel]="memory.variableSelector"
          [ngModelOptions]="{standalone: true}"
          (ngModelChange)="updateMemory(i, 'variableSelector', $event)"
        />

        <ngm-select class="w-28 border-0" [selectOptions]="InputTypeOptions"
          [placeholder]="'PAC.Xpert.InputType' | translate: {Default: 'InputType'}"
          [ngModel]="memory.inputType"
          [ngModelOptions]="{standalone: true}"
          (ngModelChange)="updateMemory(i, 'inputType', $event)"
        />

        @if (memory.inputType === 'constant') {
          <input class="grow rounded-lg bg-gray-100 px-2 py-1 focus:bg-white"
            [ngModel]="memory.value"
            (ngModelChange)="updateMemory(i, 'value', $event)">
        } @else {
          <div class="grow rounded-lg bg-gray-100 px-2 py-1 focus:bg-white">output</div>
        }
        <div class="flex gap-1">
          <!-- <ngm-select class="w-28 border-0" [selectOptions]="OPERATIONS"
            [placeholder]="'PAC.Xpert.Operation' | translate: {Default: 'Operation'}"
            [ngModel]="memory.operation"
            [ngModelOptions]="{standalone: true}"
            (ngModelChange)="updateMemory(i, 'operation', $event)"
          /> -->
        </div>
      </div>

      <div class="flex flex-col p-1">
        <button type="button" class="action-btn action-btn-l w-7 h-7 danger flex-shrink-0 group flex justify-center items-center rounded-lg overflow-hidden"
          (click)="deleteMemory(i)">
          <i class="ri-delete-bin-line"></i>
        </button>
      </div>
    </div>
  }
</div>