<div class="var-search-input-wrapper p-2">
  <div class="relative w-full">
    <i class="ri-search-2-line absolute left-1.5 top-1"></i>
    <input class="w-full appearance-none border border-transparent bg-components-input-bg-normal py-1.5 text-components-input-text-filled caret-primary-600 outline-none placeholder:text-components-input-text-placeholder hover:border-components-input-border-hover hover:bg-components-input-bg-hover focus:border-components-input-border-active focus:bg-components-input-bg-active focus:shadow-xs px-3 rounded-lg system-sm-regular pl-[26px]" 
      [placeholder]="'PAC.KEY_WORDS.SearchTerm' | translate: {Default: 'Search term'}" tabindex="0"
      [(ngModel)]="searchTerm"
    >
  </div>
</div>

<ul class="grow px-2 pb-2 overflow-auto">
  @for (g of filteredVariables(); track g) {
    @if (g.group) {
      <div class="p-1 mt-2 text-sm font-semibold text-text-secondary uppercase">{{g.group.description | i18n}}</div>
    } @else {
      <div class="p-1 mt-2 text-sm font-semibold text-text-secondary">{{'PAC.Copilot.SystemVariables' | translate: {Default: 'System Variables'} }}</div>
    }
    @for (item of g.variables; track item.name) {
      <li class="variable-item max-w-sm p-1 rounded-md cursor-pointer hover:bg-hover-bg" tabindex="0"
        [class.text-primary-500]="item.name === variable()?.name"
        (click)="selectVariable(g.group?.name, item);">
        <div class="w-full flex items-center space-x-2 truncate">
          <span class="text-sm mr-1">{{ item.name }}</span>
          <span class="flex-1 text-xs italic truncate text-text-secondary">{{item.description | i18n}}</span>
          <span class="ml-4 px-1 text-sm rounded-md bg-gray-50 text-primary-300">{{item.type}}</span>
        </div>
      </li>
    }
  }
</ul>