@switch (data().type) {
  @case ('AnalyticalCard') {
    <ngm-analytical-card
      [title]="data().title"
      [dataSettings]="data().dataSettings"
      [chartSettings]="chartSettings()"
      [slicers]="data().slicers"
      [options]="{
        showSlicers: true
      }"
      (explain)="setExplains($event)"
    >
      <button ngmAction class="btn pressable flex justify-center items-center w-6 h-6 rounded-full border-light"
        [matTooltip]="'PAC.Chat.OpenExplorer' | translate: {Default: 'Open Explorer'}"
        matTooltipPosition="above"
        (click)="openExplorer()">
        <i class="ri-expand-diagonal-2-line"></i>
      </button>
    
      <button ngmAction class="btn pressable flex justify-center items-center w-6 h-6 rounded-full border-light"
        [matTooltip]="'PAC.Chat.OpenExplain' | translate: {Default: 'Open Explain'}"
        matTooltipPosition="above"
        (click)="openExplain()">
        <i class="ri-terminal-box-line"></i>
      </button>
    </ngm-analytical-card>
  }
  @case ('KPI') {
    @if (indicator()) {
      <div class="dark">
        <ngm-indicator class="bg-components-card-bg p-4 rounded-lg" [dataSettings]="dataSettings()" [indicatorCode]="indicator()" [lookBack]="12" 
          [timeGranularity]="eTimeGranularity.Month"
        />
      </div>
    } @else {
      <pac-widget-kpi displayDensity="compact" [title]="data().title"
        [dataSettings]="data().dataSettings"
        [slicers]="data().slicers"
        [options]="{
          showToolbar: true,
          shortNumber: true,
          digitsInfo: '0.0-2'
        }"
        (explain)="setExplains($event)"
      >
        <button ngmAction class="btn pressable flex justify-center items-center w-6 h-6 rounded-full border-light"
          (click)="openExplain()">
          <i class="ri-terminal-box-line"></i>
        </button>
      </pac-widget-kpi>
    }
  }
  @case ('Indicators') {
    <div class="dark flex flex-col items-stretch">
      @for (indicator of indicators(); track indicator.indicator) {
        <ngm-indicator class="indicator min-h-[75px] border-t border-solid dark:border-neutral-800 border-transparent bg-components-card-bg p-4 cursor-pointer hover:bg-components-panel-bg first:rounded-t-xl last:rounded-b-xl"
          [class.active]="indicatorExplorer() === indicator.indicator"
          [dataSettings]="indicator" [indicatorCode]="indicator.indicator"
          [lookBack]="12" 
          [timeGranularity]="eTimeGranularity.Month"
          [tagType]="indicatorTagType()"
          (click)="toggleIndicator(indicator.indicator)"
          (toggleTag)="toggleIndicatorTagType()"
        />
        @if (indicatorExplorer() === indicator.indicator) {
          <ngm-indicator-explorer class="ngm-indicator-explorer last:rounded-b-xl"
            [dataSettings]="indicator"
            [indicatorCode]="indicator.indicator" 
            [lookBack]="12" 
            periodName="6M"
            [primaryTheme]="'dark'"
          />
        }
      }
    </div>
  }
}
