@use 'sass:map';
@use 'sass:color';
@use 'libs/material-theme/src/styles/theme-compat' as mat;

@mixin color($config-or-theme) {
  $config: mat.m2-get-color-config($config-or-theme);
  $background: map.get($config, background);
  $foreground: map.get($config, foreground);
  $primary: map.get($config, primary);
  $accent: map.get($config, accent);

  .pac-model-query-lab {
    .z-tab-group {
      height: 100%;
      .z-tab-group__content {
        height: 100%;
      }
    }
  }

  .mdc-tooltip.pac-model-query__statement-tip,
  .pac-model-query__statement-tip {
    background-color: white;
    color: black;
    white-space: pre-wrap;
    @include mat.elevation(8);
  }

}

@mixin density($config-or-theme) {
}
