ngm-slicer {
  z-chip-listbox {
    max-width: 100%;
    z-chip-option {
      padding: 0 8px;
      min-height: 24px;
      max-width: 100%;
      .ngm-display-behaviour {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
ngm-slicers, ngm-slicer-bar {
  .z-divider {
    margin: .5rem 0;
  }
}
