<div class="menu-trigger group flex justify-start items-center text-sm pl-2 p-1 rounded-lg bg-gray-100 hover:bg-gray-200"
  #trigger="cdkMenuTriggerFor"
  [cdkMenuTriggerFor]="varsMenu"
>
  <i class="ri-chat-thread-line mr-1 text-primary-400 group-hover:text-primary-500 "></i>
  @if (variable()) {
    @if (group()?.group) {
      <div class="max-w-[60px] truncate font-medium"
        [title]="group().group.name"
      >{{group().group.description | i18n}}</div>
      <span class="mx-1">/</span>
    }
    <div class="grow flex items-center truncate ml-0.5 text-text-accent font-medium">
      <span class="text-sm mr-1 truncate">{{ variable().name }}</span>
      <span class="flex-1 text-xs italic truncate text-text-secondary">{{variable().description | i18n}}</span>
      <span class="ml-2 px-1 text-sm rounded-md bg-gray-50 text-primary-300">{{variable().type}}</span>
    </div>

    @if (nullable()) {
      <div class="w-6 h-6 ml-1 flex justify-center items-center rounded-md text-text-secondary hover:bg-hover-bg hover:text-text-primary cursor-pointer"
        (click)="setVariable(null);$event.stopPropagation()"><i class="ri-close-circle-line"></i></div>
    }
  } @else {
    <div class="text-text-secondary">{{'PAC.Xpert.StateVariable' | translate: {Default: 'State variable'} }}</div>
  }
</div>


<ng-template #varsMenu>
  <xpert-variable-panel class="border-[0.5px] border-solid border-slate-200 rounded-xl shadow-lg bg-components-card-bg" (click)="$event.stopPropagation()" 
    [options]="varOptions()"
    [(variables)]="variables"
    [type]="type()"
    [types]="types()"
    [ngModel]="value$()"
    (ngModelChange)="setVariable($event);trigger.close()"
    (close)="trigger.close()"
  />
</ng-template>
