<header class="p-6 cursor-move" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <h4 class="text-xl font-semibold">
    {{ 'PAC.KEY_WORDS.MODIFY' | translate: {Default: 'Modify'} }} {{ 'PAC.KEY_WORDS.DataSource' | translate: {Default: 'Data Source'} }}
    {{nameCtrl.value}}
  </h4>
</header>

<div class="p-6 min-w-[500px] overflow-y-auto">
  @if(dataSource?.type) {
    <div class="flex justify-center items-center text-lg">
      <img src="assets/images/db-logos/{{dataSource.type.type}}.png" width="64" height="64">
      {{dataSource.type.name}}
    </div>
  }

  <form [formGroup]="formGroup" class="flex flex-col justify-start items-stretch">
    <ngm-input [ngClass]="{'ngm-input-error': nameCtrl.invalid}" [label]="'PAC.MENU.DATA_SOURCES.NAME' | translate: {Default: 'Name'}"
      formControlName="name" required>
      @if (nameCtrl.invalid) {
        <span ngmError>
        {{ 'PAC.MENU.DATA_SOURCES.NAME_REQUIRED' | translate: {Default: 'Name Required'} }}
        </span>
      }
    </ngm-input>

    <div class="flex justify-between items-center mx-2 mb-6">
      @if (enableLocalAgent) {
        <mat-slide-toggle formControlName="useLocalAgent" disableRipple labelPosition="before">
          {{ 'PAC.MENU.DATA_SOURCES.USE_LOCAL_AGENT' | translate: {Default: 'Use Local Agent'} }}
        </mat-slide-toggle>
      }

      @if (isXmla()) {
        <div class="flex justify-end items-center gap-2">
          <label>{{ 'PAC.MENU.DATA_SOURCES.AuthType' | translate: {Default: 'Auth Type'} }}</label>
          <ngm-radio-select [selectOptions]="[
            {
              value: null,
              label: ('PAC.MENU.DATA_SOURCES.AuthType_None' | translate: {Default: 'None'}),
              description: ('PAC.MENU.DATA_SOURCES.AuthType_None_Description' | translate: {Default: 'Unified system authorization, no need for users to provide accounts.'})
            },
            {
              value: AuthenticationEnum.BASIC,
              label: ('PAC.MENU.DATA_SOURCES.AuthType_Basic' | translate: {Default: 'Basic'}),
              description: ('PAC.MENU.DATA_SOURCES.AuthType_Basic_Description' | translate: {Default: 'Users need to provide an account for authorization.'})
            }
          ]"/>
        </div>
      }
    </div>

  </form>

  @if (schema$()) {
    <formly-form
      [form]="options"
      [fields]="schema$()"
      [model]="model"
    />
  } @else {
    <list-content-loader />
  }
</div>

<div class="flex justify-between p-4">
  <div ngmButtonGroup>
    <button mat-raised-button [disabled]="loading" (click)="ping()">
      {{ 'PAC.ACTIONS.PING' | translate: {Default: 'Ping'} }}
    </button>
  </div>
  <div ngmButtonGroup>
    <button mat-flat-button (click)="onCancel()">
      {{ 'PAC.ACTIONS.CANCEL' | translate: {Default: 'Cancel'} }}
    </button>
    <button mat-raised-button color="accent" [disabled]="formGroup.pristine||formGroup.invalid"
      (click)="onSave()">
      {{ 'PAC.ACTIONS.SAVE' | translate: {Default: 'Save'} }}
    </button>
  </div>
</div>
