<div class="flex justify-between items-center h-8">
  <div class="flex items-center space-x-1 shrink-0">
    <div class="flex items-center justify-center w-6 h-6">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-primary-500" data-icon="BracketsX" aria-hidden="true">
        <path d="M18.5708 20C19.8328 20 20.8568 18.977 20.8568 17.714V13.143L21.9998 12L20.8568 10.857V6.286C20.8568 5.023 19.8338 4 18.5708 4M5.429 4C4.166 4 3.143 5.023 3.143 6.286V10.857L2 12L3.143 13.143V17.714C3.143 18.977 4.166 20 5.429 20M15 9L9 15M9 9L15 15" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg>
    </div>
    <div class="text-sm font-semibold">
      <div class="flex items-center">
        <div class="p-[1px] w-4 h-4 shrink-0"
          [matTooltip]="'PAC.Xpert.OutputVariablesInfo' | translate: {Default: 'The parameters will be a form for users to fill in before the dialogue, and the form content filled in by the user will replace the variables in the prompt string.'}"
          matTooltipPosition="above">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
            class="text-text-quaternary hover:text-text-tertiary w-full h-full">
            <path d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM11 15H13V17H11V15ZM13 13.3551V14H11V12.5C11 11.9477 11.4477 11.5 12 11.5C12.8284 11.5 13.5 10.8284 13.5 10C13.5 9.17157 12.8284 8.5 12 8.5C11.2723 8.5 10.6656 9.01823 10.5288 9.70577L8.56731 9.31346C8.88637 7.70919 10.302 6.5 12 6.5C13.933 6.5 15.5 8.067 15.5 10C15.5 11.5855 14.4457 12.9248 13 13.3551Z"></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
  
  <div class="flex gap-2 items-center">
    <div class="flex items-center rounded-md h-7 px-3 space-x-1 cursor-pointer select-none text-text-secondary hover:bg-state-base-hover"
      [cdkMenuTriggerFor]="parameterTypeMenu">
      <i class="ri-add-line"></i>
      <div class="text-xs font-medium">{{ 'PAC.ACTIONS.Add' | translate: {Default: 'Add'} }}</div>
    </div>
  </div>
</div>

<div class="flex flex-col gap-1 mt-1">
  @for (param of parameters(); track i; let i = $index) {
    <div class="w-full flex justify-start items-start">
      <xpert-parameter-input class="grow p-1 pl-2 group/item"
        [ngModel]="param"
        (ngModelChange)="setParameter(i, $event)" />
        <!-- <xpert-parameter-icon [type]="param.value.type"/>
        <input matInput placeholder="name" maxlength="30"
          class="h-6 leading-6 block w-full rounded-md border-0 px-1 py-1.5 text-gray-900  placeholder:text-gray-400 focus:outline-none
                bg-transparent hover:bg-white focus:bg-white" type="text"
          [ngModel]="param.value.name"
          [ngModelOptions]="{standalone: true}"
          (ngModelChange)="updateParameter(i, 'name', $event)" >
        <div tabindex="0" class="p-1 rounded-md hover:bg-black/5 w-6 h-6 flex justify-center items-center cursor-pointer opacity-30 group-hover/item:opacity-100"
          #parammt="cdkMenuTriggerFor"
          [cdkMenuTriggerFor]="paramConfigMenu"
          [cdkMenuTriggerData]="{index: i, control: param, trigger: parammt}"
        >
          <i class="ri-settings-4-line"></i>
        </div> -->
      <div class="flex flex-col justify-start items-center p-1">
        <button type="button" class="action-btn action-btn-l w-7 h-7 danger flex-shrink-0 group flex justify-center items-center rounded-lg overflow-hidden"
          (click)="deleteParameter(i)">
          <i class="ri-delete-bin-line"></i>
        </button>
      </div>
    </div>
  }
</div>

<ng-template #parameterTypeMenu >
  <div #menu="cdkMenu" cdkMenu class="ngm-cdk-menu p-2">
    <xpert-parameter-menu-item class="flex items-center px-2 h-8 rounded-lg hover:bg-gray-50 cursor-pointer"
      cdkMenuItem
      [type]="eXpertParameterTypeEnum.TEXT"
      (click)="addParameter({type: eXpertParameterTypeEnum.TEXT, optional: true})"
    />
    <xpert-parameter-menu-item class="flex items-center px-2 h-8 rounded-lg hover:bg-gray-50 cursor-pointer"
      cdkMenuItem
      [type]="eXpertParameterTypeEnum.NUMBER"
      (click)="addParameter({type: eXpertParameterTypeEnum.NUMBER, optional: true})"
    />
    <xpert-parameter-menu-item class="flex items-center px-2 h-8 rounded-lg hover:bg-gray-50 cursor-pointer"
      cdkMenuItem
      [type]="eXpertParameterTypeEnum.OBJECT"
      (click)="addParameter({type: eXpertParameterTypeEnum.OBJECT, optional: true})"
    />
    <xpert-parameter-menu-item class="flex items-center px-2 h-8 rounded-lg hover:bg-gray-50 cursor-pointer"
      cdkMenuItem
      [type]="eXpertParameterTypeEnum.SELECT"
      (click)="addParameter({type: eXpertParameterTypeEnum.SELECT, optional: true})"
    />
    <xpert-parameter-menu-item class="flex items-center px-2 h-8 rounded-lg hover:bg-gray-50 cursor-pointer"
      cdkMenuItem
      [type]="eXpertParameterTypeEnum.ARRAY_STRING"
      (click)="addParameter({type: eXpertParameterTypeEnum.ARRAY_STRING, optional: true})"
    />
    <xpert-parameter-menu-item class="flex items-center px-2 h-8 rounded-lg hover:bg-gray-50 cursor-pointer"
      cdkMenuItem
      [type]="eXpertParameterTypeEnum.ARRAY"
      (click)="addParameter({type: eXpertParameterTypeEnum.ARRAY, optional: true})"
    />
  </div>
</ng-template>
<!-- 
<ng-template #paramConfigMenu let-index="index" let-control="control" let-trigger="trigger">
  <div class="parameter-config-menu p-4 rounded-xl border-[0.5px] border-solid border-divider-deep shadow-lg bg-components-card-bg overflow-auto">
    <div class="w-full flex justify-between items-center">
      <h3 class="text-xl font-semibold leading-6">{{ 'PAC.Xpert.EditParameter' | translate: {Default: 'Edit parameter'} }}</h3>
      <button type="button" class="btn rounded-xl justify-center w-8 h-8"
        (click)="trigger.close()">
        <i class="ri-close-line"></i>
      </button>
    </div>

    <xpert-parameter-form [ngModel]="control.value"
      (ngModelChange)="setParameter(index, $event)"
      [ngModelOptions]="{standalone: true}" />
  </div>
</ng-template> -->