@if (!isRoot()) {
  <div fNodeInput [fInputId]="node().key" fInputConnectableSide="top" class="top"></div>
}

<div class="node-output-bottom flex items-center gap-2 h-3 absolute -bottom-[8px] left-1/2 -ml-5">
  <div fNodeOutput [fOutputId]="node().key + '/agent'" fOutputConnectableSide="bottom" [fOutputMultiple]="true">
    <ngm-plus-svg class="w-2 h-2 text-white" />
  </div>
  <div fNodeOutput [fOutputId]="node().key + '/xpert'" fOutputConnectableSide="bottom" [fOutputMultiple]="true">
    <ngm-plus-svg class="w-2 h-2 text-white" />
  </div>
  <div fNodeOutput [fOutputId]="node().key + '/toolset'" fOutputConnectableSide="bottom" [fOutputMultiple]="true">
    <ngm-plus-svg class="w-2 h-2 text-white" />
  </div>
</div>

<div class="node-output-left flex flex-col items-center gap-2 w-3 absolute -left-[8px] top-1/2 -mt-5">
  <div fNodeInput [fInputId]="node().key + '/edge'" fInputConnectableSide="left">
  </div>
</div>

<div class="node-output-right flex flex-col items-center gap-2 w-3 absolute -right-[8px] top-1/2 -mt-5">
  <div fNodeOutput [fOutputId]="node().key + '/edge'" fOutputConnectableSide="right" [fOutputMultiple]="true">
    <ngm-plus-svg class="w-2 h-2 text-white" />
  </div>
</div>

@if (xpertAgent()) {
  <div class="max-w-full flex justify-start items-center px-3 pt-3 pb-2 overflow-hidden">
    <emoji-avatar [avatar]="xpertAgent().avatar" small class="shrink-0 mr-2 rounded-lg overflow-hidden shadow-sm" />
    @if(isSensitive()) {
      <i class="ri-shield-keyhole-line mr-1 text-lg text-text-warning"
        [matTooltip]="'PAC.Xpert.SensitiveAgentTip' | translate: {Default: 'Sensitive agents require user confirmation before execution'}"
        matTooltipPosition="above">
      </i>
    }
    @if(isEnd()) {
      <i class="ri-stop-circle-line mr-1 text-lg text-text-secondary"
        [matTooltip]="'PAC.Xpert.EndAgentTip' | translate: {Default: 'The terminal agent, the run of chat ends after agent completed'}"
        matTooltipPosition="above">
      </i>
    }
    <div class="flex flex-col overflow-hidden text-base-content">
      <span class="text-base font-semibold uppercase truncate">{{xpertAgent().title}}</span>
    </div>
  </div>
  
  <div class="px-3 pb-2 w-full flex flex-col items-stretch">
    <p class="mb-2 px-2 text-sm text-token-text-secondary text-left line-clamp-3" [title]="xpertAgent().description">{{xpertAgent().description}}</p>

    <copilot-model-select readonly hiddenLabel [inheritModel]="xpertCopilotModel()" [modelType]="eModelType.LLM"
      [copilotModel]="copilotModel()"
    />

  </div>
}
