<div class="flex items-center">
  <div class="w-10 border-b border-solid border-divider-deep mx-2"></div>
  <span class="">总结的消息数量 (<span class="font-semibold">{{summarizeMessages}}</span>)</span>
  <div class="w-10 border-b border-solid border-divider-deep mx-2"></div>
  <span class="" [matTooltip]="'不触发总结的消息数'" matTooltipPosition="above"
  >最大容忍数量(<span class="font-semibold">{{maxMessages}}</span>)</span>
  <div class="w-10 text-center mx-4"> => </div>

  <span class="">保留数量 (<span class="font-semibold">{{retainMessages()}}</span>)</span>
</div>

<mat-slider class="w-full" [step]="2" showTickMarks discrete min="0" max="100" ngm-density small color="accent">
  <input [(ngModel)]="summarizeMessages" matSliderStartThumb>
  <input [(ngModel)]="maxMessages" matSliderEndThumb>
</mat-slider>

<copilot-prompt-editor class="relative shadow-md ngm-card-border-gradient self-stretch"
  [tooltip]="'PAC.Xpert.SystemPromptTooltip' | translate: {Default: 'Prompts guide AI reponses with instructions and contraints. Insert parameters like {{input}}. This prompt won\'t be visible to users.'}"
  [(prompt)]="prompt"
/>