@switch (category()) {
  @case ('Computer') {
    @switch (data().type) {
      @case ('Files') {
        <chat-component-message-files [data]="data()" />
      }
      @case (eChatMessageStepCategory.Tasks) {
        <chat-component-message-tasks [data]="data()" />
      }
      @case ('iframe') {
        <chat-component-message-iframe [data]="data().data" />
      }
      @case ('Iframe') {
        <chat-component-message-iframe [data]="data()" />
      }
      @case ('Tasks') {
        <chat-component-schedule-tasks [tasks]="tasks()" class="dark"/>
      }
      @default {
        @if (step(); as step) {
          <chat-tool-call-chunk [chunk]="step" [conversationStatus]="conversationStatus()" (click)="openComponentMessage()" />
        }
      }
    }
  }
  @case ('Tool') {
    @switch (data().type) {
      @case (eChatMessageStepCategory.Memory) {
        <chat-component-memories [memories]="data().data" />
      }
      @default {
        @if (step(); as step) {
          <chat-tool-call-chunk [chunk]="step" [conversationStatus]="conversationStatus()" (click)="openComponentMessage()" />
        }
      }
    } 
  }
  @default {
    <div class="text-text-secondary text-sm">Unsupported category: {{data().category}} from message: {{data() | json}}</div>
  }
}
