name: Build and Publish Docker Images Demo

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "develop" ]

permissions:
  contents: read
  packages: write

jobs:

  build:
    runs-on: ubuntu-latest
    # 注意：下面这行只能拦截仓库名不对的情况，拦截不了 Fork 的 PR
    if: github.repository == 'xpert-ai/xpert'
    environment: production
    strategy:
      fail-fast: false
      matrix:
        service:
          - { name: "xpert-api", context: ".deploy/api", image_name: "xpert-api-demo" }
          - { name: "xpert-webapp", context: ".deploy/webapp", image_name: "xpert-webapp-demo" }
    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ${{ matrix.service.context }}/Dockerfile
          load: true
          platforms: linux/amd64
          tags: |
            metadc/${{ matrix.service.image_name }}:latest
            ghcr.io/xpert-ai/${{ matrix.service.image_name }}:latest
            registry.cn-hangzhou.aliyuncs.com/metad/${{ matrix.service.image_name }}:latest
          cache-from: type=registry,ref=metadc/${{ matrix.service.image_name }}:latest
          cache-to: type=inline

      - name: Docker images list
        run: |
          sudo docker image list

      # --- 修改开始：增加了 if 判断 ---
      - name: Login to DockerHub
        uses: docker/login-action@v3
        if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push to Docker Hub Registry
        if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository
        run: |
          docker push metadc/${{ matrix.service.image_name }}:latest

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository
        with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push to GitHub Container Registry
        if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository
        run: |
          docker push ghcr.io/xpert-ai/${{ matrix.service.image_name }}:latest

      - name: Login to Aliyun arc
        uses: aliyun/acr-login@v1
        if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository
        with:
          login-server: https://registry.cn-hangzhou.aliyuncs.com
          username: "${{ secrets.ACR_USERNAME }}"
          password: "${{ secrets.ACR_PASSWORD }}"

      - name: Push to Aliyun arc
        if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository
        run: |
          docker push registry.cn-hangzhou.aliyuncs.com/metad/${{ matrix.service.image_name }}:latest