@reference "../../../../tailwind-workspace-reference.css";
:host {
  display: flex;
  flex-direction: column;
}

.ngm-tree-select__viewport {
  min-height: 200px;
  max-height: 100%;
}

z-chip-row {
  max-width: 100%;
}

z-chip-row .ngm-display-behaviour {
  text-overflow: ellipsis;
  overflow: hidden;
}

.z-chip-input {
  flex: 1 0 50px;
}

.mat-option {
  overflow: visible;
  max-width: unset;
}

.ngm-tree-select__search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  .ngm-tree-select__search-icon {
    position: absolute;
    left: 10px;
    top: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
  }
  .ngm-tree-select__search-input {
    padding: 10px;
    padding-left: 32px;
    border-radius: 10px;
  }
}

/* Deep styles */
:host::ng-deep {
  .mat-mdc-form-field-icon-prefix, .mat-mdc-form-field-icon-suffix {
    @apply self-end;
  }
}
