@reference "../../../../tailwind-workspace-reference.css";
:host {
  display: flex;
  flex-direction: column;
}

.ngm-tree-select__viewport {
  min-height: 200px;
  max-height: 100%;
}

z-chip-row {
  max-width: 100%;
}

z-chip-row .ngm-display-behaviour {
  text-overflow: ellipsis;
  overflow: hidden;
}

.z-chip-input {
  flex: 1 0 50px;
}

.ngm-tree-select__option {
  overflow: visible;
  max-width: unset;
  cursor: pointer;
  display: block;
  border-radius: 0.5rem;
  padding: 0.125rem 0.25rem;
}

.ngm-tree-select__option.selected {
  background: color-mix(in srgb, currentColor 8%, transparent);
}

.ngm-tree-select__search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  .ngm-tree-select__search-icon {
    position: absolute;
    left: 10px;
    top: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
  }
  .ngm-tree-select__search-input {
    padding: 10px;
    padding-left: 32px;
    border-radius: 10px;
  }
}
