@reference "../../../../../../styles/tailwind-reference.css";
:host {
  @apply relative flex flex-col overflow-y-auto;
}

.pac-cube-structure-drop {
  @apply rounded-xl m-1 border border-dashed border-divider-deep p-4 dark:border-neutral-800;
}

.pac-data-type-tag {
  border-color: var(--ngm-color-outline);
  @apply max-w-[100px] text-xs leading-3 inline-flex items-center px-2 py-1 rounded-full border border-solid truncate;
}

:host::ng-deep {
  z-checkbox {
    @apply overflow-hidden;

    .z-checkbox__label {
      flex: 1;
      overflow: hidden;
    }
  }
}
