:host {
  @apply relative flex flex-col overflow-y-auto;
}

.pac-cube-structure-drop {
  @apply rounded-xl m-1 border border-dashed border-slate-200 p-4 dark:border-neutral-800;
}

.pac-data-type-tag {
  border-color: var(--ngm-color-outline);
  @apply max-w-[100px] text-xs leading-3 inline-flex items-center px-2 py-1 rounded-full border border-solid truncate;
}

:host::ng-deep {
  .mat-mdc-checkbox {
    @apply overflow-hidden;
    
    .mat-internal-form-field {
      width: 100%;
    }

    .mdc-form-field > label {
      flex: 1;
    }
  }
}
